---
layout: gozanlink.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/en"
            value: "MAIN"
        currentLang: "EN"
        firstLang:
            link: "/ru/gozanlink"
            value: "РУ"
        secondLang:
            link: "/uz/gozanlink"
            value: "UZ"
        thirdLang:
            link: "/gozanlink"
            value: "УЗ"

    banner:
        img: "../assets/img/gozanlink/test_banner.jpg"
        title_strong: "GozanLink"
        title_rest: " GREENHOUSE MANAGEMENT SYSTEM"
        caption: "A monitoring system designed to monitor climatic and soil conditions in greenhouses. Collects data on important parameters such as internal and external temperature, relative humidity, wind speed, soil moisture, and temperature. It also helps to control power outages and pump operation, effectively manage it, and provides an opportunity to quickly solve problems"

    firstSection:
        title: "Pain points"
        problem_features:
            - img: "../assets/img/gozanlink/problems/frozen_plant.jpg"
              title: "FROZEN PLANTS"
              caption: "Low temperatures cause plants to freeze, stop growing, and damage the harvest"

            - img: "../assets/img/gozanlink/problems/rotten-tomato.jpg"
              title: "Moisture and fungi"
              caption: "Excessive moisture leads to the formation of mold and fungi in crops"

            - img: "../assets/img/gozanlink/problems/dry_soil.jpg"
              title: "SOIL DRYING"
              caption: "Dry or poorly moistened soil slows crop growth"

    secondSection:
        title: "OPPORTUNITIES"
        iconFeatures:
            - img: "../assets/img/gozanlink/icons/icons8-temperature-outside-100.png"
              title: "INTERNAL CLIMATE"
              paragraph: "Temperature and relative humidity of air inside the greenhouse"

            - img: "../assets/img/gozanlink/icons/icons8-pump-100.png"
              title: "PUMP CONTROL"
              paragraph: "Pump control sensor"

            - img: "../assets/img/gozanlink/icons/earth.png"
              title: "SOIL MONITORING"
              paragraph: "Soil temperature, humidity, and electrical conductivity"

            - img: "../assets/img/gozanlink/icons/icons8-temperature-100.png"
              title: "EXTERNAL CLIMATE"
              paragraph: "Outdoor air temperature and relative humidity"

            - img: "../assets/img/gozanlink/icons/icons8-wind-100.png"
              title: "WIND SPEED"
              paragraph: "Wind speed and direction outside"

    how_it_works:
        thumbnail: "../assets/img/gozanlink/video/thumbnail-1.png"
        video: "https://www.youtube.com/watch?v=FM1xrikogHc"
        title: "How it works?"
        text: "The GozanLink greenhouse monitoring system is installed in greenhouses with sensors that constantly monitor conditions. The system measures temperature, relative humidity, soil moisture, wind speed, and solar radiation, automatically transmitting data to a cloud platform. Data sent through the GSM modem provides farmers with real-time alerts, enabling them to take timely action when necessary."

    product_gallery:
        title: "PHOTOGALLERY"
        folder: "./assets/img/gozanlink/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/gozanlink/dashboard/1.jpg"
        photo_two: "../assets/img/gozanlink/dashboard/2.jpg"
        title: "Software solution"
        text: "Detailed diagrams in our dashboard provide information about the greenhouse climate and furnace operation, as well as reflect current temperature and humidity indicators. In addition, it also demonstrates important performance indicators for furnace management."

    video:
        title: "CURRENT APPLICATION"
        thumbnail: "../assets/img/gozanlink/video/thumbnail.jpg"
        link: "https://www.youtube.com/watch?v=ObGJ9q0o0d0"
        text: "The greenhouse management system is currently used by many farmers. This system helped one of them plant tomatoes for two years in a row and still get a good harvest. In addition, this system consumes less fuel to maintain hot temperatures in the greenhouse and allows the greenhouse owner to save a large amount of money. The system has a user-friendly interface for tracking internal weather data and also includes a well-functioning Telegram bot."

    hardware:
        photo: "../assets/img/gozanlink/en/hardware.png"
        title: "Device classification"
        text: "The GozanLink greenhouse monitoring system continuously monitors the conditions in the greenhouse using built-in sensors. The system automatically transmits data to the cloud platform by measuring temperature, relative humidity, soil moisture, wind speed, and solar radiation. The data transmitted through the GSM modem provides real-time alerts to farmers, enabling them to take the necessary measures."

    footer_info:
      title: "ORDER NOW!"
      info: "For ordering and questions you're interested in:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---