---
layout: app.njk

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"

    firstLang:
        value: "RU"
        link: "/ru"

    secondLang:
        value: "UZ"
        link: "/"

    carouselItems:
        - image:
            src: "assets/img/top-slider/slider-01.jpg"
            alt: "Image 1"
          caption:
            heading: "Ақлли агрометеостанциялар"
            text: "Бизнинг агрометеостанциямиз сизнинг боғингизни тинимсиз кузатади ва барча керакли метео-маълумотларни йиғиб боради. Шу билан бирга, у сизга об-ҳаво башорати ва ўсимликларда кўп учрайдиган касаллик ва зараркунандаларнинг ривожланиши хақида фойдали маълумотларни етказиб туради."
          link: "#oxus-ws"

        - image:
            src: "assets/img/top-slider/slider-02.jpg"
            alt: "Image 2"
          caption:
            heading: "Ақлли феромон тутқичлар"
            text: "Бизнинг феромон тутқичлар зараркунандаларни сунъий интеллект ёрдамида аниқлай олади ва бу хақида сизга зудлик билан хабар бера олади. Шунингдек, у сизнинг ҳудудингизда зараркунанда тарқалиши эҳтимоллигини айтади ва унга қарши курашишда фойдали маслаҳатлар беради."
          link: "#jayhun-trap-spec"


        - image:
            src: "assets/img/top-slider/slider-03.jpg"
            alt: "Oxus AirSense Аклли мониторинг"
          caption:
            heading: "Oxus AirSense Аклли мониторинг"
            text: "бу турли хил ифлослантирувчи моддалар, жумладан, ис гази, азот диоксиди ва майда дисперс заррачалар концентрациясини қайд этиш қобилиятига эга бўлган интеллектуал ҳаво мониторинги тизимидир."
          link: "#oxus-airsense"

        - image:
            src: "assets/img/top-slider/slider-04.jpg"
            alt: "Image 4"
          caption:
            heading: "GozanLink Иссикхона Менеджмнет"
            text: "Бу замонавий тизим иссиқхона хўжалигингизнинг асосий кўрсаткичларини назорат қилади: ҳаво ва тупроқнинг ҳарорати ҳамда намлиги, газ ёки кўмир сарфиёти, шунингдек насослар ва бошқа ускуналарнинг ишлашини кузатиб боради."
          link: "#gozanlink"


    firstSection:
        title: "ҚИШЛОҚ ХЎЖАЛИГИ СОХАСИДАГИ АЙРИМ МУАММОЛАР"
        iconFeatures:
            - img: "assets/img/icons/cloud.png"
              title: "ИҚЛИМНИНГ ЎЗГАРИШИ"
              paragraph: "Метеорологик маълумотларнинг рақламлашган кўринишда йўқлиги"

            - img: "assets/img/icons/earth.png"
              title: "ТУПРОҚНИНГ ШЎРЛАНИШИ"
              paragraph: "Тупроқнинг ҳолатини узлуксиз кузатишнинг имкони йўқлиги"

            - img: "assets/img/icons/insects.png"
              title: "КАСАЛЛИКЛАР ВА ЗАРАРКУНАНДАЛАР"
              paragraph: "Касаллик ва зараркунандаларга қарши кураш чораларининг вақтида бажарилмаслиги"

            - img: "assets/img/icons/cactus.png"
              title: "ХОСИЛДОРЛИКНИНГ ПАСАЙИШИ"
              paragraph: "Мавжуд ресурсларнинг нотўғри бошқарилиши оқибатидаги зарарлар"

            - img: "assets/img/icons/control.png"
              title: "ЭКСПОРТДА КАРАНТИН ТАЛАБЛАРИ"
              paragraph: "Пестицидлардан холи экологик тоза маҳсулот яратишнинг мураккаблиги"


    secondSection:
        title: "Таклиф этилаётган ечим"
        iconFeatures:
            - img: "assets/img/icons/binoculars.png"
              title: "Узлуксиз ва рақамлашган метеорологик кузатувлар"
              paragraph: "Атроф-муҳитни узлуксиз равишда монитринг қилиш имконияти"

            - img: "assets/img/icons/umbrella.png"
              title: "Юқори аниқликдаги агрометеорологик башоратлар"
              paragraph: "10 дан ортиқ агрометеорологик кўрсаткичларнинг бир хафталик башорати"

            - img: "assets/img/icons/plants.png"
              title: "Касаллик ривожланиш хавфини моделлаштириш"
              paragraph: "Пестицид қўлланилишини оптималлаштириш ва экспортбоп махсулот етиштириш"

    thirdSection:
        title: "OXUS-WS ишлащи"
        image: "../assets/img/section-photos/2024-09-11%2010.27.36.jpg"
        text: "Бу қишлоқ хўжалиги ҳудудларида атмосфера ва тупроқ ҳолатини кузатиш учун комплекс ечим ҳисобланади.
                Станция ҳаво ҳарорати, нисбий намлик, ёғингарчилик, шамол тезлиги ва йўналиши, тупроқ намлиги ва ҳарорати,
                тупроқнинг электр ўтказувчанлиги каби турли параметрларни ўлчайдиган датчиклар мажмуаси билан жиҳозланган"
        buttonValue: "Батафсил"
        buttonLink: "#"

    fourthSection:
        title: "“JAYHUN TRAP” ФЕРОМОН ТУТҚИЧИ"
        image: "../assets/img/section-photos/jayhun-trap.jpg"
        text: "Феромон тутқич кенг бурчакли мини-камералар ёрдамида юқори сифатли тасвирларни тинимсиз
                булутли платформага юклаб боради. Ушбу тасвирлар сунъий интеллек ёрдамда таҳлил қилинади ва ундаги зараркунандалар автомат равишда аниқланади. Феромон тутқич қуёш энергиясида
                тўла автоном тизимда ишлайди. Алоқа эса GSM модем ёрдамида амалга оширилади."
        buttonValue: "Батафсил"
        buttonLink: "#"

    fifthSection:
        title: "Oxus Airsense Кандай тузилган"
        image: "../assets/img/section-photos/airsense.png"
        text: "Агрометеостанция ҳаво ҳарорати ва намлиги, шамол тезлиги ва йўналиши, ёғингарчилик миқдори, тупроқ ҳарорати,
                намлиги ва электрўтказувчанлиги, геопозиция ва аккумуляторнинг заряди хақида маълумотларни тинимсиз булутли
                платформага узатиб туради. Алоқа GSM модем ёрдамида амалга оширилади. Агрометеостанция қуёш энергиясида тўла автоном тизимда
                ишлайди."
        buttonValue: "Батафсил"
        buttonLink: "#"

    sixthSection:
        title: "GozanLink ТЕХНИК ТАРИФИ"
        image: "../assets/img/section-photos/gozanlink.jpg"
        text: "Агрометеостанция Европа мамлакатларининг саноатида кенг қўлланиладиган ўта сезгир датчиклардан
                ташкил топган. Ҳар бир датчик сифати сертификацияланган бўлиб, бизнинг иқлим шароитида ҳам узоқ хизмат
                муддатига эга."
        buttonValue: "Батафсил"
        buttonLink: "/gozanlink"

    mainGallery:
        title: "фотогалерея"
        folder: "./assets/main-gallery"

    about_us_section:
        member_one:
          member_img: "../assets/img/members/about_02.jpg"
          member_name: "ЖАСУРБЕК ХОДЖАЕВ"
          member_position: "ТАЪСИСЧИ"
          member_desc_1: "Инха Университети профессори"
          member_desc_2: "PhD in ICT Engineering, Youngnam University, South Korea"
          member_desc_3: "Жанубий Корея, Ирландия, АҚШ ва Хитой давлатларида илмий тадқиқот ва ишланмалар борасида 15 йилдан ортиқ тажрибага эга"
        
        member_two:
          member_img: "../assets/img/members/about_01.jpg"
          member_name: "САРВАР АБДУЛЛАЕВ"
          member_position: "ТАЪСИСЧИ"
          member_desc_1: "Инха Университети профессори"
          member_desc_2: "PhD in Computer Science, King’s College London, UK"
          member_desc_3: "Жанубий Корея, Буюк Британия, АҚШ ва Хиндистон давлатларида илмий тадқиқот ва ишланмалар борасида 12 йилдан ортиқ тажрибага эга"

    media_about_us_section:
        title: "ОАВ Биз хакимизда"

        media_info:
          - title: "НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN"
            linkValue: "UNDP.ORG"
            link: "http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html"
          
          - title: "КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "В УЗБЕКИСТАНЕ ПОЯВИЛИСЬ СОБСТВЕННЫЕ МИНИАТЮРНЫЕ АГРОМЕТЕОРОЛОГИЧЕСКИЕ СТАНЦИИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

    partners_section:
      title: "БИЗНИНГ ҲАМКОРЛАР"
      folder: "./assets/img/partner-logos"

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"
---