---
layout: app.njk
permalink: "/en/index.html"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            value: "MAIN"
            link: "/en"

        currentLang: "EN"

        firstLang:
            value: "УЗ"
            link: "/"

        secondLang:
            value: "UZ"
            link: "/uz"

        thirdLang:
            value: "РУ"
            link: "/ru"

        products:
            value: "PRODUCTS"
            oxus_ws: "OXUS WS"
            jayhun_trap: "JAYHUN TRAP"
            oxus_airsense: "OXUS AIRSENSE"
            gozanlink: "GOZANLINK"

    carouselItems:
        - image:
            src: "assets/img/top-slider/slider_03.jpg"
            alt: "Image 1"
          mobile_image:
            src: "assets/img/top-slider/mobile-banner-oxus-ws.jpg"
            alt: "image 1"
          caption:
            heading: "Smart agrometeostations"
            text: "Our agrometeorological station continuously monitors your garden and collects all the necessary weather data. At the same time, it provides you with useful information about weather forecasts and the development of common diseases and pests in plants."
          link: "#oxus-ws"
          button: "READ MORE"

        - image:
            src: "assets/img/top-slider/jayhun_trap.jpg"
            alt: "Image 2"
          mobile_image:
            src: "assets/img/top-slider/jayhun_mobile_banner.jpeg"
            alt: "Image 2"
          caption:
            heading: "Smart pheromone traps"
            text: "Our pheromone traps can detect pests using artificial intelligence and promptly notify you. It also tells you the probability of a pest spreading in your area and gives you helpful tips on how to combat it."
          link: "#jayhun-trap-spec"
          button: "READ MORE"


        - image:
            src: "assets/img/top-slider/bad-air.jpg"
            alt: "Aqlli havo monitoringi"
          mobile_image:
            src: "assets/img/top-slider/airsense_mobile.jpg"
            alt: "Image 3"
          caption:
            heading: "Smart weather monitoring"
            text: "Technology for monitoring environmental quality and measuring the level of harmful substances in the air is an important part of environmental monitoring. These technologies allow for real-time measurements of chemicals, dust particles, gases, and other harmful elements in the air using various sensors."
          link: "#oxus-airsense"
          button: "READ MORE"

        - image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          mobile_image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          caption:
            heading: "Smart Greenhouse Management"
            text: "The platform for monitoring and collecting data on climate parameters in greenhouses is an innovative solution developed on the basis of modern technologies. This platform allows you to monitor and analyze various climatic parameters in greenhouses, including temperature, humidity, light, and carbon dioxide levels."
          link: "#gozanlink"
          button: "READ MORE"


    firstSection:
        title: "CERTAIN AGRICULTURAL PROBLEMS"
        iconFeatures:
            - img: "assets/img/icons/cloud.png"
              title: "CLIMATE CHANGE"
              paragraph: "Lack of digitized meteorological data"

            - img: "assets/img/icons/earth.png"
              title: "SOIL SALINITY"
              paragraph: "The inability to continuously monitor soil condition"

            - img: "assets/img/icons/insects.png"
              title: "DISEASES AND PESTRIES"
              paragraph: "Disease and pest control measures are delayed"

            - img: "assets/img/icons/cactus.png"
              title: "DECREASE IN YIELD"
              paragraph: "Damage from mismanagement of available resources"

            - img: "assets/img/icons/control.png"
              title: "EXPORT QUARANTINE REQUIREMENTS"
              paragraph: "The complexity of creating an environmentally friendly product free of pesticides"


    secondSection:
        title: "Proposed solution"
        iconFeatures:
            - img: "assets/img/icons/binoculars.png"
              title: "Continuous and digitized meteorological observations"
              paragraph: "The ability to continuously monitor the environment"

            - img: "assets/img/icons/umbrella.png"
              title: "High-precision agrometeorological forecasts"
              paragraph: "Weekly forecast of more than 10 agrometeorological indicators"

            - img: "assets/img/icons/plants.png"
              title: "Disease risk modeling"
              paragraph: "Optimization of pesticide application and production of export-oriented products"

    thirdSection:
        title_strong: "OXUS WS"
        title_rest: " AGROMETEOSTATION"
        image: "../assets/img/section-photos/2024-09-11 10.27.36.jpg"
        text: "The agrometeorological station designed for agriculture allows for the measurement of soil moisture, air temperature, humidity, wind speed, and direction. This information helps farmers make correct decisions during the process of crop cultivation."
        buttonValue: "READ MORE"
        buttonLink: "/oxus_ws"

    fourthSection:
        title_strong: "JAYHUN TRAP"
        title_rest: " PHEROMONE HOLDER"
        image: "../assets/img/section-photos/jayhun-trap.jpg"
        text: "Pheromone traps are used in agriculture to control pests. It attracts insects using pheromones, allowing farmers to monitor the number of pests and protect the crop using fewer pesticides."
        buttonValue: "READ MORE"
        buttonLink: "/jayhun_trap"

    fifthSection:
        title_strong: "Oxus Airsense"
        title_rest: " AIR MONITORING SYSTEM"
        image: "../assets/img/oxus_airsense/product.png"
        text: "The air monitoring system is designed to improve environmental quality and protect human health. AirSense identifies the presence of harmful substances and helps users make the right decisions to ensure a healthy and safe environment."
        buttonValue: "READ MORE"
        buttonLink: "/oxus_airsense"

    sixthSection:
        title_strong: "GozanLink"
        title_rest: " GREENHOUSE MANAGEMENT SYSTEM"
        image: "../assets/img/section-photos/gozanlink.jpg"
        text: "The system is designed to monitor the parameters of greenhouses. It collects data on temperature, humidity, and other conditions and helps farmers more effectively manage plant care processes."
        buttonValue: "READ MORE"
        buttonLink: "/gozanlink"

    mainGallery:
        title: "photogallery"
        folder: "./assets/main-gallery"

    about_us_section:
        title: "ABOUT US"
        member_one:
          member_img: "../assets/img/members/Jasurbek_Khodjaev_5.jpg"
          member_name: "JASURBEK XODJAYEV"
          member_position: "FOUNDER"
          member_desc_1: "'Inha' University professor"
          member_desc_2: "PhD in ICT Engineering, Youngnam University, South Korea"
          member_desc_3: "He has more than 15 years of experience in research and development in South Korea, Ireland, the United States, and China"

        member_two:
            member_img: "../assets/img/members/Azizbek_Marahimov_2.jpg"
            member_name: "AZIZBEK MARAXIMOV"
            member_position: "FOUNDER"
            member_desc_1: "'New Uzbekistan' University professor"
            member_desc_2: "PhD in Industrial Management"
            member_desc_3: "He has more than 10 years of experience in managing joint scientific and practical projects with countries such as South Korea, Germany, the UAE, Turkey, Jordan"

        member_three:
            member_img: "../assets/img/members/Sarvar_Abdullaev_1.jpg"
            member_name: "SARVAR ABDULLAYEV"
            member_position: "FOUNDER"
            member_desc_1: "'Inha' University professor"
            member_desc_2: "PhD in Computer Science, King's College London, UK"
            member_desc_3: "He has over 12 years of experience in research and development in South Korea, the United Kingdom, the United States, and India"


    media_about_us_section:
        title: "MEDIA ABOUT US"

        media_info:
          - title: "НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN"
            linkValue: "Undp.org"
            link: "http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html"
          
          - title: "КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ"
            linkValue: "Spot.uz"
            link: "https://www.spot.uz/ru/2019/03/15/meteo/"

          - title: "ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ"
            linkValue: "Gazeta.uz"
            link: "https://www.gazeta.uz/ru/2019/02/13/ferlov/"
          
          - title: "Amudario Research LLC Wins First Place in CGIAR Acceleration Program"
            linkValue: "Inha.uz"
            link: "https://inha.uz/general/amudario-research-llc-wins-first-place-in-cgiar-acceleration-program/"
          
          - title: "PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS"
            linkValue: "Inha.uz"
            link: "https://inha.uz/professors/professors-of-inha-university-in-tashkent-presented-smart-agrometeorological-stations/"

    partners_section:
      title: "OUR PARTNERS"
      folder: "./assets/img/partner-logos"

    footer_info:
      title: "ORDER NOW!"
      info: "For ordering and questions you're interested in:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"
---
