---
layout: jayhun_trap.njk

baseUrl: "../"

mySite:
    title: "Smart pheromone traps - Pest Detection with Artificial Intelligence"
    metaDescription: "Smart pheromone traps detect pests such as potato moths, plum fruit moths, Comstock worms, cherry flies, apple moths, and grapevine silk moths using artificial intelligence, sensor technologies, and advanced algorithms. These traps monitor pest activity, predict their spread in advance, and provide rapid notifications. Farmers and gardeners can use this modern technology to protect crops, increase productivity, and ensure environmental safety. The technology offers effective assistance in safeguarding yields and reducing harmful impacts. These solutions are widely used in agriculture and horticulture in Tashkent, Uzbekistan."
    email: "info@amudar.io"
    telegram: "https://t.me/amudar_io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/en"
            value: "MAIN"
        currentLang: "EN"
        firstLang:
            link: "/ru/jayhun_trap"
            value: "РУ"
        secondLang:
            link: "/uz/jayhun_trap"
            value: "UZ"
        thirdLang:
            link: "/jayhun_trap"
            value: "УЗ"

    banner:
        img: "../assets/img/jayhun_trap/banner-2.jpg"
        mobile_img: "../assets/img/jayhun_trap/mobile_banner.jpeg"
        title_strong: "Jayhun Trap"
        title_rest: " PHEROMONE HOLDER"
        caption: "The modern pheromone trap is an innovative pest control tool that uses artificial pheromones to attract and trap pests. This environmentally friendly device helps to monitor the number of pests and warns about their spread in advance, which allows for effective control measures and crop protection"

    firstSection:
        title: "Pain points"
        problem_features:
            - img: "../assets/img/jayhun_trap/problems/pest_population.jpg"
              title: "Insect abundance"
              caption: "An increase in the number of pests can cause difficulties in their effective management"

            - img: "../assets/img/jayhun_trap/problems/damaged crop.jpg"
              title: "Infected plants"
              caption: "Pests inflict significant damage on crops and affect overall health"

            - img: "../assets/img/jayhun_trap/problems/spoiled_gilos.jpg"
              title: "Performance and quality decline"
              caption: "Pest damage leads to a decrease in fruit quality and affects market value"

    pheromones:
        title: "INSECTS"
        media_info:
            - img: "../assets/img/jayhun_trap/pheromones/kartoshka_kuyasi_1.jpg"
              title: "Potato moth"
              caption: "It weakens potatoes and vegetable crops and hinders their growth"

            - img: "../assets/img/jayhun_trap/pheromones/olxo'ri_mevaxo'ri_1 (1).jpg"
              title: "Plum fruit eater"
              caption: "The larvae enter the fruits and cause them to fall early"

            - img: "../assets/img/jayhun_trap/pheromones/komstok_qurt.webp"
              title: "Comstock worm"
              caption: "A pest that sucks the juices of fruit plants and slows down their growth"
            
            - img: "../assets/img/jayhun_trap/pheromones/gilos_pashshasi_2.jpg"
              title: "Cherry fly"
              caption: "The pest's larvae decompose cherry fruits and cause their death"
            
            - img: "../assets/img/jayhun_trap/pheromones/olma kuyasi_1.jpg"
              title: "Apple moth"
              caption: "Their larvae make silky webs and eat and weaken the leaves of apple trees"
            
            - img: "../assets/img/jayhun_trap/pheromones/tok_ipak_qurt.webp"
              title: "Silkworm"
              caption: "Insect larvae eat large quantities of silk fruits and leaves of other plants and weaken them"

    secondSection:
        title: "DEVICE PARTS"
        iconFeatures:
            - img: "../assets/img/jayhun_trap/icons/icons8-house-100.png"
              title: "Trap Corps"
              paragraph: "Physical structure designed for catching and holding pheromone bait, chamber, and insects"

            - img: "../assets/img/jayhun_trap/icons/icons8-spider-web-100.png"
              title: "pheromone bait"
              paragraph: "A chemical agent that simulates the smell of female insects to attract male insects into traps"

            - img: "../assets/img/jayhun_trap/icons/icons8-technology-100.png"
              title: "Microcontroller"
              paragraph: "Camera functions, image processing, and cloud platform communication control unit"

            - img: "../assets/img/jayhun_trap/icons/icons8-battery-level-100.png"
              title: "accumulator"
              paragraph: "Rechargeable battery storing energy from solar panels"

            - img: "../assets/img/jayhun_trap/icons/icons8-camera-100 (2).png"
              title: "Wide-angle mini cameras"
              paragraph: "Device that continuously uploads high-quality images to the cloud platform"

            - img: "../assets/img/jayhun_trap/icons/icons8-cellular-network-100.png"
              title: "GSM modem"
              paragraph: "A device for establishing communication and transmitting data"

    how_it_works:
        img: "../assets/img/jayhun_trap/en/how_it_works.png"
        title: "How does it work?"
        text: "The pheromone trap uses wide-angle mini-cameras to continuously upload high-quality images onto a cloud platform.
These images are analyzed using artificial intelligence, and pests are automatically detected.
The pheromone trap operates on a fully autonomous system, powered by solar energy. Communication is carried out through a GSM-mode."

    product_gallery:
        title: "PHOTOGALLERY"
        folder: "./assets/img/jayhun_trap/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/jayhun_trap/dashboard/1.gif"
        photo_two: "../assets/img/jayhun_trap/dashboard/2.gif"
        title: "Software solution"
        features:
            - text: "Insect species and stages of development"
            - text: "Automatic insect hazard assessment"
            - text: "View in tabular and graphical form"
            - text: "Disease days, air and soil temperature"

    hardware:
        photo: "../assets/img/jayhun_trap/en/hardware.png"
        title: "Device classification"
        text: "High-quality pheromone grip with wide-angle mini cameras
continuously uploads images to the cloud platform. These images
with the help of artificial intelligence, and the pests in it are automatically
is determined. The pheromone holder operates in a fully autonomous system powered by solar energy. And communication
This is done using a GSM modem."

    footer_info:
      title: "ORDER NOW!"
      info: "For ordering and questions you're interested in:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---