---
layout: oxus_airsense.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/en"
            value: "MAIN"
        currentLang: "EN"
        firstLang:
            link: "/ru/oxus_airsense"
            value: "РУ"
        secondLang:
            link: "/uz/oxus_airsense"
            value: "UZ"
        thirdLang:
            link: "/oxus_airsense"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_airsense/banner-2.jpg"
        title_strong: "OXUS AIRSENSE"
        title_rest: " AIR MONITORING SYSTEM"
        caption: "The advanced air quality monitoring system is designed to detect harmful substances and key parameters in real time. The system continuously monitors the amount of pollutants in the air and at the same time measures other important environmental conditions such as temperature, humidity. The presented data is accurate and reliable, allowing for the correct assessment of air quality and its effective control"

    firstSection:
        title: "Pain points"
        problem_features:
            - img: "../assets/img/oxus_airsense/problems/air_quality.jpg"
              title: "Air pollution"
              caption: "Air pollution poses a serious threat to the environment"

            - img: "../assets/img/oxus_airsense/problems/mask.jpg"
              title: "Health risks"
              caption: "Air pollution can exacerbate health problems"

            - img: "../assets/img/oxus_airsense/problems/traffic-jam-exhaust.webp"
              title: "Policy and regulatory issues"
              caption: "Public authorities cannot identify sources of pollution"

    secondSection:
        title: "OPPORTUNITIES"
        iconFeatures:
            - img: "../assets/img/oxus_airsense/icons/pollution.png"
              title: "polluting substances"
              paragraph: "Measuring air pollutants is important"

            - img: "../assets/img/oxus_airsense/icons/PM.png"
              title: "Particle content"
              paragraph: "The amount of particulate matter in the air can be dangerous to health"

            - img: "../assets/img/oxus_airsense/icons/parameters.png"
              title: "Weather forecasts"
              paragraph: "Meteorological indicators are important for city health"

    how_it_works:
        img: "../assets/img/oxus_airsense/en/how_it_works.png"
        title: "How it works?"
        text: "AirSense collects air quality parameters, including NO₂, CO, NH₃, SO₂, H₂S, O₃, particulate matter (PM1.0, PM2.5, PM10), and weather data (air temperature, humidity, atmospheric pressure, wind speed). This data is gathered using modern sensors and transmitted to the server via GPS using GSM/GPRS technology to ensure accuracy. The information is displayed on an online control panel, allowing users to monitor air quality and make informed decisions."

    product_gallery:
        title: "PHOTOGALLERY"
        folder: "./assets/img/oxus_airsense/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/oxus_airsense/dashboard/1.gif"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Software solution"
        text: "All data on harmful substances and climate indicators are collected in a single source. The platform allows you to assess air quality and monitor its changes, providing quick data for analysis."

    hardware:
        photo: "../assets/img/oxus_airsense/en/hardware.png"
        title: "Device classification"
        text: "AirSense collects air quality parameters such as NO2, CO, NH3, SO2, H2S, O3, PM1.0, PM2.5, PM10 and weather data such as temperature, humidity, pressure, wind speed through modern sensors and transmits them to the server via GPS and GSM/GPRS technology. The data will be displayed on the online panel in real time, and users will be able to monitor air quality and make decisions. Satellite data will be combined for added accuracy."

    footer_info:
      title: "ORDER NOW!"
      info: "For ordering and questions you're interested in:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---