---
layout: oxus_ws.njk

baseUrl: "../"

mySite:
    title: "Smart agrometeostations – modern technology for weather monitoring"
    metaDescription: "Smart agrometeostations collect weather data and provide valuable insights for agriculture and various other industries."
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/en"
            value: "MAIN"
        currentLang: "EN"
        firstLang:
            link: "/ru/oxus_ws"
            value: "РУ"
        secondLang:
            link: "/uz/oxus_ws"
            value: "UZ"
        thirdLang:
            link: "/oxus_ws"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_ws/banner-6.jpg"
        mobile_img: "../assets/img/oxus_ws/mobile-banner.jpg"
        title_strong: "OXUS WS"
        title_rest: " AGROMETEOSTATION"
        caption: "Controls the main parameters of the environment and soil, including air temperature, humidity, precipitation, wind speed and direction, as well as soil moisture, temperature, and permeability. Provides data on climate analysis in agriculture, irrigation optimization, and crop management."

    firstSection:
        title: "Pain points"
        problem_features:
            - img: "../assets/img/oxus_ws/problems/tractor-in-mud.jpg"
              title: "Lack of real-time data"
              caption: "Lack of information hinders decision-making"

            - img: "../assets/img/oxus_ws/problems/overwatered-plant.jpg"
              title: "Inefficient resource management"
              caption: "Inadequate distribution of water and fertilizer leads to low yields"

            - img: "../assets/img/oxus_ws/problems/dead-crop.jpg"
              title: "Lack of predictive data"
              caption: "Planning without information leads to crop loss"

    secondSection:
        title: "OPPORTUNITIES"
        iconFeatures:
            - img: "../assets/img/oxus_ws/icons/icons8-dew-point-100.png"
              title: "Relative humidity"
              paragraph: "Measures atmospheric pressure, air temperature, and humidity"

            - img: "../assets/img/oxus_ws/icons/icons8-windsock-100.png"
              title: "Wind speed and direction"
              paragraph: "An anemometer and a propeller are used to measure wind"

            - img: "../assets/img/oxus_ws/icons/icons8-log-100.png"
              title: "Record data"
              paragraph: "Provides independent data tracking and transmission"

            - img: "../assets/img/oxus_ws/icons/icons8-soil-100.png"
              title: "Soil moisture and temperature"
              paragraph: "Provides continuous accurate measurements when mounted on soil"

            - img: "../assets/img/oxus_ws/icons/icons8-rain-100.png"
              title: "Precipitation"
              paragraph: "Records wind speed, direction, and precipitation"

    how_it_works:
        img: "../assets/img/oxus_ws/en/how_it_works.png"
        title: "How it works?"
        text: "Weather parameters such as wind direction, wind speed, air and soil moisture are measured by sensors and transmitted to the server via GSM/GPRS using GPS. The data is processed and displayed on an online dashboard, which farmers can use to monitor conditions and make informed decisions. Additionally, satellite data is incorporated to enhance the system's accuracy."

    product_gallery:
        title: "PHOTOGALLERY"
        folder: "./assets/img/oxus_ws/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/oxus_ws/dashboard/dashboard1-1.png"
        photo_two: "../assets/img/oxus_ws/dashboard/dashboard4-1.png"
        title: "Software solution"
        features:
            - text: "Weather station data"
            - text: "Weekly weather forecasts and other agrometeorological forecasts"
            - text: "Statistical indicators necessary for agronomists"
            - text: "Predictions for more than 30 diseases and pests"

    hardware:
        photo: "../assets/img/oxus_ws/en/hardware.png"
        title: "Device classification"
        text: "The OXUS weather station equipment includes a set of sensors for precise atmospheric and soil measurements such as temperature, humidity, soil moisture, and electrical conductivity. The control unit is equipped with a microprocessor for data collection, processing, and wireless communication. The solar panel provides a continuous power supply, which is backed up by a rechargeable battery as a backup."

    footer_info:
      title: "ORDER NOW!"
      info: "For ordering and questions you're interested in:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---