---
layout: app.njk
baseUrl: "../"
language: "en"
---
<a id="current-language">EN <i class="fa-solid fa-chevron-down"></i></a>
<ul class="custom-language-submenu">
    <li><a href="/">UZ</a></li>
    <li><a href="/ru">RU</a></li>
</ul>