---
layout: app.njk
baseUrl: "../"
language: "en"
---
<a id="current-language">EN <i class="fa-solid fa-chevron-down"></i></a>
<div class="custom-switcher-submenu">
    <a href="/">UZ</a>
    <a href="/ru">RU</a>
</div>