---
permalink: "/en"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="assets/css/slider.css">
    <link rel="stylesheet" href="assets/css/sticky-navbar.css">
    <link rel="stylesheet" href="assets/css/language-switcher.css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/flickity.css" media="screen">
</head>
<body class="mx-auto mb-10">
    <header class="navbar-custom">
        <nav>
            <a href="#" class="centered-link">
                <img src="assets/img/logo/logo.png" alt="Logo" />
            </a>

            <div class="language-switcher">
                <a class="language-switcher-button"><img src="assets/img/lang-icons/united-states.png" alt="En" /></a>
                <div class="language-menu">
                    <a href="/" class="language-item"><img src="assets/img/lang-icons/uzbekistan.png" alt="Uz" /></a>
                    <a href="/ru" class="language-item"><img src="assets/img/lang-icons/russia.png" alt="Ru" /></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="slider">
           <div class="main-carousel">
           {% for carouselItem in pageContentEn.carouselItems %}
               <div class="carousel-cell">
                   <img src="{{ carouselItem.image.src }}" alt="{{ carouselItem.image.alt }}" class="carousel-image">
                   <div class="carousel-caption-custom">
                      <h3 class="text-uppercase">{{ carouselItem.caption.heading }}</h3>
                      <p>{{ carouselItem.caption.text }}</p>
                   </div>
               </div>
           {% endfor %}
          </div>
        </section>

        <section class="my-5 container">
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
            <p class="my-5">hello</p>
            <p class="my-5">test</p>
            <p class="my-5">test</p>
        </section>
    </main>
    <script>
        // This will log the full URL of the current page to the console
        console.log(window.location.href);
    </script>
</body>
<script src="assets/js/flickity.pkgd.min.js"></script>
<script src="assets/js/top_carousel.js"></script>
<script src="assets/js/sticky_navbar.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</html>