---
layout: app.njk
baseUrl: ""
language: ""
---
<a id="current-language">UZ <i class="fa-solid fa-chevron-down"></i></a>
<ul class="custom-language-submenu">
    <li><a href="/ru">RU</a></li>
    <li><a href="/en">EN</a></li>
</ul>