<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="assets/css/slider.css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/flickity.css" media="screen">
</head>
<body class="mx-auto mb-10">
    <section id="slider">
       <div class="main-carousel">
       {% for carouselItem in pageContent.carouselItems %}
           <div class="carousel-cell">
               <img src="{{ carouselItem.image.src }}" alt="{{ carouselItem.image.alt }}" class="carousel-image">
               <div class="carousel-caption-custom">
                  <h3 class="text-uppercase">{{ carouselItem.caption.heading }}</h3>
                  <p>{{ carouselItem.caption.text }}</p>
               </div>
           </div>
       {% endfor %}
      </div>
    </section>

    <section class="container mx-auto mt-10 mb-10">
        <h1>{{ mainContent.title }}</h1>
        <p>{{ mainContent.description }}</p>

        <ul>
          {% for feature in mainContent.features %}
            <li>{{ feature }}</li>
          {% endfor %}
        </ul>
    </section>

</body>
<script src="assets/js/flickity.pkgd.min.js"></script>
<script src="assets/js/top_carousel.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
</html>