---
layout: app.njk
baseUrl: ""
language: ""
---
<a id="current-language">UZ <i class="fa-solid fa-chevron-down"></i></a>
<div class="custom-switcher-submenu">
    <a href="/ru">RU</a>
    <a href="/en">EN</a>
</div>