---
layout: app.njk
baseUrl: "../"
language: "ru"
---
<a id="current-language">RU <i class="fa-solid fa-chevron-down"></i></a>
<ul class="custom-language-submenu">
    <li><a href="/">UZ</a></li>
    <li><a href="/en">EN</a></li>
</ul>