---
layout: app.njk
baseUrl: "../"
language: "ru"
---
<a id="current-language">RU <i class="fa-solid fa-chevron-down"></i></a>
<div class="custom-switcher-submenu">
    <a href="/">UZ</a>
    <a href="/en">EN</a>
</div>