{% set assetsVersion = "6" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmudarIO</title>
    <link rel="stylesheet" href="../assets/css/slider.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/sticky-navbar.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/language-switcher.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/common.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/first-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/hamburger.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/feature.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/second-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/custom-carousel.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/about-us.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/media.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/partner.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/footer.css?v={{ assetsVersion }}">


    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../assets/css/flickity.css" media="screen">
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="../assets/fontawesome/css/solid.css"/>

    <link rel="stylesheet" href="../assets/css/fancybox.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="mx-auto mb-10">
    <header class="navbar-custom">
        <nav>
            <a href="#" class="centered-link">
                <img src="../assets/img/logo/logo.png" alt="Logo" />
            </a>

            <div class="right-block">
                <div class="dropdown-custom">
                    <div class="dropdown-content">
                        <a href="#">testing a really great app</a>
                        <a href="#">Link 2</a>
                    </div>
                </div>
                <div class="custom-language-switcher">
                </div>
                <button id="hamburger-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="contact-info align-items-center">
                    <a href="mailto:{{ mySite.email }}" class="mx-2 text-uppercase" id="email">{{ mySite.email }}</a>
                    <a href="tel:{{ mySite.phone }}" class="mx-2" id="phone">{{ mySite.phone }}</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="slider">
           <div class="main-carousel">
           {% for carouselItem in mySite.carouselItems %}
               <div class="carousel-cell">
                   <img src="../{{ carouselItem.image.src }}" alt="{{ carouselItem.image.alt }}" class="carousel-image">
                   <div class="carousel-caption-custom">
                      <h3 class="text-uppercase">{{ carouselItem.caption.heading }}</h3>
                      <p>{{ carouselItem.caption.text }}</p>
                      <a href="{{ carouselItem.link }}" class="learn-more-button">Батафсил</a>
                   </div>
               </div>
           {% endfor %}
          </div>
        </section>

        <section id="first-section" class="custom-feature-container">
            <span class="section-title">{{ mySite.firstSection.title }}</span>
            <div class="row mt-5 justify-content-center">
                {% for iconFeature in mySite.firstSection.iconFeatures %}
                   <div class="custom-feature">
                       <div class="feature-image-container">
                          <img src="../{{ iconFeature.img }}" class="custom-feature-img" />
                       </div>
                       <div class="feature-data">
                           <h5 class="text-uppercase">{{ iconFeature.title }}</h5>
                           <p>{{ iconFeature.paragraph }}</p>
                       </div>
                   </div>
               {% endfor %}
            </div>
        </section>

        <section id="second-section">
            <div class="section-wrapper custom-feature-container">
                <span class="section-title">{{ mySite.secondSection.title }}</span>
                <div class="row mt-5 justify-content-center">
                    {% for iconFeature in mySite.secondSection.iconFeatures %}
                       <div class="custom-feature">
                           <div class="feature-image-container">
                              <img src="../{{ iconFeature.img }}" class="custom-feature-img" />
                           </div>
                           <div class="feature-data">
                               <h5 class="text-uppercase">{{ iconFeature.title }}</h5>
                               <p>{{ iconFeature.paragraph }}</p>
                           </div>
                       </div>
                   {% endfor %}
                </div>
            </div>
        </section>

        <section id="oxus-ws" class="products">
            <div class="custom-container section-wrapper-ordinary">
                <div class="image-block">
                    <div id="meteostation-wrap">
                        <a href="../assets/img/section-photos/2024-09-11%2010.27.36.jpg"
                           data-fancybox>
                            <img src="../assets/img/section-photos/2024-09-11%2010.27.36.jpg" class="mb-3 custom-image-section"/>
                        </a>
                    </div>
                </div>
                <div class="text-block">
                    <div>
                        <h3 class="text-uppercase">OXUS-WS ишлащи</h3>
                        <p>
                            Бу қишлоқ хўжалиги ҳудудларида атмосфера ва тупроқ ҳолатини кузатиш учун комплекс ечим ҳисобланади.
                            Станция ҳаво ҳарорати, нисбий намлик, ёғингарчилик, шамол тезлиги ва йўналиши, тупроқ намлиги ва ҳарорати,
                            тупроқнинг электр ўтказувчанлиги каби турли параметрларни ўлчайдиган датчиклар мажмуаси билан жиҳозланган
                        </p>
                        <a href="#" class="learn-more-button">Батафсил</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="jayhun-trap-spec" class="products">
            <div class="custom-container section-wrapper-ordinary">
                <div class="text-block">
                    <div>
                        <h3 class="text-uppercase">“JAYHUN TRAP” ФЕРОМОН ТУТҚИЧИ</h3>
                        <p>
                            Феромон тутқич кенг бурчакли мини-камералар ёрдамида юқори сифатли тасвирларни тинимсиз
                            булутли платформага юклаб боради. Ушбу тасвирлар сунъий интеллек ёрдамда таҳлил қилинади ва ундаги зараркунандалар автомат равишда аниқланади. Феромон тутқич қуёш энергиясида
                            тўла автоном тизимда ишлайди. Алоқа эса GSM модем ёрдамида амалга оширилади.
                        </p>
                        <a href="#" class="learn-more-button">Батафсил</a>
                    </div>
                </div>

                <div class="image-block">
                    <div id="meteostation-wrap">
                        <a href="../assets/img/section-photos/jayhun-trap.jpg"
                           data-fancybox>
                            <img src="../assets/img/section-photos/jayhun-trap.jpg" class="mb-3 custom-image-section"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section id="oxus-airsense" class="products">
            <div class="custom-container section-wrapper-ordinary">
                <div class="image-block">
                    <div id="meteostation-wrap">
                        <a href="../assets/img/section-photos/airsense.png"
                           data-fancybox>
                            <img src="../assets/img/section-photos/airsense.png" class="mb-3 custom-image-section"/>
                        </a>
                    </div>
                </div>
                <div class="text-block">
                    <div>
                        <h3 class="text-uppercase">Oxus Airsense Кандай тузилган</h3>
                        <p>
                            Агрометеостанция ҳаво ҳарорати ва намлиги, шамол тезлиги ва йўналиши, ёғингарчилик миқдори, тупроқ ҳарорати,
                            намлиги ва электрўтказувчанлиги, геопозиция ва аккумуляторнинг заряди хақида маълумотларни тинимсиз булутли
                            платформага узатиб туради. Алоқа GSM модем ёрдамида амалга оширилади. Агрометеостанция қуёш энергиясида тўла автоном тизимда
                            ишлайди.
                        </p>
                        <a href="#" class="learn-more-button">Батафсил</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="gozanlink" class="products">
            <div class="custom-container section-wrapper-ordinary">
                <div class="text-block">
                    <div>
                        <h3 class="text-uppercase">GozanLink ТЕХНИК ТАРИФИ</h3>
                        <p>
                            Агрометеостанция Европа мамлакатларининг саноатида кенг қўлланиладиган ўта сезгир датчиклардан
                             ташкил топган. Ҳар бир датчик сифати сертификацияланган бўлиб, бизнинг иқлим шароитида ҳам узоқ хизмат
                              муддатига эга.
                        </p>
                        <a href="gozanlink" class="learn-more-button">Батафсил</a>
                    </div>
                </div>
                <div class="image-block">
                    <div id="meteostation-wrap">
                        <a href="../assets/img/section-photos/gozanlink.jpg"
                         data-fancybox>
                          <img src="../assets/img/section-photos/gozanlink.jpg" class="mb-3 custom-image-section"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        {% set "gallery" %}
            {% getGalleryPaths mySite.galleryFolder %}
        {% endset %}
        <section id="gallery-section">
            <div class="gallery-wrapper custom-container carousel-wrapper">
                <span class="carousel-title mb-4">ФОТОГАЛЕРЕЯ</span>
                <div class="carousel-bottom py-3">
                    {{ gallery | safe }}
                </div>
            </div>
        </section>

        <section id="about-us" class="pt-5">
            <span class="section-title custom-container mb-5">Биз хакимизда</span>
            <div class="about-us-wrapper custom-container">
                <div class="member-info">
                    <div class="member-image-title">
                        <img src="../assets/img/members/about_02.jpg"/>
                        <h5>ЖАСУРБЕК ХОДЖАЕВ</h5>
                        <p>ТАЪСИСЧИ</p>
                    </div>
                    <div class="member-text">
                        <ul>
                            <li>Инха Университети профессори</li>
                            <li>PhD in ICT Engineering, Youngnam University, South Korea</li>
                            <li>Жанубий Корея, Ирландия, АҚШ ва Хитой давлатларида илмий тадқиқот ва ишланмалар борасида 15 йилдан ортиқ тажрибага эга</li>
                        </ul>
                    </div>
                </div>

                <div class="member-info">
                    <div class="member-image-title">
                        <img src="../assets/img/members/about_01.jpg"/>
                        <h5>САРВАР АБДУЛЛАЕВ</h5>
                        <p>ТАЪСИСЧИ</p>
                    </div>
                    <div class="member-text">
                        <ul>
                            <li>Инха Университети профессори</li>
                            <li>PhD in Computer Science, King’s College London, UK</li>
                            <li>Жанубий Корея, Буюк Британия, АҚШ ва Хиндистон давлатларида илмий тадқиқот ва ишланмалар борасида 12 йилдан ортиқ тажрибага эга</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="media-about-us" class="py-5">
            <span class="section-title custom-container mb-5">ОАВ Биз хакимизда</span>
            <div class="custom-container">
                <div class="row justify-content-around">
                    <div class="media-info">
                        <h5>НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»</h5>
                        <a href="https://spot.uz/ru/2017/10/30/smart-farm/">Spot.uz</a>
                    </div>

                    <div class="media-info">
                        <h5>UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN</h5>
                        <a href="http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html">UNDP.ORG</a>
                    </div>

                    <div class="media-info">
                        <h5>КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ</h5>
                        <a href="https://spot.uz/ru/2017/10/30/smart-farm/">Spot.uz</a>
                    </div>

                    <div class="media-info">
                        <h5>ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ</h5>
                        <a href="https://spot.uz/ru/2017/10/30/smart-farm/">Spot.uz</a>
                    </div>

                    <div class="media-info">
                        <h5>В УЗБЕКИСТАНЕ ПОЯВИЛИСЬ СОБСТВЕННЫЕ МИНИАТЮРНЫЕ АГРОМЕТЕОРОЛОГИЧЕСКИЕ СТАНЦИИ</h5>
                        <a href="https://spot.uz/ru/2017/10/30/smart-farm/">Spot.uz</a>
                    </div>

                    <div class="media-info">
                        <h5>PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS</h5>
                        <a href="https://spot.uz/ru/2017/10/30/smart-farm/">Spot.uz</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-partners" class="py-5">
            <span class="section-title custom-container mb-5">БИЗНИНГ ҲАМКОРЛАР</span>
            <div class="custom-container carousel-wrapper">
                <div class="carousel-partners"
                  data-flickity='{ "wrapAround": true, "freeScroll": true, "pageDots": false }'>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/toshkent-800x800.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/toshkent-800x800.jpg" class="mb-3"/>
                    </a>
                  </div>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/logo_undp.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/logo_undp.jpg" class="mb-3"/>
                    </a>
                  </div>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/logo_tpp_02.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/logo_tpp_02.jpg" class="mb-3"/>
                    </a>
                  </div>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/logo_karantin_inspeksiya.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/logo_karantin_inspeksiya.jpg" class="mb-3"/>
                    </a>
                  </div>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/logo_inha.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/logo_inha.jpg" class="mb-3"/>
                    </a>
                  </div>
                  <div class="carousel-cell-partner">
                    <a href="../assets/img/partner-logos/hydromet-1.jpg"
                     data-fancybox="partner">
                      <img src="../assets/img/partner-logos/hydromet-1.jpg" class="mb-3"/>
                    </a>
                  </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class="top-footer-wrapper">
            <div class="top-footer">
                <h3>БУЮРТМА БЕРИНГ!</h3>
                <p>Буюртма бериш ва cизни қизиқтирган саволлар учун:</p>
                <div class="contact-buttons-footer">
                    <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                    <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
                </div>
            </div>
        </div>

        <div class="bottom-footer custom-container py-3">
            <span>2024 <strong>© Amudar.io</strong></span>
        </div>
    </footer>

</body>
<script src="../assets/js/flickity.pkgd.min.js"></script>
<script src="../assets/js/top_carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/sticky_navbar.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/fancybox.umd.js"></script>
<script src="../assets/js/fancybox-options.js"></script>
</html>