{% set assetsVersion = "19" %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ mySite.title }}</title>

{% for carouselItem in mySite.carouselItems %}
    <link rel="preload" href="../{{ carouselItem.mobile_image.src }}" as="image"/>
    <link rel="preload" href="../{{ carouselItem.image.src }}" as="image"/>
{% endfor %}
<link rel="preload" href="{{ baseUrl }}{{ mySite.banner.img }}" as="image"/>
<link rel="preload" href="{{ baseUrl }}{{ mySite.banner.mobile_img }}" as="image"/>



<link rel="stylesheet" href="{{ baseUrl }}../assets/css/slider.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/sticky-navbar.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/language-switcher.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/common.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/first-section.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/products-menu.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/hamburger.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/feature.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/second-section.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/section.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/custom-carousel.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/about-us.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/media.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/partner.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/footer.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/back-to-top.css?v={{ assetsVersion }}">

<link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/product.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/first-section-product.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/product-menu.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/characteristics.css?v={{ assetsVersion }}">
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/product/gozanlink.css?v={{ assetsVersion }}">

{#<link rel="stylesheet" href="{{ baseUrl }}../assets/css/bootstrap.min.css" >#}
<link rel="preload" href="{{ baseUrl }}../assets/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="{{ baseUrl }}../assets/css/bootstrap.min.css">
</noscript>
<link rel="stylesheet" href="{{ baseUrl }}../assets/css/flickity.css" media="screen">
<link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/fontawesome.css"/>
<link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/brands.css"/>
<link rel="stylesheet" href="{{ baseUrl }}../assets/fontawesome/css/solid.css"/>

<link rel="stylesheet" href="{{ baseUrl }}../assets/css/fancybox.css"/>

<link rel="apple-touch-icon" sizes="180x180" href="{{ baseUrl }}../assets/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ baseUrl }}../assets/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ baseUrl }}../assets/favicon_io/favicon-16x16.png">
<link rel="manifest" href="{{ baseUrl }}../assets/favicon_io/site.webmanifest">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ mySite.metaDescription }}">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DWZLDE14ZP"></script>
<script async>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DWZLDE14ZP');
</script>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Amudario Research",
        "url": "https://amudar.io",
        "logo": "https://amudar.io/assets/img/logo/newLogo.png",
        "description": "{{ mySite.metaDescription }}",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "{{ mySite.phone }}",
                "contactType": "Customer Service"
            }
        }
</script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">