{% set assetsVersion = "18" %}
<script src="../assets/js/flickity.pkgd.min.js"></script>
<script src="../assets/js/partners.js"></script>
<script src="../assets/js/top_carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/sticky_navbar.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/back-to-top.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/fancybox.umd.js"></script>
<script src="../assets/js/fancybox-options.js"></script>