{% set assetsVersion = "18" %}
<footer itemscope itemtype="http://schema.org/WPFooter">
    <div class="top-footer-wrapper">
        <div class="top-footer">
            <h3 class="text-uppercase">{{ mySite.footer_info.title }}</h3>
            <p>{{ mySite.footer_info.info }}</p>
            <div class="contact-buttons-footer">
                <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                <a href="{{ mySite.telegram }}"><i class="fa-brands fa-telegram"></i> TELEGRAM</a>
                <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer custom-container py-3">
        <span>{{ mySite.footer_info.bottom_strong }}<strong>{{ mySite.footer_info.bottom_ord }}</strong></span>
    </div>
</footer>

</body>

<script src="../assets/js/flickity.pkgd.min.js"></script>
<script src="../assets/js/partners.js"></script>
<script src="../assets/js/top_carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/sticky_navbar.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/back-to-top.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/fancybox.umd.js"></script>
<script src="../assets/js/fancybox-options.js"></script>
</html>