<footer itemscope itemtype="http://schema.org/WPFooter">
    <div class="top-footer-wrapper">
        <div class="top-footer">
            <h3 class="text-uppercase">{{ mySite.footer_info.title }}</h3>
            <p>{{ mySite.footer_info.info }}</p>
            <div class="contact-buttons-footer">
                <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                <a href="{{ mySite.telegram }}"><i class="fa-brands fa-telegram"></i> TELEGRAM</a>
                <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer custom-container py-3">
        <span>{{ mySite.footer_info.bottom_strong }}<strong>{{ mySite.footer_info.bottom_ord }}</strong></span>
    </div>
</footer>