<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmudarIO</title>
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/slider.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/sticky-navbar.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/language-switcher.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/common.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/first-section.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/hamburger.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/feature.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/second-section.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/section.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/custom-carousel.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/about-us.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/media.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/partner.css">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/footer.css">


    <link rel="stylesheet" href="{{ baseUrl }}assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/flickity.css" media="screen">
    <link rel="stylesheet" href="{{ baseUrl }}assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="{{ baseUrl }}assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="{{ baseUrl }}assets/fontawesome/css/solid.css"/>

    <link rel="stylesheet" href="{{ baseUrl }}assets/css/fancybox.css"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body class="mx-auto mb-10">
<header class="navbar-custom">
    <nav>
        <a href="#" class="centered-link">
            <img src="{{ baseUrl }}assets/img/logo/logo.png" alt="Logo" />
        </a>

        <div class="right-block">
            <div class="dropdown-custom">
                <div class="dropdown-content">
                    <a href="#">testing a really great app</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
            <div class="custom-language-switcher">
                {{ content | safe }}
            </div>
            <button id="hamburger-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="contact-info align-items-center">
                <a href="mailto:{{ mySite.email }}" class="mx-2 text-uppercase" id="email">{{ mySite.email }}</a>
                <a href="tel:{{ mySite.phone }}" class="mx-2" id="phone">{{ mySite.phone }}</a>
            </div>
        </div>
    </nav>
</header>



<footer>
    <div class="top-footer-wrapper">
        <div class="top-footer">
            <h3>БУЮРТМА БЕРИНГ!</h3>
            <p>Буюртма бериш ва cизни қизиқтирган саволлар учун:</p>
            <div class="contact-buttons-footer">
                <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer custom-container py-3">
        <span>2024 <strong>© Amudar.io</strong></span>
    </div>
</footer>
</body>
<script src="{{ baseUrl }}assets/js/flickity.pkgd.min.js"></script>
<script src="{{ baseUrl }}assets/js/top_carousel.js"></script>
<script src="{{ baseUrl }}assets/js/carousel.js"></script>
<script src="{{ baseUrl }}assets/js/sticky_navbar.js"></script>
<script src="{{ baseUrl }}assets/js/hamburger.js"></script>
<script src="{{ baseUrl }}assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ baseUrl }}assets/js/fancybox.umd.js"></script>
<script src="{{ baseUrl }}assets/js/fancybox-options.js"></script>
</html>