{#{% if language == 'en' %}#}
{#    {% set mySite = pageContentEn %}#}
{#    {% elif language == 'ru' %}#}
{#    {% set mySite = pageContentRu %}#}
{#{% else %}#}
{#    {% set mySite = pageContent %}#}
{#{% endif %}#}
{% set assetsVersion = "6" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmudarIO</title>
    <link rel="stylesheet" href="../assets/css/slider.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/sticky-navbar.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/language-switcher.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/common.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/first-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/hamburger.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/feature.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/second-section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/section.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/custom-carousel.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/about-us.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/media.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/partner.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/footer.css?v={{ assetsVersion }}">

    <link rel="stylesheet" href="../assets/css/product/product.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/product/first-section-product.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/product/product-menu.css?v={{ assetsVersion }}">
    <link rel="stylesheet" href="../assets/css/product/characteristics.css?v={{ assetsVersion }}">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../assets/css/flickity.css" media="screen">
    <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css"/>
    <link rel="stylesheet" href="../assets/fontawesome/css/brands.css"/>
    <link rel="stylesheet" href="../assets/fontawesome/css/solid.css"/>

    <link rel="stylesheet" href="../assets/css/fancybox.css"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body class="mx-auto mb-10">
<header class="navbar-custom">
    <nav>
        <div class="d-flex justify-content-between align-items-center">
            <a href="/" class="centered-link">
                <img src="../assets/img/logo/logo.png" alt="Logo" />
            </a>
        </div>

        <div class="right-block">
            <div class="dropdown-custom">
                <div class="dropdown-content">
                    <a href="#">testing a really great app</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
            <div class="custom-language-switcher">
                <a href="/">АСОСИЙ</a>
                <a href="/ru">RU</a>
                <a href="/en">EN</a>
            </div>
            <button id="hamburger-button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="contact-info align-items-center">
                <a href="mailto:{{ mySite.email }}" class="mx-2 text-uppercase" id="email">{{ mySite.email }}</a>
                <a href="tel:{{ mySite.phone }}" class="mx-2" id="phone">{{ mySite.phone }}</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <section id="product-banner">
        <div class="banner-wrapper">
            <img src="../assets/img/top-slider/slider-04.jpg"  alt="banner"/>
            <div class="carousel-caption-custom text-uppercase">
                <h3>GozanLink Иссикхона Назоратчиси</h3>
                <p>
                    Бу замонавий тизим иссиқхона хўжалигингизнинг асосий кўрсаткичларини назорат қилади:
                    ҳаво ва тупроқнинг ҳарорати ҳамда намлиги, газ ёки кўмир сарфиёти, шунингдек насослар ва
                    бошқа ускуналарнинг ишлашини кузатиб боради.
                </p>
            </div>
        </div>
    </section>

    <section id="problem-emphasize">
        <span class="section-title custom-feature-container">MAIN PAIN POINTS</span>
        <div class="custom-container">
            <div class="row mt-5 justify-content-center">
                <div class="problem-feature">
                    <div class="image-wrapper-problem">
                        <img src="../assets/img/product-problem/anthracnose-1.webp"/>
                    </div>
                    <div class="feature-data">
                        <h5 class="text-uppercase">Lorem ipsum dolor.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?</p>
                    </div>
                </div>
                <div class="problem-feature">
                    <div class="image-wrapper-problem">
                        <img src="../assets/img/product-problem/tomato-moskovich-variety-d74d4cee-fc099413833045ddb5e2e52415a24d97.jpg"/>
                    </div>
                    <div class="feature-data">
                        <h5 class="text-uppercase">Lorem ipsum dolor.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?</p>
                    </div>
                </div>
                <div class="problem-feature">
                    <div class="image-wrapper-problem">
                        <img src="../assets/img/product-problem/1000_F_217177972_HtaEvR19QDeHO0E9RszNcvRLp7ASWQvd.jpg"/>
                    </div>
                    <div class="feature-data">
                        <h5 class="text-uppercase">Lorem ipsum dolor.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="second-section-features" class="custom-features-product">
        <span class="section-title custom-feature-container">{{ mySite.firstSection.title }}</span>
        <div class="row mt-5 justify-content-center custom-feature-container custom-product-div">
            {% for iconFeature in mySite.firstSection.iconFeatures %}
                <div class="custom-feature">
                    <div class="feature-image-container">
                        <img src="../{{ iconFeature.img }}" class="custom-feature-img" />
                    </div>
                    <div class="feature-data">
                        <h5 class="text-uppercase">{{ iconFeature.title }}</h5>
                        <p>{{ iconFeature.paragraph }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="agrometeostation-custom">
        <div class="custom-container section-wrapper-ordinary">
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="../assets/img/product-problem/diagram.png"
                       data-fancybox>
                        <img src="../assets/img/product-problem/diagram.png" class="mb-3"/>
                    </a>
                </div>
            </div>
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase">how it works</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery-section">
        <div class="gallery-wrapper custom-container carousel-wrapper">
            <span class="carousel-title mb-4">ФОТОГАЛЕРЕЯ</span>
            <div class="carousel-bottom py-3">
                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/difference.png"
                       data-fancybox="gallery">
                        <img src="../assets/img/section-photos/difference.png" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/agrometeo_station_spec_uz_01.jpg"
                       data-fancybox="gallery">
                        <img src="../assets/img/section-photos/agrometeo_station_spec_uz_01.jpg" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/agrometeo_station_uz_01-1.jpg"
                       data-fancybox="gallery">
                        <img src="../assets/img/section-photos/agrometeo_station_uz_01-1.jpg" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/dashboard1-1.png" data-fancybox="gallery">
                        <img src="../assets/img/section-photos/dashboard1-1.png" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/agrometeo_station_uz_01-1.jpg"
                       data-fancybox="gallery">
                        <img src="../assets/img/section-photos/agrometeo_station_uz_01-1.jpg" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/dashboard1-1.png" data-fancybox="gallery">
                        <img src="../assets/img/section-photos/dashboard1-1.png" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/dashboard1-1.png" data-fancybox="gallery">
                        <img src="../assets/img/section-photos/dashboard1-1.png" class="carousel-image-bottom"/>
                    </a>
                </div>

                <div class="carousel-cell-bottom">
                    <a href="../assets/img/section-photos/dashboard1-1.png" data-fancybox="gallery">
                        <img src="../assets/img/section-photos/dashboard1-1.png" class="carousel-image-bottom"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="meteostation-online">
        <div class="custom-container section-wrapper-ordinary">
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase">{{ mySite.thirdSection.title}}</h3>
                    <ul>
                        {% for featureText in mySite.thirdSection.paragraphs %}
                            <li>
                                <p>{{ featureText.text }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="../{{ mySite.thirdSection.imageOne }}"
                       data-fancybox="meteostation">
                        <img src="../{{ mySite.thirdSection.imageOne }}" class="mb-3"/>
                    </a>
                    <a href="../{{ mySite.thirdSection.imageTwo }}"
                       data-fancybox="meteostation">
                        <img src="../{{ mySite.thirdSection.imageTwo }}" class="mb-3"/>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="hardware-characteristics">
        <div class="custom-container section-wrapper-ordinary">
            <div class="image-block">
                <div id="meteostation-wrap">
                    <a href="../assets/img/section-photos/difference.png"
                       data-fancybox>
                        <img src="../assets/img/section-photos/difference.png" class="mb-3"/>
                    </a>
                </div>
            </div>
            <div class="text-block">
                <div>
                    <h3 class="text-uppercase">Hardware characteristics</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="top-footer-wrapper">
        <div class="top-footer">
            <h3>БУЮРТМА БЕРИНГ!</h3>
            <p>Буюртма бериш ва cизни қизиқтирган саволлар учун:</p>
            <div class="contact-buttons-footer">
                <a href="tel:{{ mySite.phone }}">{{ mySite.phone }}</a>
                <a href="mailto:{{ mySite.email }}" class="text-uppercase">{{ mySite.email }}</a>
            </div>
        </div>
    </div>

    <div class="bottom-footer custom-container py-3">
        <span>2024 <strong>© Amudar.io</strong></span>
    </div>
</footer>
</body>
<script src="../assets/js/flickity.pkgd.min.js"></script>
<script src="../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/product/navbar.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/fancybox.umd.js"></script>
<script src="../assets/js/fancybox-options.js"></script>
</html>