{% set assetsVersion = "19" %}
<script src="{{ baseUrl }}../assets/js/flickity.pkgd.min.js"></script>
<script src="{{ baseUrl }}../assets/js/carousel.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/product/navbar.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/hamburger.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/product/sticky_navbar.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/back-to-top.js?v={{ assetsVersion }}"></script>
<script src="{{ baseUrl }}../assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ baseUrl }}../assets/js/fancybox.umd.js"></script>
<script src="{{ baseUrl }}../assets/js/fancybox-options.js"></script>