---
layout: gozanlink.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/uz"
            value: "ASOSIY"
        currentLang: "UZ"
        firstLang:
            link: "/ru/gozanlink"
            value: "РУ"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"
        thirdLang:
            link: "/gozanlink"
            value: "УЗ"

    banner:
        img: "../assets/img/gozanlink/test_banner.jpg"
        title_strong: "GozanLink"
        title_rest: " ISSIQXONA MONITORING QILISH TIZIMI"
        caption: "Issiqxonalardagi iqlim va tuproq sharoitlarini kuzatish uchun mo‘ljallangan monitoring tizimi. Ichki va tashqi harorat, nisbiy namlik, shamol tezligi, tuproqning namligi va harorati kabi muhim parametrlardan ma’lumot to‘playdi. Shuningdek, elektr ta’minoti uzilishlari va nasos ishlashini nazorat qilib, samarali boshqarishga yordam beradi va muammolarni tezkor hal qilish imkoniyatini yaratadi"

    firstSection:
        title: "Og‘riqli nuqtalar"
        problem_features:
            - img: "../assets/img/gozanlink/problems/frozen_plant.jpg"
              title: "MUZLAB QOLGAN O‘SIMLIKLAR"
              caption: "Past harorat o‘simliklarning muzlashi, o‘sishi to‘xtashi va hosilning zararlanishiga sabab bo‘ladi"

            - img: "../assets/img/gozanlink/problems/rotten-tomato.jpg"
              title: "Namlik va zamburug‘lar"
              caption: "Haddan tashqari namlik ekinlarda mog‘or va zamburug‘ paydo bo‘lishiga olib keladi"

            - img: "../assets/img/gozanlink/problems/dry_soil.jpg"
              title: "TUPROQNING QURIB QOLISHI"
              caption: "Quruq yoki yetarli namlanmagan tuproq ekinlarning o‘sishini sekinlashtiradi"

    secondSection:
        title: "IMKONIYATLAR"
        iconFeatures:
            - img: "../assets/img/gozanlink/icons/icons8-temperature-outside-100.png"
              title: "ICHKI IQLIM"
              paragraph: "Issiqxona ichidagi havoning harorati va nisbiy namligi"

            - img: "../assets/img/gozanlink/icons/icons8-pump-100.png"
              title: "NASOS NAZORATI"
              paragraph: "Nasos ishlashini nazorat qiluvchi datchik"

            - img: "../assets/img/gozanlink/icons/earth.png"
              title: "TUPROQ MONITORINGI"
              paragraph: "Tuproq harorati, namligi va elektr o‘tkazuvchanligi"

            - img: "../assets/img/gozanlink/icons/icons8-temperature-100.png"
              title: "TASHQI IQLIM"
              paragraph: "Tashqaridagi havoning harorati va nisbiy namligi"

            - img: "../assets/img/gozanlink/icons/icons8-wind-100.png"
              title: "SHAMOL TEZLIGI"
              paragraph: "Tashqaridagi shamolning tezligi va yo‘nalishi"

    how_it_works:
        thumbnail: "../assets/img/gozanlink/video/thumbnail-1.png"
        video: "https://www.youtube.com/watch?v=FM1xrikogHc"
        title: "Qanday ishlaydi?"
        text: "GozanLink issiqxona monitoring tizimi o‘rnatilgan sensorlar yordamida issiqxonadagi
sharoitlarni doimiy ravishda kuzatadi. Tizim harorat, nisbiy namlik, tuproq namligi,
shamol tezligi va quyosh radiatsiyasini o‘lchab, ma’lumotlarni avtomatik ravishda bulutli platformaga uzatadi.
GSM modemi orqali uzatiladigan ma’lumotlar fermerlarga real vaqtda ogohlantirishlarni taqdim etadi, bu esa zarur
choralarni ko‘rish imkonini beradi"

    product_gallery:
        title: "FOTOGALEREYa"
        folder: "./assets/img/gozanlink/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/gozanlink/dashboard/1.jpg"
        photo_two: "../assets/img/gozanlink/dashboard/2.jpg"
        title: "Dasturiy yechim"
        text: "Boshqaruv panelimizdagi batafsil diagrammalar issiqxona iqlimi va pechdan foydalanish haqida ma’lumot beradi, shuningdek, joriy harorat va namlik ko‘rsatkichlarini ham aks ettiradi. Bundan tashqari, u pechni boshqarish uchun muhim samaradorlik ko‘rsatkichlarini ham namoyish etadi."

    video:
        title: "AMALDAGI TATBIQI"
        thumbnail: "../assets/img/gozanlink/video/thumbnail.jpg"
        link: "https://www.youtube.com/watch?v=ObGJ9q0o0d0"
        text: "Yangi texnologiyalar zamonaviy dunyoda katta ahamiyatga ega bo‘lib, ular
inson hayotini yengillashtirishda muhim rol o‘ynaydi. Misol uchun, sun’iy
intellekt va mashina o‘rganish turli sohalarda yangi imkoniyatlar ochib beradi.
Bu texnologiyalar kelajakdagi rivojlanishni belgilaydi, deb ishonaman."

    hardware:
        photo: "../assets/img/gozanlink/uz/hardware.png"
        title: "Qurilma tasnifi"
        text: "GozanLink issiqxona monitoring tizimi o‘rnatilgan sensorlar yordamida issiqxonadagi sharoitlarni doimiy ravishda kuzatadi. Tizim harorat, nisbiy namlik, tuproq namligi, shamol tezligi va quyosh radiatsiyasini o‘lchab, ma’lumotlarni avtomatik ravishda bulutli platformaga uzatadi. GSM modemi orqali uzatiladigan ma’lumotlar fermerlarga real vaqtda ogohlantirishlarni taqdim etadi, bu esa zarur choralarni ko‘rish imkonini beradi."

    footer_info:
      title: "BUYURTMA BERING!"
      info: "Buyurtma berish va cizni qiziqtirgan savollar uchun:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---