---
layout: gozanlink.njk
permalink: "/gozanlink/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/gozanlink"
            value: "RU"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"

    banner:
        img: "../assets/img/gozanlink/banner_gozanlink.jpg"
        title: "GozanLink - иссиқхона мониторинг қилиш тизими"
        caption: "Иссиқхоналардаги иқлим ва тупроқ шароитларини кузатиш учун мўлжалланган мониторинг тизими. Ички ва ташқи ҳарорат, 
               нисбий намлик, шамол тезлиги, тупроқнинг намлиги ва ҳарорати каби муҳим параметрлардан маълумот тўплайди. Шунингдек, 
               электр таъминоти узилишлари ва насос ишлашини назорат қилиб, самарали бошқаришга ёрдам беради ва муаммоларни тезкор 
               ҳал қилиш имкониятини яратади."

    firstSection:
        title: "Муаммолар"
        problem_features:
            - img: "../assets/img/gozanlink/frozen_plant.jpg"
              title: "Музлаб қолган ўсимликлар"
              caption: "Паст ҳарорат ўсимликларнинг музлашига, уларнинг ўсиши тўхташига ва ҳосилнинг зарарланишига олиб келади."

            - img: "../assets/img/product-problem/tomato-moskovich-variety-d74d4cee-fc099413833045ddb5e2e52415a24d97.jpg"
              title: "Юқори намлик ва замбуруғ ўсиши"
              caption: "Ҳаддан ташқари намлик экинларда моғор ва замбуруғ пайдо бўлишига олиб келади"

            - img: "../assets/img/gozanlink/dry_soil.jpg"
              title: "Тупроқнинг қуриб қолиши"
              caption: "Қуруқ ёки етарли намланмаган тупроқ экинларнинг ўсишини секинлаштиради"

    secondSection:
        title: "Ўлчанадиган параметрлар"
        iconFeatures:
            - img: "../assets/img/icons/temperature.png"
              title: "Ички иқлим"
              paragraph: "Иссиқхона ичидаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/icons/icons8-насос-64.png"
              title: "Насос назорати"
              paragraph: "Насос ишлашини назорат қилувчи датчик"

            - img: "../assets/img/icons/icons8-почва-60.png"
              title: "Тупроқ мониторинги"
              paragraph: "Тупроқ ҳарорати, намлиги ва электр ўтказувчанлиги"

            - img: "../assets/img/icons/temperature_outside.png"
              title: "Ташқи иқлим"
              paragraph: "Ташқаридаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/icons/wind.png"
              title: "Шамол тезлиги"
              paragraph: "Ташқаридаги шамолнинг тезлиги ва йўналиши"

    how_it_works:
        img: "../assets/img/gozanlink/diagram_gozanlink.jpeg"
        title: "ГозанЛинк Ишлаш Жараёни"
        text: "ГозанЛинк иссиқхона мониторинг тизими ўрнатилган сенсорлар ёрдамида иссиқхонадаги 
                шароитларни доимий равишда кузатади. Тизим ҳарорат, нисбий намлик, тупроқ намлиги, 
                шамол тезлиги ва қуёш радиациясини ўлчаб, маълумотларни автоматик равишда булутли платформага узатади.
                GSM модеми орқали узатиладиган маълумотлар фермерларга реал вақтда огоҳлантиришларни тақдим этади, 
                бу эса зарур чораларни кўриш имконини беради"

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/main-gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/section-photos/dashboard1-1.png"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "МЕТЕОСТАНЦИЯНИНГ ОНЛАЙН ТАБЛОСИ"
        features:
            - text: "Метеостанция ёрдамида oлинган маълумотлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"
            - text: "30 дан ошиқ касалликлар ва зараркунандалар учун башоратлар"

    hardware:
        photo: "../assets/img/section-photos/difference.png"
        title: "Hardware characteristics"
        text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---