---
layout: gozanlink.njk
permalink: "/gozanlink/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/gozanlink"
            value: "RU"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"

    banner:
        img: "../assets/img/gozanlink/test_banner.jpg"
        title_strong: "GozanLink"
        title_rest: " ИССИҚХОНА МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        caption: "Иссиқхоналардаги иқлим ва тупроқ шароитларини кузатиш учун мўлжалланган мониторинг тизими. Ички ва ташқи ҳарорат, нисбий намлик, шамол тезлиги, тупроқнинг намлиги ва ҳарорати каби муҳим параметрлардан маълумот тўплайди. Шунингдек, электр таъминоти узилишлари ва насос ишлашини назорат қилиб, самарали бошқаришга ёрдам беради ва муаммоларни тезкор ҳал қилиш имкониятини яратади"

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/gozanlink/problems/frozen_plant.jpg"
              title: "МУЗЛАБ ҚОЛГАН ЎСИМЛИКЛАР"
              caption: "Паст ҳарорат ўсимликларнинг музлаши, ўсиши тўхташи ва ҳосилнинг зарарланишига сабаб бўлади"

            - img: "../assets/img/gozanlink/problems/rotten-tomato.jpg"
              title: "Намлик ва замбуруғлар"
              caption: "Ҳаддан ташқари намлик экинларда моғор ва замбуруғ пайдо бўлишига олиб келади"

            - img: "../assets/img/gozanlink/problems/dry_soil.jpg"
              title: "ТУПРОҚНИНГ ҚУРИБ ҚОЛИШИ"
              caption: "Қуруқ ёки етарли намланмаган тупроқ экинларнинг ўсишини секинлаштиради"

    secondSection:
        title: "PARAMETERS TO BE MEASURED"
        iconFeatures:
            - img: "../assets/img/gozanlink/icons/icons8-temperature-outside-100.png"
              title: "ИЧКИ ИҚЛИМ"
              paragraph: "Иссиқхона ичидаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/gozanlink/icons/icons8-pump-100.png"
              title: "НАСОС НАЗОРАТИ"
              paragraph: "Насос ишлашини назорат қилувчи датчик"

            - img: "../assets/img/gozanlink/icons/earth.png"
              title: "ТУПРОҚ МОНИТОРИНГИ"
              paragraph: "Тупроқ ҳарорати, намлиги ва электр ўтказувчанлиги"

            - img: "../assets/img/gozanlink/icons/icons8-temperature-100.png"
              title: "ТАШҚИ ИҚЛИМ"
              paragraph: "Ташқаридаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/gozanlink/icons/icons8-wind-100.png"
              title: "ШАМОЛ ТЕЗЛИГИ"
              paragraph: "Ташқаридаги шамолнинг тезлиги ва йўналиши"

    how_it_works:
        thumbnail: "../assets/img/gozanlink/video/thumbnail-1.png"
        video: "https://www.youtube.com/watch?v=FM1xrikogHc"
        title: "Қандай ишлайди?"
        text: "ГозанЛинк иссиқхона мониторинг тизими ўрнатилган сенсорлар ёрдамида иссиқхонадаги
                шароитларни доимий равишда кузатади. Тизим ҳарорат, нисбий намлик, тупроқ намлиги,
                шамол тезлиги ва қуёш радиациясини ўлчаб, маълумотларни автоматик равишда булутли платформага узатади.
                GSM модеми орқали узатиладиган маълумотлар фермерларга реал вақтда огоҳлантиришларни тақдим этади, бу эса зарур
                чораларни кўриш имконини беради"

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/gozanlink/gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/gozanlink/how_it_works.png"
        photo_two: "../assets/img/gozanlink/dashboard/2.jpg"
        title: "Дастурий ечим"
        features:
            - text: "Метеостанция ёрдамида oлинган маълумотлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"
            - text: "30 дан ошиқ касалликлар ва зараркунандалар учун башоратлар"

    video:
        title: "Амалдаги татбиқи"
        thumbnail: "../assets/img/gozanlink/video/thumbnail.jpg"
        link: "https://www.youtube.com/watch?v=ObGJ9q0o0d0"
        text: "Янги технологиялар замонавий дунёда катта аҳамиятга эга бўлиб, улар
                инсон ҳаётини енгиллаштиришда муҳим роль ўйнайди. Мисол учун, сунъий
                интеллект ва машина ўрганиш турли соҳаларда янги имкониятлар очиб беради.
                Бу технологиялар келажакдаги ривожланишни белгилайди, деб ишонаман."

    hardware:
        photo: "../assets/img/section-photos/difference.png"
        title: "Қурилма таснифи"
        text: "Замонавий дунёда илм-фан ва технологиялар жадал ривожланиб, улар турли
                соҳаларда янги имкониятлар яратмоқда. Айниқса, сунъий интеллект, машина
                ўрганиш ва блокчейн каби технологиялар жуда муҳим ҳисобланади. Улар инсон
                ҳаётини енгиллаштириш, самарадорликни ошириш ва инновациялар орқали янги
                иқтисодий моделларни жорий қилиш имкониятини тақдим этмоқда. Келажак шу
                технологиялар билан боғлиқ."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---