---
layout: app.njk
permalink: "/uz/index.html"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            value: "ASOSIY"
            link: "/uz"

        currentLang: "UZ"

        firstLang:
            value: "УЗ"
            link: "/"

        secondLang:
            value: "EN"
            link: "/en"

        thirdLang:
            value: "РУ"
            link: "/ru"

        products:
            value: "MAHSULOTLAR"
            oxus_ws: "OXUS WS"
            jayhun_trap: "JAYHUN TRAP"
            oxus_airsense: "OXUS AIRSENSE"
            gozanlink: "GOZANLINK"

    carouselItems:
        - image:
            src: "assets/img/top-slider/slider_03.jpg"
            alt: "Image 1"
          caption:
            heading: "Aqlli agrometeostansiyalar"
            text: "Bizning agrometeostansiyamiz sizning bog‘ingizni tinimsiz kuzatadi va barcha kerakli meteo-ma’lumotlarni yig‘ib boradi. Shu bilan birga, u sizga ob-havo bashorati va o‘simliklarda ko‘p uchraydigan kasallik va zararkunandalarning rivojlanishi xaqida foydali ma’lumotlarni yetkazib turadi."
          link: "#oxus-ws"
          button: "Batafsil"

        - image:
            src: "assets/img/top-slider/jayhun_trap.jpg"
            alt: "Image 2"
          caption:
            heading: "Aqlli feromon tutqichlar"
            text: "Bizning feromon tutqichlar zararkunandalarni sun’iy intellekt yordamida aniqlay oladi va bu xaqida sizga zudlik bilan xabar bera oladi. Shuningdek, u sizning hududingizda zararkunanda tarqalishi ehtimolligini aytadi va unga qarshi kurashishda foydali maslahatlar beradi."
          link: "#jayhun-trap-spec"
          button: "Batafsil"


        - image:
            src: "assets/img/top-slider/bad-air.jpg"
            alt: "Аккли хаво мониторинги"
          caption:
            heading: "Aqlli havo monitoringi"
            text: "Atrof-muhit sifatini nazorat qilish va havodagi zararli moddalar darajasini o‘lchash texnologiyasi ekologik monitoringning muhim qismi hisoblanadi. Ushbu texnologiyalar turli sensor va datchiklar orqali havodagi kimyoviy moddalar, chang zarrachalari, gazlar va boshqa zararli elementlarni real vaqtda o‘lchash imkonini beradi."
          link: "#oxus-airsense"
          button: "Batafsil"

        - image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          caption:
            heading: "Aqlli issiqxona boshqaruvi"
            text: "Teplitsalardagi iqlim parametrlarini monitoring qilish va ma’lumotlarni to‘plash uchun platforma – bu zamonaviy texnologiyalar asosida ishlab chiqilgan innovatsion yechimdir. Bu platforma teplitsalardagi turli iqlim parametrlarini, jumladan, harorat, namlik, yorug‘lik va uglerod oksidi darajalarini kuzatib borish va tahlil qilish imkonini beradi"
          link: "#gozanlink"
          button: "Batafsil"


    firstSection:
        title: "QISHLOQ XO‘JALIGI SOXASIDAGI AYRIM MUAMMOLAR"
        iconFeatures:
            - img: "assets/img/icons/cloud.png"
              title: "IQLIMNING O‘ZGARISHI"
              paragraph: "Meteorologik ma’lumotlarning raqlamlashgan ko‘rinishda yo‘qligi"

            - img: "assets/img/icons/earth.png"
              title: "TUPROQNING SHO‘RLANISHI"
              paragraph: "Tuproqning holatini uzluksiz kuzatishning imkoni yo‘qligi"

            - img: "assets/img/icons/insects.png"
              title: "KASALLIKLAR VA ZARARKUNANDALAR"
              paragraph: "Kasallik va zararkunandalarga qarshi kurash choralari kechiksa"

            - img: "assets/img/icons/cactus.png"
              title: "XOSILDORLIKNING PASAYISHI"
              paragraph: "Mavjud resurslarning noto‘g‘ri boshqarilishi oqibatidagi zararlar"

            - img: "assets/img/icons/control.png"
              title: "EKSPORTDA KARANTIN TALABLARI"
              paragraph: "Pestitsidlardan xoli ekologik toza mahsulot yaratishning murakkabligi"


    secondSection:
        title: "Taklif etilayotgan yechim"
        iconFeatures:
            - img: "assets/img/icons/binoculars.png"
              title: "Uzluksiz va raqamlashgan meteorologik kuzatuvlar"
              paragraph: "Atrof-muhitni uzluksiz ravishda monitring qilish imkoniyati"

            - img: "assets/img/icons/umbrella.png"
              title: "Yuqori aniqlikdagi agrometeorologik bashoratlar"
              paragraph: "10 dan ortiq agrometeorologik ko‘rsatkichlarning bir xaftalik bashorati"

            - img: "assets/img/icons/plants.png"
              title: "Kasallik rivojlanish xavfini modellashtirish"
              paragraph: "Pestitsid qo‘llanilishini optimallashtirish va eksportbop maxsulot yetishtirish"

    thirdSection:
        title_strong: "OXUS WS"
        title_rest: " AGROMETEOSTANSIYASI"
        image: "../assets/img/section-photos/2024-09-11 10.27.36.jpg"
        text: "Qishloq xo‘jaligi uchun mo‘ljallangan agrometeostansiya tuproq namligi, havo harorati, namlik, shamol tezligi va yo‘nalishini o‘lchash imkonini beradi. Ushbu ma’lumotlar fermerlarga ekinlarni parvarishlash jarayonida to‘g‘ri qarorlar qabul qilishda yordam beradi"
        buttonValue: "Batafsil"
        buttonLink: "/oxus_ws"

    fourthSection:
        title_strong: "JAYHUN TRAP"
        title_rest: " FEROMON TUTQICHI"
        image: "../assets/img/section-photos/jayhun-trap.jpg"
        text: "Feromon tutqichlari qishloq xo‘jaligida zararkunandalarni nazorat qilishda qo‘llaniladi. U hasharotlarni feromonlar yordamida jalb qiladi, bu fermerlarga zararkunandalar sonini kuzatish va pestitsidlardan kam foydalanib hosilni himoya qilish imkoniyatini beradi"
        buttonValue: "Batafsil"
        buttonLink: "/jayhun_trap"

    fifthSection:
        title_strong: "Oxus Airsense"
        title_rest: " HAVO MONITORING QILISH TIZIMI"
        image: "../assets/img/oxus_airsense/product.png"
        text: "Havo monitoring qilish tizimi atrof-muhitning sifatini oshirish va inson salomatligini himoya qilish uchun mo‘ljallangan. AirSense, zararli moddalarning mavjudligini aniqlab, foydalanuvchilarga sog‘lom va xavfsiz sharoitlarni ta’minlashda to‘g‘ri qarorlar qabul qilishda yordam beradi"
        buttonValue: "Batafsil"
        buttonLink: "/oxus_airsense"

    sixthSection:
        title_strong: "GozanLink"
        title_rest: " ISSIQXONA MONITORING QILISH TIZIMI"
        image: "../assets/img/section-photos/gozanlink.jpg"
        text: "Sistema issiqxonalardagi parametrlarni monitoring qilish uchun mo‘ljallangan.U harorat, namlik va boshqa shartlar haqidagi ma’lumotlarni to‘plab, dehqonlarga o‘simliklarni parvarishlash jarayonlarini samaraliroq boshqarishga yordam beradi"
        buttonValue: "Batafsil"
        buttonLink: "/gozanlink"

    mainGallery:
        title: "fotogalereya"
        folder: "./assets/main-gallery"

    about_us_section:
        title: "BIZ XAQIMIZDA"
        member_one:
          member_img: "../assets/img/members/Jasurbek_Khodjaev_5.jpg"
          member_name: "JASURBEK XODJAYEV"
          member_position: "TA’SISCHI"
          member_desc_1: "Inxa Universiteti professori"
          member_desc_2: "AKT muhandisligi bo‘yicha PhD, Youngnam universiteti, Janubiy Koreya"
          member_desc_3: "Janubiy Koreya, Irlandiya, AQSH va Xitoy davlatlarida ilmiy tadqiqot va ishlanmalar borasida 15-yildan ortiq tajribaga ega"

        member_two:
            member_img: "../assets/img/members/Azizbek_Marahimov_2.jpg"
            member_name: "AZIZBEK MARAXIMOV"
            member_position: "TA’SISCHI"
            member_desc_1: "Yangi Uzbekistan Universiteti professori"
            member_desc_2: "Sanoat menejmenti bo‘yicha PhD"
            member_desc_3: "Janubiy Koreya, Germaniya, BAA, Turkiya, Iordaniya kabi mamlakatlar bilan qo‘shma ilmiy va amaliy loyihalarni boshqarishda 10-yildan ortiq tajribaga ega"

        member_three:
            member_img: "../assets/img/members/Sarvar_Abdullaev_1.jpg"
            member_name: "SARVAR ABDULLAYEV"
            member_position: "TA’SISCHI"
            member_desc_1: "Inxa Universiteti professori"
            member_desc_2: "Kompyuter fanlari bo‘yicha PhD, King‘s College London, Buyuk Britaniya"
            member_desc_3: "Janubiy Koreya, Buyuk Britaniya, AQSH va Xindiston davlatlarida ilmiy tadqiqot va ishlanmalar borasida 12-yildan ortiq tajribaga ega"


    media_about_us_section:
        title: "OAV BIZ XAQIMIZDA"

        media_info:
          - title: "НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN"
            linkValue: "UNDP.ORG"
            link: "http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html"
          
          - title: "КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "В УЗБЕКИСТАНЕ ПОЯВИЛИСЬ СОБСТВЕННЫЕ МИНИАТЮРНЫЕ АГРОМЕТЕОРОЛОГИЧЕСКИЕ СТАНЦИИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

    partners_section:
      title: "BIZNING HAMKORLAR"
      folder: "./assets/img/partner-logos"

    footer_info:
      title: "BUYURTMA BERING!"
      info: "Buyurtma berish va cizni qiziqtirgan savollar uchun:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"
---
