---
layout: jayhun_trap.njk

baseUrl: "../"

mySite:
    title: "Aqlli feromon tutqichlar – zararkunandalarni sun’iy intellekt yordamida aniqlash"
    metaDescription: "Aqlli feromon tuzoqlar kartoshka kuya, olxo‘ri mevaxo‘ri, komstok qurti, gilos pashshasi, olma kuya va tok ipak qurti kabi hasharot zararkunandalarini sun’iy intellekt, sensor texnologiyalari va ilg‘or algoritmlar yordamida aniqlaydi. Ushbu tuzoqlar zararkunandalar faoliyatini kuzatib, ularning tarqalishini oldindan aniqlaydi va tezkor xabar berish imkoniyatini taqdim etadi. Fermerlar va bog‘bonlar ekinlarni himoya qilish, hosildorlikni oshirish va ekologik xavfsizlikni ta’minlash uchun ushbu zamonaviy texnologiyadan foydalanishlari mumkin. Texnologiya hosilni muhofaza qilishda va zararli ta’sirlarni kamaytirishda samarali yordam beradi."
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/uz"
            value: "ASOSIY"
        currentLang: "UZ"
        firstLang:
            link: "/ru/jayhun_trap"
            value: "РУ"
        secondLang:
            link: "/en/jayhun_trap"
            value: "EN"
        thirdLang:
            link: "/jayhun_trap"
            value: "УЗ"

    banner:
        img: "../assets/img/jayhun_trap/banner-2.jpg"
        mobile_img: "../assets/img/jayhun_trap/mobile_banner.jpeg"
        title_strong: "Jayhun Trap "
        title_rest: "FEROMON TUTQICHI"
        caption: "Zamonaviy feromon tutqichi zararkunandalarni jalb etish va tutish uchun sun’iy feromonlardan foydalanadigan innovatsion zararkunandalarga qarshi kurash vositasidir. Bu ekologik toza qurilma zararkunandalar sonini kuzatishga yordam beradi va ularning tarqalishi haqida oldindan ogohlantiradi, bu esa samarali nazorat choralarini ko‘rish va ekinlarni himoya qilish imkonini beradi"

    firstSection:
        title: "Og‘riqli nuqtalar"
        problem_features:
            - img: "../assets/img/jayhun_trap/problems/pest_population.jpg"
              title: "Hasharotlar ko‘pligi"
              caption: "Zararkunandalar sonining ko‘payishi ularni samarali boshqarishda qiyinchiliklar tug‘dirishi mumkin"

            - img: "../assets/img/jayhun_trap/problems/damaged crop.jpg"
              title: "Zararlangan o‘simliklar"
              caption: "Zararkunandalar ekinlarga katta zarar yetkazib, umumiy sog‘liqqa ta’sir qiladi"

            - img: "../assets/img/jayhun_trap/problems/spoiled_gilos.jpg"
              title: "Unumdorlik va sifat pasayishi"
              caption: "Zararkunandalarning zarari meva sifatining pasayishiga olib keladi va bozor qiymatiga ta’sir qiladi"

    pheromones:
        title: "HASHAROTLAR"
        media_info:
            - img: "../assets/img/jayhun_trap/pheromones/kartoshka_kuyasi_1.jpg"
              title: "Kartoshka kuyasi"
              caption: "Kartoshka va sabzavot o‘simliklarini zaiflashtirib, o‘sishiga to‘sqinlik qiladi"

            - img: "../assets/img/jayhun_trap/pheromones/olxo'ri_mevaxo'ri_1 (1).jpg"
              title: "Olxo‘ri mevaxo‘ri"
              caption: "Lichinkalari mevalarga kirib, ularni erta tushishiga sabab bo‘ladi"

            - img: "../assets/img/jayhun_trap/pheromones/komstok_qurt.webp"
              title: "Komstok qurt"
              caption: "Mevali o‘simliklarning shirasini so‘rib, o‘sishini sekinlashtiradigan zararkunanda"
            
            - img: "../assets/img/jayhun_trap/pheromones/gilos_pashshasi_2.jpg"
              title: "Gilos pashshasi"
              caption: "Zararkunandaning lichinkalari gilos mevalarini chiritib, nobud bo‘lishiga olib keladi"
            
            - img: "../assets/img/jayhun_trap/pheromones/olma kuyasi_1.jpg"
              title: "Olma kuyasi"
              caption: "Lichinkalari ipaksimon to‘r yasab, olma daraxti barglarini yeb, zaiflashtiradi"
            
            - img: "../assets/img/jayhun_trap/pheromones/tok_ipak_qurt.webp"
              title: "Toq ipak qurti"
              caption: "Hasharot lichinkalari ipak mevalari va boshqa o‘simliklarning barglarini ko‘p miqdorda yeb, zaiflashtiradi"

    secondSection:
        title: "Qurilma qismlari"
        iconFeatures:
            - img: "../assets/img/jayhun_trap/icons/icons8-house-100.png"
              title: "Tuzoq korpusi"
              paragraph: "Feromon xo‘ragini, kamerani va hasharotlarni tutib, ushlab turish uchun mo‘ljallangan jismoniy tuzilma"

            - img: "../assets/img/jayhun_trap/icons/icons8-spider-web-100.png"
              title: "Feromon xo‘ragi"
              paragraph: "Erkak hasharotlarni tuzoqqa jalb qilish uchun urg‘ochi hasharotlarning hidini taqlid qiluvchi kimyoviy modda"

            - img: "../assets/img/jayhun_trap/icons/icons8-technology-100.png"
              title: "Mikrokontroller"
              paragraph: "Kamera funksiyalari, tasvirlarga ishlov berish va bulutli platforma aloqasini boshqaruvchi nazorat bloki"

            - img: "../assets/img/jayhun_trap/icons/icons8-battery-level-100.png"
              title: "akkumulyator"
              paragraph: "Quyosh panellaridan olingan energiyani saqlovchi qayta zaryadlanuvchi batareya"

            - img: "../assets/img/jayhun_trap/icons/icons8-camera-100 (2).png"
              title: "Keng burchakli mini-kameralar"
              paragraph: "Yuqori sifatli tasvirlarni bulutli platformaga uzluksiz yuklovchi qurilma"

            - img: "../assets/img/jayhun_trap/icons/icons8-cellular-network-100.png"
              title: "GSM modem"
              paragraph: "Aloqa o‘rnatish va ma’lumotlarni uzatish uchun mo‘ljallangan qurilma"

    how_it_works:
        img: "../assets/img/jayhun_trap/uz/how_it_works.png"
        title: "Qanday ishlaydi?"
        text: "Feromon tuzog‘i yuqori sifatli tasvirlarni doimiy ravishda bulutli platformaga yuklash uchun keng burchakli mini-kameralardan foydalanadi.
Bu tasvirlar sun’iy intellekt yordamida tahlil qilinadi va zararkunandalar avtomatik ravishda aniqlanadi.
Feromon tuzog‘i to‘liq avtonom tizim asosida ishlaydi, quyosh energiyasida faoliyat yuritadi. Aloqa GSM-modem orqali amalga oshiriladi."

    product_gallery:
        title: "FOTOGALEREYA"
        folder: "./assets/img/jayhun_trap/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/jayhun_trap/dashboard/1.gif"
        photo_two: "../assets/img/jayhun_trap/dashboard/2.gif"
        title: "Dasturiy yechim"
        features:
            - text: "Hasharotlarning turlari va rivojlanish bosqichlari"
            - text: "Hasharotlar xavf darajasining avtomatik baholanishi"
            - text: "Jadval va grafik shaklda ko‘rish imkoniyati"
            - text: "Kasallik kunlari, havo va tuproq harorati"

    hardware:
        photo: "../assets/img/jayhun_trap/uz/hardware.png"
        title: "Qurilma tasnifi"
        text: "Feromon tutqich keng burchakli mini-kameralar yordamida yuqori sifatli
tasvirlarni tinimsiz bulutli platformaga yuklab boradi. Ushbu tasvirlar
sun’iy intellekt yordamda tahlil qilinadi va undagi zararkunandalar avtomat ravishda
aniqlanadi. Feromon tutqich quyosh energiyasida to‘la avtonom tizimda ishlaydi. Aloqa esa
GSM modem yordamida amalga oshiriladi."

    footer_info:
      title: "BUYURTMA BERING!"
      info: "Buyurtma berish va sizni qiziqtirgan savollar uchun:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---