---
layout: jayhun_trap.njk
permalink: "/jayhun_trap/index.html"

baseUrl: ""

mySite:
    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/gozanlink"
            value: "RU"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"

        email: "info@amudar.io"
        phone: "+998 90 035-02-25"

    banner:
        img: "../assets/img/section-photos/pheromone_trap_4.jpg"
        title: "Jayhun Trap Феромон туткичи"
        caption: "Замонавий феромон тутқичи зараркунандаларни жалб этиш ва тутиш учун сунъий феромонлардан фойдаланадиган инновацион зараркунандаларга қарши кураш воситасидир. 
                    Бу экологик тоза қурилма зараркунандалар сонини кузатишга ёрдам беради ва уларнинг тарқалиши ҳақида олдиндан огоҳлантиради, бу эса самарали назорат чораларини кўриш ва экинларни ҳимоя қилиш имконини беради."

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/product-problem/pest population.jpg"
              title: "Ҳашаротларнинг меъёрдан ортиқ сони"
              caption: "Зараркунандалар сонининг кўпайиши уларни самарали бошқаришда қийинчиликлар туғдириши мумкин."

            - img: "../assets/img/product-problem/damaged crop.jpg"
              title: "Зарарланган ўсимликлар"
              caption: "Зараркунандаларнинг таъсири экинларнинг сезиларли зарарланишига олиб келади ва умумий соғлиққа таъсир қилади."

            - img: "../assets/img/product-problem/spoiled_gilos.webp"
              title: "Унумдорлик ва сифатнинг пасайиши"
              caption: "Зараркунандаларнинг зарари мева сифатининг пасайишига олиб келади ва бозор қийматига таъсир қилади."

    secondSection:
        title: "Сенсорлар"
        iconFeatures:
            - img: "../assets/img/icons/icons8-house-100.png"
              title: "Тузоқ корпуси"
              paragraph: "Феромон хўрагини, камерани ва ҳашаротларни тутиб, ушлаб туриш учун мўлжалланган жисмоний тузилма"

            - img: "../assets/img/icons/chemistry.png"
              title: "Феромон хўраги"
              paragraph: "Эркак ҳашаротларни тузоққа жалб қилиш учун урғочи ҳашаротларнинг ҳидини тақлид қилувчи кимёвий модда"

            - img: "../assets/img/icons/battery.png"
              title: "Энергия тўплагич (аккумулятор)"
              paragraph: "Қуёш панелларидан олинган энергияни сақлайдиган қайта зарядланувчи батарея"

            - img: "../assets/img/icons/icons8-technology-100.png"
              title: "Микроконтроллер"
              paragraph: "Камера функцияларини, тасвирларга ишлов беришни ва булутли платформа билан алоқани бошқарадиган назорат блоки"

            - img: "../assets/img/icons/camera.png"
              title: "Кенг бурчакли мини-камералар"
              paragraph: "Юқори сифатли тасвирларни булутли платформага узлуксиз юклайдиган қурилма"

            - img: "../assets/img/icons/icons8-cellular-network-100.png"
              title: "ГСМ модем"
              paragraph: "Алоқа ўрнатиш ва маълумотларни узатиш учун мўлжалланган қурилма"

            

    thirdSection:
        title: "INSECTS"
        problem_features:
            - img: "../assets/img/jayhuntrap-pests/kartoshka_kuyasi_1.jpg"
              title: "Картошка куяси"
              caption: "Картошка ва сабзавот ўсимликларини заифлаштириб, ўсишига тўсқинлик қилади."

            - img: "../assets/img/jayhuntrap-pests/olxo'ri_mevaxo'ri_1.jpg"
              title: "Олхўри мевахўри"
              caption: "Унинг личинкалари олхўри ва мевали дарахтларнинг меваларига кириб, уларни эрта тушишига олиб келади."

            - img: "../assets/img/jayhuntrap-pests/komstok_qurt.webp"
              title: "Комсток қурт"
              caption: "Мевали ўсимликларга зарар етказувчи, уларнинг ширасини сўриб, ўсишини секинлаштирувчи зараркунанда ҳашорат."

            - img: "../assets/img/jayhuntrap-pests/gilos_pashshasi_2.jpg"
              title: "Гилос пашшаси"
              caption: "Бу зараркунанданинг личинкалари гилос меваларини зарарлаб, меваларнинг чириши ва нобуд бўлишига олиб келади."

            - img: "../assets/img/jayhuntrap-pests/olma kuyasi_1.jpg"
              title: "Олма куяси"
              caption: "Унинг личинкалари ипаксимон тўр ясайди ва олма дарахтларининг баргларини еб, уларни заифлаштириб қўяди."

            - img: "../assets/img/jayhuntrap-pests/tok_ipak_qurt.webp"
              title: "Тоқ ипак қурти"
              caption: "Ушбу ҳашаротнинг личинкалари ипак мевалари ва бошқа ўсимликларнинг жуда кўп миқдордаги баргларини еб, уни заифлаштиради."  


    how_it_works:
        img: "../assets/img/section-photos/jayhun_trap_uz_01-1.jpg"
        title: "Ишлаш принципи"
        text: "Феромон тузоғи юқори сифатли тасвирларни доимий равишда булутли платформага юклаш учун кенг бурчакли мини-камералардан фойдаланади. 
                Бу тасвирлар сунъий интеллект ёрдамида таҳлил қилинади ва зараркунандалар автоматик равишда аниқланади. 
                Феромон тузоғи тўлиқ автоном тизим асосида ишлайди, қуёш энергиясида фаолият юритади. Алоқа GSM-модем орқали амалга оширилади."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/main-gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/section-photos/zararkunanda_holati.jpg"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Зараркунандалар хавфи бошқарув панели"
        features:
            - text: "No info"
            - text: "No info"
            - text: "No info"
            - text: "No info"

    hardware:
        photo: "../assets/img/product-problem/jayhun_trap.jpg"
        title: "Ускуна хусусиятлари"
        text: "Феромон тутқич аттрактант ёрдамида зараркунандалар популяциясини самарали кузатиш ва назорат қилиш учун мўлжалланган. 
                Мустаҳкам материаллардан тайёрланган тузоқ турли хил экологик шароитларда ишончлилигини таъминлайдиган об-ҳавога чидамли дизайнга эга. 
                Унинг енгил конструкцияси далада осон ўрнатиш ва қайта жойлаштириш имконини беради. Тутқичнинг токсик бўлмаган ёпишқоқ юзаси зарарли кимёвий моддалардан фойдаланмасдан зараркунандаларни ушлаб қолади, 
                бу эса уни қишлоқ хўжалиги экинлари ва чорва моллари атрофида ишлатиш учун хавфсиз қилади."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---