---
layout: jayhun_trap.njk
permalink: "/jayhun_trap/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/jayhun_trap"
            value: "RU"
        secondLang:
            link: "/en/jayhun_trap"
            value: "EN"

    banner:
        img: "../assets/img/jayhun_trap/banner-4.jpg"
        title_strong: "Jayhun Trap"
        title_rest: " Феромон Тутқичи"
        caption: "Феромон тутқичи зараркунандаларни сунъий интеллект ёрдамида
                    аниқлай олади ва бу ҳақида сизга зудлик билан хабар бера олади.
                    Шунингдек, у сизнинг ҳудудингизда зараркунанда тарқалиши эҳтимоллигини
                    айтади ва унга қарши курашишда фойдали маслаҳатлар беради."

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/jayhuntrap-pests/kartoshka-kuyasi.png"
              title: "Картошка куяси"

            - img: "../assets/img/jayhuntrap-pests/olxuri-mevaxuri.png"
              title: "Олхўри мевахўри"

            - img: "../assets/img/jayhuntrap-pests/komstok_qurt.webp"
              title: "Комсток қурт"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/jayhun_trap/icons/hosildorlik.png"
              title: "Юқори ҳосилдорлик ва сифат"
              paragraph: "Ўсимликларни ҳимоялаш ҳосилни камроқ зарарлантириб, сифатли етиштиришни осонлаштиради"

            - img: "../assets/img/jayhun_trap/icons/erta-aniqlash.png"
              title: "Зараркунандаларни эрта аниқлаш"
              paragraph: "Феромон тутқичлар зараркунандаларни эрта аниқлаб, боғбонларга ўз вақтида чора кўришга ёрдам беради"

            - img: "../assets/img/icons/insects.png"
              title: "Зараркунандаларга қарши мақсадли кураш"
              paragraph: "Феромон тутқичлар фойдали ҳашаротларга зарар бермай, пестицидларга эҳтиёжни камайтиради"

            - img: "../assets/img/jayhun_trap/icons/real-time.png"
              title: "Реал вақтдаги мониторинг"
              paragraph: "Камера тутқични масофадан кузатиб, зараркунандалар аниқланганда тезкор жавоб беришни таъминлайди"

            - img: "../assets/img/jayhun_trap/icons/aniq.png"
              title: "аниқ идентификация"
              paragraph: "Камера ҳашаротларни аниқ тасвирлаб, уларни идентификация ва зарарланишни баҳолашни осонлаштиради"

            - img: "../assets/img/icons/cloud.png"
              title: "Ҳосил зарарини камайтириш"
              paragraph: "Феромон тутқичлар ҳосилга зарарни камайтиради ва ҳосилдорликни оширади"

    how_it_works:
        img: "../assets/img/section-photos/jayhun_trap_uz_01-1.jpg"
        title: "Қандай ишлайди?"
        text: "Феромон тузоғи юқори сифатли тасвирларни доимий равишда булутли платформага юклаш учун кенг бурчакли мини-камералардан фойдаланади. 
                Бу тасвирлар сунъий интеллект ёрдамида таҳлил қилинади ва зараркунандалар автоматик равишда аниқланади. 
                Феромон тузоғи тўлиқ автоном тизим асосида ишлайди, қуёш энергиясида фаолият юритади. Алоқа GSM-модем орқали амалга оширилади."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/main-gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/section-photos/dashboard1-1.png"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Дастурий ечим"
        features:
            - text: "Метеостанция ёрдамида oлинган маълумотлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"
            - text: "30 дан ошиқ касалликлар ва зараркунандалар учун башоратлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"

    hardware:
        photo: "../assets/img/product-problem/jayhun_trap.jpg"
        title: "Қурилма таснифи"
        text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---