---
layout: oxus_airsense.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/uz"
            value: "ASOSIY"
        currentLang: "UZ"
        firstLang:
            link: "/ru/oxus_airsense"
            value: "RU"
        secondLang:
            link: "/en/oxus_airsense"
            value: "EN"
        thirdLang:
            link: "/oxus_airsense"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_airsense/banner-2.jpg"
        title_strong: "OXUS AIRSENSE"
        title_rest: " HAVO MONITORING QILISH TIZIMI"
        caption: "Ilg‘or havo sifatini kuzatish tizimi zararli moddalar va asosiy parametrlarni real vaqt rejimida aniqlash uchun ishlab chiqilgan. Tizim havodagi ifloslantiruvchi moddalar miqdorini doimiy kuzatib boradi va shu bilan birga harorat, namlik kabi boshqa muhim atrof-muhit sharoitlarini o‘lchaydi. Taqdim etilgan ma’lumotlar aniq va ishonchli bo‘lib, havo sifati holatini to‘g‘ri baholash va uni samarali nazorat qilish imkonini beradi"

    firstSection:
        title: "Og‘riqli nuqtalar"
        problem_features:
            - img: "../assets/img/oxus_airsense/problems/air_quality.jpg"
              title: "Havoning ifloslanishi"
              caption: "Havoning ifloslanishi atrof muhitga jiddiy tahdid soladi"

            - img: "../assets/img/oxus_airsense/problems/mask.jpg"
              title: "Sog‘liq xavflari"
              caption: "Havo ifloslanishi sog‘liqni muammolarini kuchaytirishi mumkin"

            - img: "../assets/img/oxus_airsense/problems/traffic-jam-exhaust.webp"
              title: "Siyosat va tartibga solish muammolari"
              caption: "Davlat organlari ifloslanish manbalarini aniqlay olmaydi"

    secondSection:
        title: "IMKONIYATLAR"
        iconFeatures:
            - img: "../assets/img/oxus_airsense/icons/pollution.png"
              title: "ifloslantiruvchi moddalar"
              paragraph: "Havodagi ifloslantiruvchi moddalarning o‘lchanishi muhimdir"

            - img: "../assets/img/oxus_airsense/icons/PM.png"
              title: "Zarrachali moddalar miqdori"
              paragraph: "Havodagi zarrachali moddalar miqdori sog‘liq uchun xavf tug‘dirishi mumkin"

            - img: "../assets/img/oxus_airsense/icons/parameters.png"
              title: "Meteorologik ko‘rsatkichlar"
              paragraph: "Meteorologik ko‘rsatkichlar shahar sog‘lig‘i uchun muhim"

    how_it_works:
        img: "../assets/img/oxus_airsense/uz/how_it_works.png"
        title: "Qanday ishlaydi?"
        text: "AirSense havoning sifat parametrlarini, jumladan, NO₂, CO, NH₃, SO₂, H₂S, O₃, qattiq zarralar (PM1.0, PM2.5, PM10) va ob-havo ma’lumotlarini (havoning harorati, namligi, atmosfera bosimi, shamol tezligi) to‘playdi. Ushbu ma’lumotlar zamonaviy datchiklar yordamida yig‘iladi va aniqlikni ta’minlash uchun GPS orqali GSM/GPRS texnologiyasi orqali serverga uzatiladi.
Ma’lumotlar onlayn boshqaruv panelida ko‘rsatiladi, bu esa foydalanuvchilarga havoning sifatini kuzatish va qarorlar qabul qilish imkonini beradi."

    product_gallery:
        title: "FOTOGALEREYA"
        folder: "./assets/img/oxus_airsense/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/oxus_airsense/dashboard/1.gif"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Dasturiy yechim"
        text: "Zararli moddalar va iqlim ko‘rsatkichlari haqidagi barcha ma’lumotlar yagona manbada jamlangan. Platforma sizga havo sifatini baholash va uning o‘zgarishlarini kuzatish imkonini beradi, tahlil uchun tezkor ma’lumotlarni taqdim etadi."

    hardware:
        photo: "../assets/img/oxus_airsense/hardware.png"
        title: "Qurilma tasnifi"
        text: "AirSense NO₂, CO, NH₃, SO₂, H₂S, O₃, PM1.0, PM2.5, PM10 kabi havo sifati parametrlarini hamda harorat, namlik, bosim, shamol tezligi kabi ob-havo ma’lumotlarini zamonaviy datchiklar orqali yig‘ib, GPS va GSM/GPRS texnologiyasi orqali serverga uzatadi. Ma’lumotlar onlayn panelda real vaqtda ko‘rsatilib, foydalanuvchilar havo sifatini kuzatib, qaror qabul qilish imkoniga ega bo‘ladi. Qo‘shimcha aniqlik uchun sun’iy yo‘ldosh ma’lumotlari birlashtiriladi."

    footer_info:
      title: "BUYURTMA BERING!"
      info: "Buyurtma berish va cizni qiziqtirgan savollar uchun:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---