---
layout: oxus_airsense.njk
permalink: "/oxus_airsense/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/oxus_airsense"
            value: "RU"
        secondLang:
            link: "/en/oxus_airsense"
            value: "EN"

    banner:
        img: "../assets/img/oxus_airsense/banner-2.jpg"
        title_strong: "OXUS AIRSENSE"
        title_rest: " ҲАВО МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        caption: "Илғор ҳаво сифатини кузатиш тизими зарарли моддалар ва асосий параметрларни реал вақт режимида аниқлаш учун ишлаб чиқилган. Тизим ҳаводаги ифлослантирувчи моддалар миқдорини доимий кузатиб боради ва шу билан бирга ҳарорат, намлик каби бошқа муҳим атроф-муҳит шароитларини ўлчайди. Тақдим этилган маълумотлар аниқ ва ишончли бўлиб, ҳаво сифати ҳолатини тўғри баҳолаш ва уни самарали назорат қилиш имконини беради"

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/oxus_airsense/problems/air_quality.jpg"
              title: "Ҳавонинг ифлосланиши"
              caption: "Ҳавонинг ифлосланиши атроф муҳитга жиддий таҳдид солади"

            - img: "../assets/img/oxus_airsense/problems/mask.jpg"
              title: "Соғлиқ хавфлари"
              caption: "Ҳаво ифлосланиши соғлиқни муаммоларини кучайтириши мумкин"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/icons/cloud.png"
              title: "ИҚЛИМНИНГ ЎЗГАРИШИ"
              paragraph: "Метеорологик маълумотларнинг рақламлашган кўринишда йўқлиги"

            - img: "../assets/img/icons/earth.png"
              title: "ТУПРОҚНИНГ ШЎРЛАНИШИ"
              paragraph: "Тупроқнинг ҳолатини узлуксиз кузатишнинг имкони йўқлиги"

            - img: "../assets/img/icons/insects.png"
              title: "КАСАЛЛИКЛАР ВА ЗАРАРКУНАНДАЛАР"
              paragraph: "Касаллик ва зараркунандаларга қарши кураш чораларининг вақтида бажарилмаслиги"

            - img: "../assets/img/icons/cactus.png"
              title: "ХОСИЛДОРЛИКНИНГ ПАСАЙИШИ"
              paragraph: "Мавжуд ресурсларнинг нотўғри бошқарилиши оқибатидаги зарарлар"

            - img: "../assets/img/icons/control.png"
              title: "ЭКСПОРТДА КАРАНТИН ТАЛАБЛАРИ"
              paragraph: "Пестицидлардан холи экологик тоза маҳсулот яратишнинг мураккаблиги"

    how_it_works:
        img: "../assets/img/oxus_ws/how_it_works.png"
        title: "Қандай ишлайди?"
        text: "AirSense ҳавонинг сифат параметрларини, жумладан, NO₂, CO, NH₃, SO₂, H₂S, O₃, қаттиқ зарралар (PM1.0, PM2.5, PM10) ва об-ҳаво маълумотларини (ҳавонинг ҳарорати, намлиги, атмосфера босими, шамол тезлиги) тўплайди. Ушбу маълумотлар замонавий датчиклар ёрдамида йиғилади ва аниқликни таъминлаш учун GPS орқали GSM/GPRS технологияси орқали серверга узатилади.
                Маълумотлар онлайн бошқарув панелида кўрсатилади, бу эса фойдаланувчиларга ҳавонинг сифатини кузатиш ва қарорлар қабул қилиш имконини беради."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/oxus_airsense/gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/oxus_airsense/dashboard/1.gif"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Дастурий ечим"
        text: "Зарарли моддалар ва иқлим кўрсаткичлари ҳақидаги барча маълумотлар ягона манбада жамланган. Платформа сизга ҳаво сифатини баҳолаш ва унинг ўзгаришларини кузатиш имконини беради, таҳлил учун тезкор маълумотларни тақдим этади."

    hardware:
        photo: "../assets/img/section-photos/difference.png"
        title: "Қурилма таснифи"
        text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---