---
layout: oxus_ws.njk
permalink: "/oxus_ws/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/oxus_ws"
            value: "RU"
        secondLang:
            link: "/en/oxus_ws"
            value: "EN"
        navigation:
            value: "НАВИГАЦИЯ"
            pain_points: "МУАММОЛАР"
            benefits: "ХУСУСИЯТЛАР"
            how_it_works: "КАНДАЙ ИЩЛАЙДИ"
            gallery: "ГАЛЛЕРЕЯ"
            dashboard: "ПРОГРАММА"
            hardware: "ПРОЦЕССОРИ"

    banner:
        img: "../assets/img/oxus_ws/banner.jpg"
        title_strong: "OXUS WS"
        title_rest: " АГРОМЕТЕОСТАНЦИЯСИ"
        caption: "Бу замонавий тизим иссиқхона хўжалигингизнинг асосий кўрсаткичларини назорат қилади:
                    ҳаво ва тупроқнинг ҳарорати ҳамда намлиги, газ ёки кўмир сарфиёти, шунингдек насослар ва
                    бошқа ускуналарнинг ишлашини кузатиб боради."

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/product-problem/anthracnose-1.webp"
              title: "Lorem ipsum dolor."
              caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?"

            - img: "../assets/img/product-problem/tomato-moskovich-variety-d74d4cee-fc099413833045ddb5e2e52415a24d97.jpg"
              title: "Lorem ipsum dolor."
              caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?"

            - img: "../assets/img/product-problem/1000_F_217177972_HtaEvR19QDeHO0E9RszNcvRLp7ASWQvd.jpg"
              title: "Lorem ipsum dolor."
              caption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, veritatis?"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/icons/cloud.png"
              title: "ИҚЛИМНИНГ ЎЗГАРИШИ"
              paragraph: "Метеорологик маълумотларнинг рақламлашган кўринишда йўқлиги"

            - img: "../assets/img/icons/earth.png"
              title: "ТУПРОҚНИНГ ШЎРЛАНИШИ"
              paragraph: "Тупроқнинг ҳолатини узлуксиз кузатишнинг имкони йўқлиги"

            - img: "../assets/img/icons/insects.png"
              title: "КАСАЛЛИКЛАР ВА ЗАРАРКУНАНДАЛАР"
              paragraph: "Касаллик ва зараркунандаларга қарши кураш чораларининг вақтида бажарилмаслиги"

            - img: "../assets/img/icons/cactus.png"
              title: "ХОСИЛДОРЛИКНИНГ ПАСАЙИШИ"
              paragraph: "Мавжуд ресурсларнинг нотўғри бошқарилиши оқибатидаги зарарлар"

            - img: "../assets/img/icons/control.png"
              title: "ЭКСПОРТДА КАРАНТИН ТАЛАБЛАРИ"
              paragraph: "Пестицидлардан холи экологик тоза маҳсулот яратишнинг мураккаблиги"

    how_it_works:
        img: "../assets/img/oxus_ws/how_it_works.png"
        title: "Қандай ишлайди?"
        text: "Шамол йўналиши, тезлиги, ҳаво ва тупроқ намлиги каби об-ҳаво параметрлари
                датчиклар орқали ўлчаниб, ГПС ёрдамида ГСМ/ГПРС орқали серверга узатилади.
                Маълумотлар қайта ишланиб, онлайн бошқарув панелида акс эттирилади, фермерлар
                вазиятни кузатиш ва қарор қабул қилиш учун фойдаланиши мумкин. Тизим сунъий йўлдош
                маълумотларини ҳам қўшиб, аниқликни оширади.
              "

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/main-gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/section-photos/dashboard1-1.png"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Дастурий ечим"
        features:
            - text: "Метеостанция ёрдамида oлинган маълумотлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"
            - text: "30 дан ошиқ касалликлар ва зараркунандалар учун башоратлар"

    hardware:
        photo: "../assets/img/oxus_ws/hardware.png"
        title: "Қурилма таснифи"
        text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, labore, quis. Alias aliquid architecto consectetur corporis cum dolores,
                        doloribus ea eius facilis fugiat inventore laborum laudantium mollitia nisi nostrum odio officia optio perferendis placeat provident quas quidem reiciendis,
                        rem reprehenderit vero. At commodi dolore dolores eaque eos expedita explicabo fugit incidunt itaque,
                        iure magni nesciunt non officia quae quibusdam rem repellendus reprehenderit soluta suscipit tempore temporibus velit vitae voluptas voluptatibus."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---