---
layout: oxus_ws.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/uz"
            value: "ASOSIY"
        currentLang: "UZ"
        firstLang:
            link: "/ru/oxus_ws"
            value: "RU"
        secondLang:
            link: "/en/oxus_ws"
            value: "EN"
        thirdLang:
            link: "/oxus_ws"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_ws/banner-6.jpg"
        mobile_img: "../assets/img/oxus_ws/mobile-banner.jpg"
        title_strong: "OXUS WS"
        title_rest: " AGROMETEOSTANSIYASI"
        caption: "Muhit va tuproqning asosiy parametrlarini, jumladan, havo harorati, namlik, yog‘ingarchilik, shamol tezligi va yo‘nalishi, shuningdek, tuproq namligi, harorati va o‘tkazuvchanligini nazorat qiladi. Qishloq xo‘jaligida ob-havoni tahlil qilish, sug‘orishni optimallashtirish va ekinlarni boshqarish bo‘yicha ma’lumotlarni taqdim etadi."

    firstSection:
        title: "Og‘riqli nuqtalar"
        problem_features:
            - img: "../assets/img/oxus_ws/problems/tractor-in-mud.jpg"
              title: "Real vaqt ma’lumotlarining yetishmasligi"
              caption: "Axborot yetishmasligi qaror qabul qilishga to‘sqinlik qiladi"

            - img: "../assets/img/oxus_ws/problems/overwatered-plant.jpg"
              title: "Resurslarni samarasiz boshqarish"
              caption: "Suv va o‘g‘itni noto‘g‘ri taqsimlash past hosilga olib keladi"

            - img: "../assets/img/oxus_ws/problems/dead-crop.jpg"
              title: "Bashorat ma’lumotlarining yetishmasligi"
              caption: "Ma’lumotsiz reja hosil yo‘qotilishiga olib keladi"

    secondSection:
        title: "IMKONIYATLAR"
        iconFeatures:
            - img: "../assets/img/oxus_ws/icons/icons8-dew-point-100.png"
              title: "Nisbiy namlik"
              paragraph: "Atmosfera bosimi, havo harorati va namlikni o‘lchaydi"

            - img: "../assets/img/oxus_ws/icons/icons8-windsock-100.png"
              title: "Shamol tezligi va yo‘nalishi"
              paragraph: "Shamol o‘lchash uchun anemometr va parrakdan foydalaniladi"

            - img: "../assets/img/oxus_ws/icons/icons8-log-100.png"
              title: "Ma’lumotlarni qayd etish"
              paragraph: "Ma’lumotlarni mustaqil kuzatish va uzatishni ta’minlaydi"

            - img: "../assets/img/oxus_ws/icons/icons8-soil-100.png"
              title: "Tuproq namligi va harorati"
              paragraph: "Tuproqqa o‘rnatilganda, uzluksiz aniq o‘lchovlarni ta’minlaydi"

            - img: "../assets/img/oxus_ws/icons/icons8-rain-100.png"
              title: "Yog‘ingarchilik"
              paragraph: "Shamol tezligi, yo‘nalishi va yog‘ingarchilikni qayd qiladi"

    how_it_works:
        img: "../assets/img/oxus_ws/uz/how_it_works.png"
        title: "Qanday ishlaydi?"
        text: "Shamol yo‘nalishi, tezligi, havo va tuproq namligi kabi ob-havo parametrlari
datchiklar orqali o‘lchanib, GPS yordamida GSM/GPRS orqali serverga uzatiladi.
Ma’lumotlar qayta ishlanib, onlayn boshqaruv panelida aks ettiriladi, fermerlar
vaziyatni kuzatish va qaror qabul qilish uchun foydalanishi mumkin. Tizim sun’iy yo‘ldosh
ma’lumotlarini ham qo‘shib, aniqlikni oshiradi.
              "

    product_gallery:
        title: "FOTOGALEREYA"
        folder: "./assets/img/oxus_ws/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/section-photos/dashboard1-1.png"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Dasturiy yechim"
        features:
            - text: "Meteostansiya yordamida olingan ma’lumotlar"
            - text: "Bir haftalik ob-havo va boshqa agrometeorologik bashoratlar"
            - text: "Agronomlar uchun kerakli statistik ko‘rsatkichlar"
            - text: "30 dan oshiq kasalliklar va zararkunandalar uchun bashoratlar"

    video:
        title: "Amaldagi tatbiqi"
        thumbnail: "../assets/img/oxus_ws/video/Jasur_aka.png"
        link: "https://www.youtube.com/watch?v=9JYEav9Sahg"
        text: "Toshkentda changli ob-havo kuzatilmoqda va shaharning turli burchaklariga bir nechta Oxus WS meteostansiyalari joylashtirilgan. Ular ob-havo sharoitlarini nazorat qilish uchun ishlatiladi. Ushbu stansiyalar gaz ifloslanishini, kichik zarrachalarni va boshqa ko‘rsatkichlarni o‘lchaydi."

    hardware:
        photo: "../assets/img/oxus_ws/uz/hardware.png"
        title: "Qurilma tasnifi"
        text: "OXUS ob-havo stansiyasi uskunasi harorat, namlik, tuproq namligi va elektr o‘tkazuvchanlik kabi aniq atmosfera va tuproq o‘lchovlari uchun sensorlar to‘plamini o‘z ichiga oladi. Boshqaruv bloki ma’lumotlarni yig‘ish, qayta ishlash va simsiz aloqa o‘rnatish uchun mikroprotsessor bilan jihozlangan. Quyosh paneli uzluksiz quvvat ta’minotini beradi, bu esa zaxira sifatida qayta zaryadlanadigan batareya bilan qo‘llab-quvvatlanadi."

    footer_info:
      title: "BUYURTMA BERING!"
      info: "Buyurtma berish va sizni qiziqtirgan savollar uchun:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---