* {
    font-family: "Roboto", sans-serif;
    outline:none;
    font-weight: 500;
}

html {
    scroll-behavior: smooth!important;
}

::selection {
    background-color: #0563aa; /* Highlight background color */
    color: white; /* Highlight text color */
}

main {
    transition: all 0.6s;
}

.custom-container {
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (min-width: 1600px) {
    .custom-container {
        width: 1250px;
        margin: 0 auto;
    }

}

@media (max-width: 1250px) {
    .custom-container {
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .custom-container {
        width: 98%;
        margin: 0 auto;
    }

    .section-title {
        font-size: 1em!important;
    }
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    color: #555;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 500;
}

.section-title:before,
.section-title:after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: rgba(87, 81, 81, 0.1);; /* Line color */
}

.section-title:before {
    margin-right: 10px; /* Space between line and text */
}

.section-title:after {
    margin-left: 10px; /* Space between line and text */
}

.section-title span {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1); /* Text color */
    background-color: white; /* Background color behind text */
    padding: 0 10px; /* Padding to add space between text and background */
}

/*#agrometeostation-custom {*/
/*    background-color: rgb(227, 242, 253);*/
/*}*/

#agrometeostation h3 {
    margin-bottom: 10px;
}

#meteostation-technical h3 {
    margin-bottom: 10px;
}

#foreign-difference h3 {
    margin-bottom: 10px;
}

#foreign-difference {
    background-color: rgb(241, 248, 233);
}

#gallery-section {
    padding: 4em 0;
    background-color: rgb(40, 40, 40);
}

#jayhun-trap {
    background-color: rgb(227, 242, 253);
}

#about-us {
    background-color: rgb(241, 248, 233)
}

#our-partners {
    background-color: rgb(227, 242, 253);
}

#jayhun-trap h3 {
    margin-bottom: 10px;
}

#jayhun-trap-spec h3 {
    margin-bottom: 10px;
}

#jayhun-trap-spec {
    background-color: rgb(227, 242, 253);
}

#oxus-airsense {
    background-color: rgb(241, 248, 233)
}

@media (max-width: 850px) {
    #meteostation-online ul {
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    #meteostation-online h3 {
        text-align: center;
    }
}

.products {
    scroll-margin-top: 80px;
}

#jayhun-trap-spec {
    scroll-margin-top: 20vh;
}

#gozanlink {
    scroll-margin-top: 20vh;
}

@media (max-width: 550px) {
    .products {
        scroll-margin-top: -30vh;
    }

    #jayhun-trap-spec {
        scroll-margin-top: 50px;
    }

    #gozanlink {
        scroll-margin-top: 50px;
    }
}

/*#oxusws-photo {*/
/*    max-height: 400px!important;*/
/*}*/

/*#oxus-airsense-photo {*/
/*    max-height: 400px!important;*/
/*}*/