main {
    transition: background-color 0.6s;
}
.contact-info a {
    text-decoration: none!important;
    font-size: 11px;
    transition: all .3s ease-in-out;
    color: rgba(102,102,102,0.85);
    font-weight: 500;
}

#hamburger-button {
    display: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    z-index: 2;
    position: relative;
    margin: 0 10px;
}

#hamburger-button span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: rgba(102,102,102,0.85);
    left: 5px;
    transition: transform .8s, opacity .8s, batkground-color .8s;
}

#hamburger-button span:nth-child(1) {
    transform: translateY(-10px);
}

#hamburger-button span:nth-child(3) {
    transform: translateY(10px);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)!important; /* Adjust the alpha (0.5) for transparency */
    z-index: 10000!important; /* Make sure it's above the body but below the menu */
    transition: background-color 0.6s;
}

.mobile-logo {
    display: none;
}

.contact-info {
    padding-top: 2px;
    display: flex;
}

.contact-info a:hover {
    color: black;
}

#email {
    letter-spacing: .08em;
}

#email:hover {
    color: black;
}

#phone {
    background-color: #0563aa!important;
    color: white!important;
    padding: 7px 20px 8px;
    font-size: 13px;
    transition: all .3s ease-in-out;
}

#phone:hover {
    background-color: #045591 !important;
}

@media (max-width: 850px) {
    #hamburger-button {
        display: block;
    }

    header.open .contact-info {
        transform: translateX(100%);
    }

    header.open body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 5; /* Overlay effect below the header */
        pointer-events: none; /* Allows clicks to pass through */
        transition: opacity 0.3s ease;
    }

    header.open #hamburger-button span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }

    header.open #hamburger-button span:nth-child(2) {
        opacity: 0;
    }

    header.open #hamburger-button span:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }

    .contact-info {
        position: absolute;
        display: block;
        top: 0;
        left: -50%;
        height: 100vh;
        background-color: white;
        width: 50%;
        padding-top: 20vh;
        padding-left: 7%;
        transition: transform .8s;
        border-right: 2px solid rgba(102,102,102,0.85);
    }

    .contact-info a {
        display: block;
        color: rgba(102,102,102,0.85);
    }

    #phone {
        background-color: transparent!important;
        color: rgba(102,102,102,0.85)!important;
        padding: 0;
        font-size: 20px;
    }

    #email {
        font-size: 20px;
    }

    #phone:hover {
        background-color: transparent!important;
        color: black!important;
    }
}

@media (max-width: 500px) {
    #hamburger-button {
        display: block;
    }

    .contact-info {
        padding-left: 10%;
    }

    #phone {
        font-size: 15px;
    }

    #email {
        font-size: 15px;
    }
}