#second-section {
    background-color: rgb(241, 248, 233);
}

.section-wrapper {
    padding-top: 5vh;
}

.mobile-padding-second-section {
}

@media (max-width: 500px) {
    .mobile-padding-second-section {
        padding-top: 3vh!important;
    }
}