.section-wrapper-ordinary {
    display: flex;
    flex-wrap: wrap;
    padding: 8vh 2em;
    gap: 2em;
}

.image-block {
    display: flex;
    align-items: center;
}

.image-block div {
    margin-bottom: 2.5em;
}

.text-block, .image-block {
    flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
    min-width: 400px; /* Ensures the items do not get too small */
}

.text-block {
    display: flex;
    align-items: center;
    padding-bottom: 3em;
}

.text-block h3 {
    font-size: 1.6em;
    color: #555;
    margin-bottom: 1.8em;
    letter-spacing: .05em;
}

.text-block p {
    font-weight: 300;
    color: #777;
}

.text-block ul {
    max-width: 500px;
    padding-left: 2.5em;
}

.text-block li {
    color: #777;
}

.image-block img {
    width: 95%; /* Makes the image responsive and fit the parent width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
    box-shadow: 10px 10px 20px rgba(10, 0, 10, 0.2);
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .image-block img {
        width: 500px; /* Makes the image responsive and fit the parent width */
    }
}

@media (max-width: 1220px) {
    .image-block img {
        width: 90%; /* Makes the image responsive and fit the parent width */
    }

    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        min-width: 350px; /* Ensures the items do not get too small */
    }

    .text-block div {
        margin: 0 auto;
    }
}

@media (max-width: 800px) {
    .text-block h3 {
        font-size: 1.2em;
        color: #555;
        margin-bottom: 1.8em;
        letter-spacing: .05em;
        text-align: center;
    }

    .image-block img {
        width: 100%; /* Makes the image responsive and fit the parent width */
    }
}

@media (max-width: 600px) {
    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        min-width: 250px; /* Ensures the items do not get too small */
    }

}