.section-wrapper-ordinary {
    display: flex;
    flex-wrap: wrap;
    padding: 6vh 2em;
    padding-top: 8vh;
    gap: 3em;
    justify-content: center;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-block div {
    margin-bottom: 2.5em;
}

.text-block, .image-block {
    flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
    min-width: 400px; /* Ensures the items do not get too small */
}

.text-block {
    display: flex;
    align-items: center;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.text-block h3 {
    font-size: 1.6em;
    color: #555;
    /*margin-bottom: 1.6em;*/
    letter-spacing: .05em;
    font-weight: 500;
}

.text-block p {
    font-weight: 300;
    color: #777;
    line-height: 1.8;
    font-style: normal;
    margin-bottom: 20px;
}

.text-block ul {
    max-width: 500px;
    padding-left: 2.8em;
}

.text-block li {
    color: #777;
}

.image-block img {
    width: 95%; /* Makes the image responsive and fit the parent width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
    box-shadow: 10px 10px 20px rgba(10, 0, 10, 0.2);
    margin: 0 auto;
    max-height: 400px;
    object-fit: cover;
}

.image-block div {
    width: 100%;
}

.custom-image-section {
    max-height: 570px!important;
}

@media (min-width: 1600px) {
    /*.image-block img {*/
    /*    width: 500px; !* Makes the image responsive and fit the parent width *!*/
    /*}*/
}

@media (max-width: 1280px) {
    .text-block h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 1220px) {
    .image-block img {
        width: 100%; /* Makes the image responsive and fit the parent width */
    }

    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        min-width: 350px; /* Ensures the items do not get too small */
    }

    .text-block div {
        margin: 0 auto;
    }
}

/*@media (max-width: 1000px) {*/
/*    .image-block img {*/
/*        min-width: 370px;*/
/*    }*/
/*}*/

.learn-more-button {
    margin-top: 5px;
    padding: 10px 20px;
    color: white!important;
    background-color: rgba(102, 102, 102, 0.85);
    text-decoration: none;
    transition: all .4s;
}

.learn-more-button:hover {
    background-color: #0563aa!important;
}

@media (max-width: 860px) {
    .text-block h3 {
        color: #555;
        margin-bottom: 1.8em;
        letter-spacing: .05em;
    }

    .image-block img, .text-block {
        max-width: 600px;
        margin: 0 auto;
    }

    .text-block {
        padding-bottom: 0;
    }
}

@media (max-width: 800px) {
    .text-block h3 {
        color: #555;
        margin-bottom: 1.8em;
        letter-spacing: .05em;
    }
}

@media (max-width: 600px) {
    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        max-width: 400px;
    }

    .image-block div {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .text-block {
        max-width: 300px;
        margin: 0 auto;
    }

    .text-block h3 {
        font-size: 1.2em;
    }
}