.section-wrapper-ordinary {
    display: flex;
    flex-wrap: wrap;
    padding: 6vh 2em;
    padding-top: 8vh;
    gap: 3em;
    justify-content: center;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.image-block div {
    margin-bottom: 2.5em;
}

.text-block, .image-block {
    flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
    min-width: 400px; /* Ensures the items do not get too small */
}

.text-block {
    display: flex;
    align-items: center;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.text-block h3 {
    font-size: 1.75em;
    color: #555;
    /*margin-bottom: 1.6em;*/
    letter-spacing: .5px;
    font-weight: 500;
}

.text-block p {
    font-weight: 300;
    color: #777;
    line-height: 1.8;
    font-style: normal;
    margin-bottom: 25px;
}

.text-block ul {
    max-width: 500px;
    padding-left: 1rem!important;
    /*list-style: none;*/
}

.text-block li {
    color: #777;
}

.image-block img {
    width: 95%; /* Makes the image responsive and fit the parent width */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes extra space below the image */
    box-shadow: 10px 10px 20px rgba(10, 0, 10, 0.2);
    margin: 0 auto;
    max-height: 400px;
    object-fit: cover;
}

.image-block div {
    width: 100%;
}

.custom-image-section {
    max-height: 700px!important;
}

@media (min-width: 1600px) {
    .text-block h3 {
        font-size: 1.7em;
    }
}

@media (max-width: 1280px) {
    .text-block h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 1220px) {
    .image-block img {
        width: 100%; /* Makes the image responsive and fit the parent width */
    }

    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        min-width: 350px; /* Ensures the items do not get too small */
    }

    .text-block div {
        margin: 0 auto;
    }
}

/*@media (max-width: 1000px) {*/
/*    .image-block img {*/
/*        min-width: 370px;*/
/*    }*/
/*}*/

.learn-more-button {
    padding: 10px 20px;
    color: white!important;
    background-color: rgba(102, 102, 102, 0.85);
    text-decoration: none;
    transition: all .4s;
}

.learn-more-button:hover {
    background-color: #0563aa!important;
}

@media (max-width: 860px) {
    .text-block h3 {
        color: #555;
        margin-bottom: .5em;
        letter-spacing: .05em;
    }

    .image-block img, .text-block {
        max-width: 500px;
        margin: 0 auto;
    }

    .text-block {
        padding-bottom: 0;
    }

    .text-block p {
        margin-bottom: 1.5em;
    }


    .section-wrapper-ordinary {
        gap: 1.5em;
    }
}

@media (max-width: 830px) {
    #jayhun-trap-spec div, #gozanlink div {
        flex-direction: column-reverse;
        align-content: center;
    }

    .image-block div {
        margin-bottom: .5em;
    }
}

@media (max-width: 800px) {
    .text-block h3 {
        color: #555;
        letter-spacing: .05em;
    }
}

@media (max-width: 600px) {
    .text-block, .image-block {
        flex: 1 1 45%; /* Allows the items to flexibly resize and wrap */
        max-width: 400px;
    }

    .image-block div {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .text-block {
        max-width: 300px;
        margin: 0 auto;
    }

    .text-block h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 370px) {
    .text-block {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .image-block img {
        width: 85%;
    }
}

@media (min-width: 1300px) and (max-width: 1580px) {
    #jayhun-trap-spec h3 a {
        display: block;
    }
}

@media (min-width: 1460px) {
    #oxus-airsense h3, #gozanlink h3 {
        max-width: 450px;
    }
}