.carousel-cell {
    width: 100%; /* Take the full width of the container */
    height: 90vh; /* Relative height, starting point around 500px */
    min-height: 300px; /* Ensures a minimum height on smaller screens */
    max-height: 600px; /* Cap the height on very large screens */
    box-sizing: border-box; /* Include padding and border in width and height calculations */
    overflow: hidden; /* Ensure content doesn't overflow, important for images */
    position: relative; /* Allows positioning of elements inside */
    background-color: #0563aa;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Makes the image cover the entire container while maintaining aspect ratio */
    display: block; /* Ensures there's no gap around the image */
}

.carousel-caption-custom {
    position: absolute;
    left: 15%; /* Adjust this value to create space from the left edge */
    top: 50%;
    transform: translateY(-40%); /* Vertically centers the caption */
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white background */
    padding: 50px 30px; /* Adds padding around the text */
    max-width: 550px; /* Adjust to limit width if needed */
    font-family: 'Roboto', sans-serif;
    transition: all .6s;
}

.carousel-caption-custom h3 {
    font-size: 1.7em;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 15px;
    color: #555;
    max-width: 100%;
}

.carousel-caption-custom p {
    color: gray;
    line-height: 1.7;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Media query for mobile screens */
@media (min-width: 1700px) {
    .carousel-caption-custom {
        left: 25%; /* Adjust this value to create space from the left edge */
    }

    .carousel-cell {
        max-height: 900px!important;
    }
}

@media (min-width: 1350px) {
    .carousel-cell {
        max-height: 700px;
    }
}

@media (min-width: 470px) and (max-width: 800px) {
    .carousel-caption-custom {
        max-width: none;
        width: 400px;
        left: 50%;
        transform: translate(-50%, -40%);
    }

    .carousel-caption-custom h3 {
        font-size: 22px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .carousel-caption-custom p {
        font-size: 14px;
    }
}

@media (max-width: 469px) {
    .carousel-cell {
        height: 100vh;
    }

    /*.flickity-button {*/
    /*    display: none;*/
    /*}*/

    .carousel-caption-custom {
        padding: 25px;
        width: 300px;
        left: 50%;
        transform: translate(-50%, -25%);
    }

    .carousel-caption-custom h3 {
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .carousel-caption-custom p {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    #main-banner {
        display: none;
    }
}