---
layout: gozanlink.njk
permalink: "/gozanlink/index.html"

baseUrl: ""

mySite:
    title: "Ақлли иссиқхона бошқаруви - Ҳарорат, намлик ва иқлим назорати учун инновацион ечим."
    metaDescription: "Ақлли иссиқхона бошқаруви – ҳарорат, намлик, ҳаво оқими ва ёруғлик даражаларини кузатиш ҳамда таҳлил қилиш учун замонавий инновацион ечим. Ушбу технология иссиқхоналарда иқлим шароитини автоматик бошқариш, экинларнинг ўсишига оптимал шароит яратиш ва ҳосилдорликни ошириш мақсадида ишлаб чиқилган. Сенсорлар ва сунъий интеллект ёрдамида ишловчи бу ечимлар иссиқхонада ресурсларни самарали бошқаришга ва табиий таъсирларни минималлаштиришга ёрдам беради. Фермерлар ва боғбонлар учун ишончли ва экологик ечим таклиф этилади."
    telegram: "https://t.me/amudar_io"
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        currentLang: "УЗ"
        firstLang:
            link: "/ru/gozanlink"
            value: "РУ"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"
        thirdLang:
            link: "/uz/gozanlink"
            value: "UZ"

    banner:
        img: "../assets/img/gozanlink/test_banner.jpg"
        title_strong: "GozanLink"
        title_rest: " ИССИҚХОНА МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        caption: "Иссиқхоналардаги иқлим ва тупроқ шароитларини кузатиш учун мўлжалланган мониторинг тизими. Ички ва ташқи ҳарорат, нисбий намлик, шамол тезлиги, тупроқнинг намлиги ва ҳарорати каби муҳим параметрлардан маълумот тўплайди. Шунингдек, электр таъминоти узилишлари ва насос ишлашини назорат қилиб, самарали бошқаришга ёрдам беради ва муаммоларни тезкор ҳал қилиш имкониятини яратади"

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/gozanlink/problems/frozen_plant.jpg"
              title: "МУЗЛАБ ҚОЛГАН ЎСИМЛИКЛАР"
              caption: "Паст ҳарорат ўсимликларнинг музлаши, ўсиши тўхташи ва ҳосилнинг зарарланишига сабаб бўлади"

            - img: "../assets/img/gozanlink/problems/rotten-tomato.jpg"
              title: "Намлик ва замбуруғлар"
              caption: "Ҳаддан ташқари намлик экинларда моғор ва замбуруғ пайдо бўлишига олиб келади"

            - img: "../assets/img/gozanlink/problems/dry_soil.jpg"
              title: "ТУПРОҚНИНГ ҚУРИБ ҚОЛИШИ"
              caption: "Қуруқ ёки етарли намланмаган тупроқ экинларнинг ўсишини секинлаштиради"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/gozanlink/icons/icons8-temperature-outside-100.png"
              title: "ИЧКИ ИҚЛИМ"
              paragraph: "Иссиқхона ичидаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/gozanlink/icons/icons8-pump-100.png"
              title: "НАСОС НАЗОРАТИ"
              paragraph: "Насос ишлашини назорат қилувчи датчик"

            - img: "../assets/img/gozanlink/icons/earth.png"
              title: "ТУПРОҚ МОНИТОРИНГИ"
              paragraph: "Тупроқ ҳарорати, намлиги ва электр ўтказувчанлиги"

            - img: "../assets/img/gozanlink/icons/icons8-temperature-100.png"
              title: "ТАШҚИ ИҚЛИМ"
              paragraph: "Ташқаридаги ҳавонинг ҳарорати ва нисбий намлиги"

            - img: "../assets/img/gozanlink/icons/icons8-wind-100.png"
              title: "ШАМОЛ ТЕЗЛИГИ"
              paragraph: "Ташқаридаги шамолнинг тезлиги ва йўналиши"

    how_it_works:
        thumbnail: "../assets/img/gozanlink/video/thumbnail-1.png"
        video: "https://www.youtube.com/watch?v=FM1xrikogHc"
        title: "Қандай ишлайди?"
        text: "ГозанЛинк иссиқхона мониторинг тизими ўрнатилган сенсорлар ёрдамида иссиқхонадаги
                шароитларни доимий равишда кузатади. Тизим ҳарорат, нисбий намлик, тупроқ намлиги,
                шамол тезлиги ва қуёш радиациясини ўлчаб, маълумотларни автоматик равишда булутли платформага узатади.
                GSM модеми орқали узатиладиган маълумотлар фермерларга реал вақтда огоҳлантиришларни тақдим этади, бу эса зарур
                чораларни кўриш имконини беради"

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/gozanlink/gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/gozanlink/dashboard/1.jpg"
        photo_two: "../assets/img/gozanlink/dashboard/2.jpg"
        title: "Дастурий ечим"
        text: "Бошқарув панелимиздаги батафсил диаграммалар иссиқхона иқлими ва печдан фойдаланиш ҳақида маълумот беради, шунингдек, жорий ҳарорат ва намлик кўрсаткичларини ҳам акс эттиради. Бундан ташқари, у печни бошқариш учун муҳим самарадорлик кўрсаткичларини ҳам намойиш этади."

    video:
        title: "Амалдаги татбиқи"
        thumbnail: "../assets/img/gozanlink/video/thumbnail.jpg"
        link: "https://www.youtube.com/watch?v=ObGJ9q0o0d0"
        text: "Иссиқхона бошқарув тизими ҳозирда кўплаб фермерлар томонидан қўлланилмоқда. Бу тизим улардан бирига кетма-кет икки йил давомида помидор экиш ва ҳали ҳам яхши ҳосил олишга ёрдам берди. Бундан ташқари, ушбу тизим иссиқхонада иссиқ ҳароратни сақлаш учун камроқ ёқилғи сарфлайди ва иссиқхона эгасига кўп миқдорда маблағ тежаш имконини беради. Тизим ички об-ҳаво маълумотларини кузатиш учун қулай интерфейсга эга бўлиб, яхши ишлайдиган Telegram ботни ҳам ўз ичига олади."

    hardware:
        photo: "../assets/img/gozanlink/hardware.png"
        title: "Қурилма таснифи"
        text: "ГозанЛинк иссиқхона мониторинг тизими ўрнатилган сенсорлар ёрдамида иссиқхонадаги шароитларни доимий равишда кузатади. Тизим ҳарорат, нисбий намлик, тупроқ намлиги, шамол тезлиги ва қуёш радиациясини ўлчаб, маълумотларни автоматик равишда булутли платформага узатади. GSM модеми орқали узатиладиган маълумотлар фермерларга реал вақтда огоҳлантиришларни тақдим этади, бу эса зарур чораларни кўриш имконини беради."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва сизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---