---
layout: app.njk
permalink: "/"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            value: "АСОСИЙ"
            link: ""

        currentLang: "УЗ"

        firstLang:
            value: "РУ"
            link: "/ru"

        secondLang:
            value: "EN"
            link: "/en"

        thirdLang:
            value: "UZ"
            link: "/uz"

        products:
            value: "МАҲСУЛОТЛАР"
            oxus_ws: "OXUS WS"
            jayhun_trap: "JAYHUN TRAP"
            oxus_airsense: "OXUS AIRSENSE"
            gozanlink: "GOZANLINK"

    carouselItems:
        - image:
            src: "assets/img/top-slider/slider_03.jpg"
            alt: "Image 1"
          mobile_image:
            src: "assets/img/top-slider/mobile-banner-oxus-ws.jpg"
            alt: "image 1"
          caption:
            heading: "Ақлли агрометеостанциялар jimmy"
            text: "Бизнинг агрометеостанциямиз сизнинг боғингизни тинимсиз кузатади ва барча керакли метео-маълумотларни йиғиб боради. Шу билан бирга, у сизга об-ҳаво башорати ва ўсимликларда кўп учрайдиган касаллик ва зараркунандаларнинг ривожланиши хақида фойдали маълумотларни етказиб туради."
          link: "#oxus-ws"
          button: "Батафсил"

        - image:
            src: "assets/img/top-slider/jayhun_trap.jpg"
            alt: "Image 2"
          mobile_image:
            src: "assets/img/top-slider/jayhun_mobile_banner.jpeg"
            alt: "Image 2"
          caption:
            heading: "Ақлли феромон тутқичлар"
            text: "Бизнинг феромон тутқичлар зараркунандаларни сунъий интеллект ёрдамида аниқлай олади ва бу хақида сизга зудлик билан хабар бера олади. Шунингдек, у сизнинг ҳудудингизда зараркунанда тарқалиши эҳтимоллигини айтади ва унга қарши курашишда фойдали маслаҳатлар беради."
          link: "#jayhun-trap-spec"
          button: "Батафсил"


        - image:
            src: "assets/img/top-slider/bad-air.jpg"
            alt: "Аккли хаво мониторинги"
          mobile_image:
            src: "assets/img/top-slider/airsense_mobile.jpg"
            alt: "Image 3"
          caption:
            heading: "Ақлли ҳаво мониторинги"
            text: "Атроф-муҳит сифатини назорат қилиш ва ҳаводаги зарарли моддалар даражасини ўлчаш технологияси экологик мониторингнинг муҳим қисми ҳисобланади. Ушбу технологиялар турли сенсор ва датчиклар орқали ҳаводаги кимёвий моддалар, чанг заррачалари, газлар ва бошқа зарарли элементларни реал вақтда ўлчаш имконини беради."
          link: "#oxus-airsense"
          button: "Батафсил"

        - image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          mobile_image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          caption:
            heading: "Ақлли иссиқхона бошқаруви"
            text: "Иссиқхоналардаги иқлим параметрларини мониторинг қилиш ва маълумотларни тўплаш учун платформа – бу замонавий технологиялар асосида ишлаб чиқилган инновацион ечимдир. Бу платформа иссиқхоналардаги турли иқлим параметрларини, жумладан, ҳарорат, намлик, ёруғлик ва углерод оксиди даражаларини кузатиб бориш ва таҳлил қилиш имконини беради."
          link: "#gozanlink"
          button: "Батафсил"

    firstSection:
        title: "ҚИШЛОҚ ХЎЖАЛИГИ СОХАСИДАГИ АЙРИМ МУАММОЛАР"
        iconFeatures:
            - img: "assets/img/icons/cloud.png"
              title: "ИҚЛИМНИНГ ЎЗГАРИШИ"
              paragraph: "Метеорологик маълумотларнинг рақламлашган кўринишда йўқлиги"

            - img: "assets/img/icons/earth.png"
              title: "ТУПРОҚНИНГ ШЎРЛАНИШИ"
              paragraph: "Тупроқнинг ҳолатини узлуксиз кузатишнинг имкони йўқлиги"

            - img: "assets/img/icons/insects.png"
              title: "КАСАЛЛИКЛАР ВА ЗАРАРКУНАНДАЛАР"
              paragraph: "Касаллик ва зараркунандаларга қарши кураш чоралари кечикса"

            - img: "assets/img/icons/cactus.png"
              title: "ХОСИЛДОРЛИКНИНГ ПАСАЙИШИ"
              paragraph: "Мавжуд ресурсларнинг нотўғри бошқарилиши оқибатидаги зарарлар"

            - img: "assets/img/icons/control.png"
              title: "ЭКСПОРТДА КАРАНТИН ТАЛАБЛАРИ"
              paragraph: "Пестицидлардан холи экологик тоза маҳсулот яратишнинг мураккаблиги"


    secondSection:
        title: "Таклиф этилаётган ечим"
        iconFeatures:
            - img: "assets/img/icons/binoculars.png"
              title: "Узлуксиз ва рақамлашган метеорологик кузатувлар"
              paragraph: "Атроф-муҳитни узлуксиз равишда монитринг қилиш имконияти"

            - img: "assets/img/icons/umbrella.png"
              title: "Юқори аниқликдаги агрометеорологик башоратлар"
              paragraph: "10 дан ортиқ агрометеорологик кўрсаткичларнинг бир хафталик башорати"

            - img: "assets/img/icons/plants.png"
              title: "Касаллик ривожланиш хавфини моделлаштириш"
              paragraph: "Пестицид қўлланилишини оптималлаштириш ва экспортбоп махсулот етиштириш"

    thirdSection:
        title_strong: "OXUS WS"
        title_rest: " АГРОМЕТЕОСТАНЦИЯСИ"
        image: "../assets/img/section-photos/2024-09-11 10.27.36.jpg"
        text: "Қишлоқ хўжалиги учун мўлжалланган агрометеостанция тупроқ намлиги, ҳаво ҳарорати, намлик, шамол тезлиги ва йўналишини ўлчаш имконини беради. Ушбу маълумотлар фермерларга экинларни парваришлаш жараёнида тўғри қарорлар қабул қилишда ёрдам беради."
        buttonValue: "Батафсил"
        buttonLink: "/oxus_ws"

    fourthSection:
        title_strong: "JAYHUN TRAP"
        title_rest: " ФЕРОМОН ТУТҚИЧИ"
        image: "../assets/img/section-photos/jayhun-trap.jpg"
        text: "Феромон тутқичлари қишлоқ хўжалигида зараркунандаларни назорат қилишда қўлланилади. У ҳашаротларни феромонлар ёрдамида жалб қилади, бу фермерларга зараркунандалар сонини кузатиш ва пестицидлардан кам фойдаланиб ҳосилни ҳимоя қилиш имкониятини беради."
        buttonValue: "Батафсил"
        buttonLink: "/jayhun_trap"

    fifthSection:
        title_strong: "Oxus Airsense"
        title_rest: " ҲАВО МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        image: "../assets/img/oxus_airsense/product.png"
        text: "Ҳаво мониторинг қилиш тизими атроф-муҳитнинг сифатини ошириш ва инсон саломатлигини ҳимоя қилиш учун мўлжалланган. AirSense, зарарли моддаларнинг мавжудлигини аниқлаб, фойдаланувчиларга соғлом ва хавфсиз шароитларни таъминлашда тўғри қарорлар қабул қилишда ёрдам беради."
        buttonValue: "Батафсил"
        buttonLink: "/oxus_airsense"

    sixthSection:
        title_strong: "GozanLink"
        title_rest: " ИССИҚХОНА МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        image: "../assets/img/section-photos/gozanlink.jpg"
        text: "Система иссиқхоналардаги параметрларни мониторинг қилиш учун мўлжалланган.У ҳарорат, намлик ва бошқа шартлар ҳақидаги маълумотларни тўплаб, деҳқонларга ўсимликларни парваришлаш жараёнларини самаралироқ бошқаришга ёрдам беради."
        buttonValue: "Батафсил"
        buttonLink: "/gozanlink"

    mainGallery:
        title: "фотогалерея"
        folder: "./assets/main-gallery"

    about_us_section:
        title: "БИЗ ХАҚИМИЗДА"
        member_one:
          member_img: "../assets/img/members/Jasurbek_Khodjaev_5.jpg"
          member_name: "ЖАСУРБЕК ХОДЖАЕВ"
          member_position: "ТАЪСИСЧИ"
          member_desc_1: "Инха Университети профессори"
          member_desc_2: "PhD in ICT Engineering, Youngnam University, South Korea"
          member_desc_3: "Жанубий Корея, Ирландия, АҚШ ва Хитой давлатларида илмий тадқиқот ва ишланмалар борасида 15 йилдан ортиқ тажрибага эга"

        member_two:
            member_img: "../assets/img/members/Azizbek_Marahimov_2.jpg"
            member_name: "АЗИЗБЕК МАРАХИМОВ"
            member_position: "ТАЪСИСЧИ"
            member_desc_1: "Янги Узбекистан Университети профессори"
            member_desc_2: "PhD in Inudstrial Management"
            member_desc_3: "Жанубий Корея, Германия, БАА, Туркия, Иордания каби мамлакатлар билан қўшма илмий ва амалий лойиҳаларни бошқаришда 10 йилдан ортиқ тажрибага эга."

        member_three:
            member_img: "../assets/img/members/Sarvar_Abdullaev_1.jpg"
            member_name: "САРВАР АБДУЛЛАЕВ"
            member_position: "ТАЪСИСЧИ"
            member_desc_1: "Инха Университети профессори"
            member_desc_2: "PhD in Computer Science, King’s College London, UK"
            member_desc_3: "Жанубий Корея, Буюк Британия, АҚШ ва Хиндистон давлатларида илмий тадқиқот ва ишланмалар борасида 12 йилдан ортиқ тажрибага эга"


    media_about_us_section:
        title: "ОАВ БИЗ ХАҚИМИЗДА"

        media_info:
          - title: "НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN"
            linkValue: "UNDP.ORG"
            link: "http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html"
          
          - title: "КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "В УЗБЕКИСТАНЕ ПОЯВИЛИСЬ СОБСТВЕННЫЕ МИНИАТЮРНЫЕ АГРОМЕТЕОРОЛОГИЧЕСКИЕ СТАНЦИИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

    partners_section:
      title: "БИЗНИНГ ҲАМКОРЛАР"
      folder: "./assets/img/partner-logos"

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва сизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"
---
