---
layout: jayhun_trap.njk
permalink: "/jayhun_trap/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        firstLang:
            link: "/ru/jayhun_trap"
            value: "RU"
        secondLang:
            link: "/en/jayhun_trap"
            value: "EN"

    banner:
        img: "../assets/img/jayhun_trap/banner-2.jpg"
        mobile_img: "../assets/img/jayhun_trap/mobile_banner.jpeg"
        title_strong: "Jayhun Trap "
        title_rest: "ФЕРОМОН ТУТҚИЧИ"
        caption: "Замонавий феромон тутқичи зараркунандаларни жалб этиш ва тутиш учун сунъий феромонлардан фойдаланадиган инновацион зараркунандаларга қарши кураш воситасидир. Бу экологик тоза қурилма зараркунандалар сонини кузатишга ёрдам беради ва уларнинг тарқалиши ҳақида олдиндан огоҳлантиради, бу эса самарали назорат чораларини кўриш ва экинларни ҳимоя қилиш имконини беради"

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/jayhun_trap/problems/pest_population.jpg"
              title: "Ҳашаротлар кўплиги"
              caption: "Зараркунандалар сонининг кўпайиши уларни самарали бошқаришда қийинчиликлар туғдириши мумкин"

            - img: "../assets/img/jayhun_trap/problems/damaged crop.jpg"
              title: "Зарарланган ўсимликлар"
              caption: "Зараркунандалар экинларга катта зарар етказиб, умумий соғлиққа таъсир қилади"

            - img: "../assets/img/jayhun_trap/problems/spoiled_gilos.jpg"
              title: "Унумдорлик ва сифат пасайиши"
              caption: "Зараркунандаларнинг зарари мева сифатининг пасайишига олиб келади ва бозор қийматига таъсир қилади"

    pheromones:
        title: "ҲАШАРОТЛАР"
        media_info:
            - img: "../assets/img/jayhun_trap/pheromones/kartoshka_kuyasi_1.jpg"
              title: "Картошка куяси"
              caption: "Картошка ва сабзавот ўсимликларини заифлаштириб, ўсишига тўсқинлик қилади"

            - img: "../assets/img/jayhun_trap/pheromones/olxo'ri_mevaxo'ri_1 (1).jpg"
              title: "Олхўри мевахўри"
              caption: "Личинкалари меваларга кириб, уларни эрта тушишига сабаб бўлади"

            - img: "../assets/img/jayhun_trap/pheromones/komstok_qurt.webp"
              title: "Комсток қурт"
              caption: "Мевали ўсимликларнинг ширасини сўриб, ўсишини секинлаштирадиган зараркунанда"
            
            - img: "../assets/img/jayhun_trap/pheromones/gilos_pashshasi_2.jpg"
              title: "Гилос пашшаси"
              caption: "Зараркунанданинг личинкалари гилос меваларини чиритиб, нобуд бўлишига олиб келади"
            
            - img: "../assets/img/jayhun_trap/pheromones/olma kuyasi_1.jpg"
              title: "Олма куяси"
              caption: "Личинкалари ипаксимон тўр ясаб, олма дарахти баргларини еб, заифлаштиради"
            
            - img: "../assets/img/jayhun_trap/pheromones/tok_ipak_qurt.webp"
              title: "Тоқ ипак қурти"
              caption: "Ҳашарот личинкалари ипак мевалари ва бошқа ўсимликларнинг баргларини кўп миқдорда еб, заифлаштиради"

    secondSection:
        title: "Қурилма қисмлари"
        iconFeatures:
            - img: "../assets/img/jayhun_trap/icons/icons8-house-100.png"
              title: "Тузоқ корпуси"
              paragraph: "Феромон хўрагини, камерани ва ҳашаротларни тутиб, ушлаб туриш учун мўлжалланган жисмоний тузилма"

            - img: "../assets/img/jayhun_trap/icons/icons8-spider-web-100.png"
              title: "Феромон хўраги"
              paragraph: "Эркак ҳашаротларни тузоққа жалб қилиш учун урғочи ҳашаротларнинг ҳидини тақлид қилувчи кимёвий модда"

            - img: "../assets/img/jayhun_trap/icons/icons8-technology-100.png"
              title: "Микроконтроллер"
              paragraph: "Камера функциялари, тасвирларга ишлов бериш ва булутли платформа алоқасини бошқарувчи назорат блоки"

            - img: "../assets/img/jayhun_trap/icons/icons8-battery-level-100.png"
              title: "аккумулятор"
              paragraph: "Қуёш панелларидан олинган энергияни сақловчи қайта зарядланувчи батарея"

            - img: "../assets/img/jayhun_trap/icons/icons8-camera-100 (2).png"
              title: "Кенг бурчакли мини-камералар"
              paragraph: "Юқори сифатли тасвирларни булутли платформага узлуксиз юкловчи қурилма"

            - img: "../assets/img/jayhun_trap/icons/icons8-cellular-network-100.png"
              title: "ГСМ модем"
              paragraph: "Алоқа ўрнатиш ва маълумотларни узатиш учун мўлжалланган қурилма"

    how_it_works:
        img: "../assets/img/jayhun_trap/how_it_works.png"
        title: "Қандай ишлайди?"
        text: "Феромон тузоғи юқори сифатли тасвирларни доимий равишда булутли платформага юклаш учун кенг бурчакли мини-камералардан фойдаланади. 
                Бу тасвирлар сунъий интеллект ёрдамида таҳлил қилинади ва зараркунандалар автоматик равишда аниқланади. 
                Феромон тузоғи тўлиқ автоном тизим асосида ишлайди, қуёш энергиясида фаолият юритади. Алоқа GSM-модем орқали амалга оширилади."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/jayhun_trap/gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/jayhun_trap/dashboard/1.gif"
        photo_two: "../assets/img/jayhun_trap/dashboard/2.gif"
        title: "Дастурий ечим"
        features:
            - text: "Lorem ipsum dolor something and anything"
            - text: "Lorem ipsum dolor something and anything anything something"
            - text: "Lorem ipsum dolor something and anything heeeeey"
            - text: "30 Lorem ipsum dolor something and anything funny"

    hardware:
        photo: "../assets/img/jayhun_trap/hardware.png"
        title: "Қурилма таснифи"
        text: "Феромон тутқич кенг бурчакли мини-камералар ёрдамида юқори сифатли
                тасвирларни тинимсиз булутли платформага юклаб боради. Ушбу тасвирлар
                сунъий интеллек ёрдамда таҳлил қилинади ва ундаги зараркунандалар автомат равишда
                аниқланади. Феромон тутқич қуёш энергиясида тўла автоном тизимда ишлайди. Алоқа эса
                GSM модем ёрдамида амалга оширилади."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва cизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---