---
layout: oxus_airsense.njk
permalink: "/oxus_airsense/index.html"

baseUrl: ""

mySite:
    title: "Ақлли ҳаво назорати – зарарли моддаларни аниқлаш технологияси."
    metaDescription: "Ҳаво сифати, атмосфера ҳолати ва экологик хавфларни кузатиш учун замонавий инновацион технологиялар таклиф этилади. Реал вақтда NO₂ (азот диоксиди), CO (карбон оксиди), NH₃ (аммиак), SO₂ (сулфур диоксиди), H₂S (водород сульфиди) ва O₃ (озон) каби кимёвий моддалар, газлар, чанг заррачалари ва зарарли оқимларни аниқлаш ва таҳлил қилиш имконияти мавжуд. Атроф-муҳит мониторинги қурилмалари ҳаво таркиби, ҳаво ифлосланиш даражаси ва санитария хавфсизлиги кўрсаткичларини назорат қилишга ёрдам беради. Ушбу экотехнологик ечимлар Тошкент, Ўзбекистонда саноат, шаҳар экологияси ва қишлоқ хўжалиги соҳаларида кенг қўлланилади."
    telegram: "https://t.me/amudar_io"
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        currentLang: "УЗ"
        firstLang:
            link: "/ru/oxus_airsense"
            value: "РУ"
        secondLang:
            link: "/en/oxus_airsense"
            value: "EN"
        thirdLang:
            link: "/uz/oxus_airsense"
            value: "UZ"

    banner:
        img: "../assets/img/oxus_airsense/banner-2.jpg"
        title_strong: "OXUS AIRSENSE"
        title_rest: " ҲАВО МОНИТОРИНГ ҚИЛИШ ТИЗИМИ"
        caption: "Илғор ҳаво сифатини кузатиш тизими зарарли моддалар ва асосий параметрларни реал вақт режимида аниқлаш учун ишлаб чиқилган. Тизим ҳаводаги ифлослантирувчи моддалар миқдорини доимий кузатиб боради ва шу билан бирга ҳарорат, намлик каби бошқа муҳим атроф-муҳит шароитларини ўлчайди. Тақдим этилган маълумотлар аниқ ва ишончли бўлиб, ҳаво сифати ҳолатини тўғри баҳолаш ва уни самарали назорат қилиш имконини беради"

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/oxus_airsense/problems/air_quality.jpg"
              title: "Ҳавонинг ифлосланиши"
              caption: "Ҳавонинг ифлосланиши атроф муҳитга жиддий таҳдид солади"

            - img: "../assets/img/oxus_airsense/problems/mask.jpg"
              title: "Соғлиқ хавфлари"
              caption: "Ҳаво ифлосланиши соғлиқни муаммоларини кучайтириши мумкин"

            - img: "../assets/img/oxus_airsense/problems/traffic-jam-exhaust.webp"
              title: "Сиёсат ва тартибга солиш муаммолари"
              caption: "Давлат органлари ифлосланиш манбаларини аниқлай олмайди"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/oxus_airsense/icons/pollution.png"
              title: "ифлослантирувчи моддалар"
              paragraph: "Ҳаводаги ифлослантирувчи моддаларнинг ўлчаниши муҳимдир"

            - img: "../assets/img/oxus_airsense/icons/PM.png"
              title: "Заррачали моддалар миқдори"
              paragraph: "Ҳаводаги заррачали моддалар миқдори соғлиқ учун хавф туғдириши мумкин"

            - img: "../assets/img/oxus_airsense/icons/parameters.png"
              title: "Метеорологик кўрсаткичлар"
              paragraph: "Метеорологик кўрсаткичлар шаҳар соғлиғи учун муҳим"

    how_it_works:
        img: "../assets/img/oxus_airsense/airsense_how_it_works.png"
        title: "Қандай ишлайди?"
        text: "AirSense ҳавонинг сифат параметрларини, жумладан, NO₂, CO, NH₃, SO₂, H₂S, O₃, қаттиқ зарралар (PM1.0, PM2.5, PM10) ва об-ҳаво маълумотларини (ҳавонинг ҳарорати, намлиги, атмосфера босими, шамол тезлиги) тўплайди. Ушбу маълумотлар замонавий датчиклар ёрдамида йиғилади ва аниқликни таъминлаш учун GPS орқали GSM/GPRS технологияси орқали серверга узатилади.
                Маълумотлар онлайн бошқарув панелида кўрсатилади, бу эса фойдаланувчиларга ҳавонинг сифатини кузатиш ва қарорлар қабул қилиш имконини беради."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/oxus_airsense/gallery"
        sub: "../"

    video:
        title: "Амалдаги татбиқи"
        thumbnail: "../assets/img/oxus_ws/video/Jasur_aka.png"
        link: "https://www.youtube.com/watch?v=9JYEav9Sahg"
        text: "Тошкентда чангли об-ҳаво кузатилмоқда ва шаҳарнинг турли бурчакларига бир нечта Oxus WS метеостанциялари жойлаштирилган. Улар об-ҳаво шароитларини назорат қилиш учун ишлатилади. Ушбу станциялар газ ифлосланишини, кичик заррачаларни ва бошқа кўрсаткичларни ўлчайди."

    dashboard:
        photo_one: "../assets/img/oxus_airsense/dashboard/1.gif"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Дастурий ечим"
        text: "Зарарли моддалар ва иқлим кўрсаткичлари ҳақидаги барча маълумотлар ягона манбада жамланган. Платформа сизга ҳаво сифатини баҳолаш ва унинг ўзгаришларини кузатиш имконини беради, таҳлил учун тезкор маълумотларни тақдим этади."

    hardware:
        photo: "../assets/img/oxus_airsense/hardware.png"
        title: "Қурилма таснифи"
        text: "AirSense NO₂, CO, NH₃, SO₂, H₂S, O₃, PM1.0, PM2.5, PM10 каби ҳаво сифати параметрларини ҳамда ҳарорат, намлик, босим, шамол тезлиги каби об-ҳаво маълумотларини замонавий датчиклар орқали йиғиб, GPS ва GSM/GPRS технологияси орқали серверга узатади. Маълумотлар онлайн панелда реал вақтда кўрсатилиб, фойдаланувчилар ҳаво сифатини кузатиб, қарор қабул қилиш имконига эга бўлади. Қўшимча аниқлик учун сунъий йўлдош маълумотлари бирлаштирилади."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва сизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---