---
layout: oxus_ws.njk
permalink: "/oxus_ws/index.html"

baseUrl: ""

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/"
            value: "АСОСИЙ"
        currentLang: "УЗ"
        firstLang:
            link: "/ru/oxus_ws"
            value: "РУ"
        secondLang:
            link: "/en/oxus_ws"
            value: "EN"
        thirdLang:
            link: "/uz/oxus_ws"
            value: "UZ"

    banner:
        img: "../assets/img/oxus_ws/banner-6.jpg"
        mobile_img: "../assets/img/oxus_ws/mobile-banner.jpg"
        title_strong: "OXUS WS"
        title_rest: " АГРОМЕТЕОСТАНЦИЯСИ"
        caption: "Муҳит ва тупроқнинг асосий параметрларини, жумладан, ҳаво ҳарорати, намлик, ёғингарчилик, шамол тезлиги ва йўналиши, шунингдек, тупроқ намлиги, ҳарорати ва ўтказувчанлигини назорат қилади. Қишлоқ хўжалигида об-ҳавони таҳлил қилиш, суғоришни оптималлаштириш ва экинларни бошқариш бўйича маълумотларни тақдим этади."

    firstSection:
        title: "Оғриқли нуқталар"
        problem_features:
            - img: "../assets/img/oxus_ws/problems/tractor-in-mud.jpg"
              title: "Реал вақт маълумотларининг етишмаслиги"
              caption: "Ахборот етишмаслиги қарор қабул қилишга тўсқинлик қилади"

            - img: "../assets/img/oxus_ws/problems/overwatered-plant.jpg"
              title: "Ресурсларни самарасиз бошқариш"
              caption: "Сув ва ўғитни нотўғри тақсимлаш паст ҳосилга олиб келади"

            - img: "../assets/img/oxus_ws/problems/dead-crop.jpg"
              title: "Башорат маълумотларининг етишмаслиги"
              caption: "Маълумотсиз режа ҳосил йўқотилишига олиб келади"

    secondSection:
        title: "ИМКОНИЯТЛАР"
        iconFeatures:
            - img: "../assets/img/oxus_ws/icons/icons8-dew-point-100.png"
              title: "Нисбий намлик"
              paragraph: "Атмосфера босими, ҳаво ҳарорати ва намликни ўлчайди"

            - img: "../assets/img/oxus_ws/icons/icons8-windsock-100.png"
              title: "Шамол тезлиги ва йўналиши"
              paragraph: "Шамол ўлчаш учун анемометр ва парракдан фойдаланилади"

            - img: "../assets/img/oxus_ws/icons/icons8-log-100.png"
              title: "Маълумотларни қайд этиш"
              paragraph: "Маълумотларни мустақил кузатиш ва узатишни таъминлайди"

            - img: "../assets/img/oxus_ws/icons/icons8-soil-100.png"
              title: "Тупроқ намлиги ва ҳарорати"
              paragraph: "Тупроққа ўрнатилганда, узлуксиз аниқ ўлчовларни таъминлайди"

            - img: "../assets/img/oxus_ws/icons/icons8-rain-100.png"
              title: "Ёғингарчилик"
              paragraph: "Шамол тезлиги, йўналиши ва ёғингарчиликни қайд қилади"

    how_it_works:
        img: "../assets/img/oxus_ws/how_it_works_2.png"
        title: "Қандай ишлайди?"
        text: "Шамол йўналиши, тезлиги, ҳаво ва тупроқ намлиги каби об-ҳаво параметрлари
                датчиклар орқали ўлчаниб, ГПС ёрдамида ГСМ/ГПРС орқали серверга узатилади.
                Маълумотлар қайта ишланиб, онлайн бошқарув панелида акс эттирилади, фермерлар
                вазиятни кузатиш ва қарор қабул қилиш учун фойдаланиши мумкин. Тизим сунъий йўлдош
                маълумотларини ҳам қўшиб, аниқликни оширади.
              "

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/oxus_ws/gallery"
        sub: "../"


    dashboard:
        photo_one: "../assets/img/oxus_ws/dashboard/dashboard1-1.png"
        photo_two: "../assets/img/oxus_ws/dashboard/dashboard4-1.png"
        title: "Дастурий ечим"
        features:
            - text: "Метеостанция ёрдамида oлинган маълумотлар"
            - text: "Бир ҳафталик об-ҳаво ва бошқа агрометеорологик башоратлар"
            - text: "Агрономлар учун керакли статистик кўрсаткичлар"
            - text: "30 дан ошиқ касалликлар ва зараркунандалар учун башоратлар"

    hardware:
        photo: "../assets/img/oxus_ws/hardware.png"
        title: "Қурилма таснифи"
        text: "OXUS об-ҳаво станцияси ускунаси ҳарорат, намлик, тупроқ намлиги ва электр ўтказувчанлик каби аниқ атмосфера ва тупроқ ўлчовлари учун сенсорлар тўпламини ўз ичига олади. Бошқарув блоки маълумотларни йиғиш, қайта ишлаш ва симсиз алоқа ўрнатиш учун микропроцессор билан жиҳозланган. Қуёш панели узлуксиз қувват таъминотини беради, бу эса захира сифатида қайта зарядланадиган батарея билан қўллаб-қувватланади."

    footer_info:
      title: "БУЮРТМА БЕРИНГ!"
      info: "Буюртма бериш ва сизни қизиқтирган саволлар учун:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---