---
layout: gozanlink.njk

baseUrl: "../"

mySite:
    title: "Умное управление теплицей - инновационное решение для контроля температуры, влажности и климата."
    metaDescription: "Умное управление теплицей - современное инновационное решение для мониторинга и анализа параметров температуры, влажности и климата."
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/ru"
            value: "ГЛАВНАЯ"
        currentLang: "РУ"
        firstLang:
            link: "/uz/gozanlink"
            value: "UZ"
        secondLang:
            link: "/en/gozanlink"
            value: "EN"
        thirdLang:
            link: "/gozanlink"
            value: "УЗ"

    banner:
        img: "../assets/img/gozanlink/test_banner.jpg"
        title_strong: "GozanLink "
        title_rest: "СИСТЕМА МОНИТОРИНГА ТЕПЛИЦЫ "
        caption: "Система мониторинга, предназначенная для наблюдения за климатическими и почвенными условиями в теплицах. Собирает информацию о таких важных параметрах, как внутренняя и внешняя температура, относительная влажность, скорость ветра, влажность и температура почвы. Она также помогает контролировать перебои в электроснабжении и работу насоса, эффективно управлять ими и позволяет оперативно решать проблемы"

    firstSection:
        title: "Болевые точки"
        problem_features:
            - img: "../assets/img/gozanlink/problems/frozen_plant.jpg"
              title: "ЗАМЕРЗШИЕ РАСТЕНИЯ"
              caption: "Низкая температура приводит к замерзанию растений, прекращению роста и повреждению урожая"

            - img: "../assets/img/gozanlink/problems/rotten-tomato.jpg"
              title: "Влажность и грибок"
              caption: "Излишняя влажность приводит к появлению плесени и грибов на посевах"

            - img: "../assets/img/gozanlink/problems/dry_soil.jpg"
              title: "ЗАСЫХАНИЕ ПОЧВЫ"
              caption: "Сухая или недостаточно увлажненная почва замедляет рост культур"

    secondSection:
        title: "ВОЗМОЖНОСТИ"
        iconFeatures:
            - img: "../assets/img/gozanlink/icons/icons8-temperature-outside-100.png"
              title: "ВНУТРЕННИЙ КЛИМАТ"
              paragraph: "Температура и относительная влажность воздуха внутри теплицы"

            - img: "../assets/img/gozanlink/icons/icons8-pump-100.png"
              title: "КОНТРОЛЬ НАСОСА"
              paragraph: "Датчик контроля работы насоса"

            - img: "../assets/img/gozanlink/icons/earth.png"
              title: "МОНИТОРИНГ ПОЧВЫ"
              paragraph: "Температура, влажность и электропроводимость почвы"

            - img: "../assets/img/gozanlink/icons/icons8-temperature-100.png"
              title: "ВНЕШНИЙ КЛИМАТ"
              paragraph: "Температура и относительная влажность наружного воздуха"

            - img: "../assets/img/gozanlink/icons/icons8-wind-100.png"
              title: "СКОРОСТЬ ВЕТРА"
              paragraph: "Скорость и направление ветра"

    how_it_works:
        thumbnail: "../assets/img/gozanlink/video/thumbnail-1.png"
        video: "https://www.youtube.com/watch?v=FM1xrikogHc"
        title: "Как это работает?"
        text: "Система мониторинга теплиц GozanLink в теплице с помощью установленных сенсоров
постоянно наблюдает за условиями. Система измеряет температуру, относительную влажность, влажность почвы, скорость ветра, солнечную радиацию и автоматически передает данные на облачную платформу.
Информация, передаваемая через GSM-модем, предоставляет фермерам предупреждения в режиме реального времени."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/gozanlink/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/gozanlink/dashboard/1.jpg"
        photo_two: "../assets/img/gozanlink/dashboard/2.jpg"
        title: "Программное решение"
        text: "Детальные диаграммы в нашей панели управления предоставляют информацию о климате теплицы и использовании печи, а также отражают текущие показатели температуры и влажности. Кроме того, она также демонстрирует важные показатели эффективности для управления печью."

    video:
        title: "ТЕКУЩЕЕ ПРИМЕНЕНИЕ"
        thumbnail: "../assets/img/gozanlink/video/thumbnail.jpg"
        link: "https://www.youtube.com/watch?v=ObGJ9q0o0d0"
        text: "Система управления теплицей в настоящее время используется многими фермерами. Эта система помогла одному из них сажать помидоры два года подряд и по-прежнему получать хороший урожай. Кроме того, данная система позволяет владельцу теплицы экономить больше средств и меньше расходует топлива на поддержание горячей температуры в теплице. Система имеет удобный интерфейс для отслеживания внутренней погоды и включает в себя хорошо работающий Telegram-бот."

    hardware:
        photo: "../assets/img/gozanlink/ru/hardware.png"
        title: "Классификация устройства"
        text: "Система мониторинга теплиц GozanLink постоянно отслеживает условия в теплице с помощью установленных сенсоров. Система автоматически передает данные на облачную платформу, измеряя температуру, относительную влажность, влажность почвы, скорость ветра и солнечную радиацию. Информация, передаваемая через GSM-модем, предоставляет фермерам предупреждения в режиме реального времени, что позволяет принимать необходимые меры."

    footer_info:
      title: "СДЕЛАЙТЕ ЗАКАЗ!"
      info: "Для заказов и интересующих вас вопросов:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---