---
layout: app.njk

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            value: "ГЛАВНАЯ"
            link: "/ru"

        currentLang: "РУ"

        firstLang:
            value: "УЗ"
            link: "/"

        secondLang:
            value: "EN"
            link: "/en"

        thirdLang:
            value: "UZ"
            link: "/uz"

        products:
            value: "ПРОДУКТЫ"
            oxus_ws: "OXUS WS"
            jayhun_trap: "JAYHUN TRAP"
            oxus_airsense: "OXUS AIRSENSE"
            gozanlink: "GOZANLINK"

    carouselItems:
        - image:
            src: "assets/img/top-slider/slider_03.jpg"
            alt: "Image 1"
          mobile_image:
            src: "assets/img/top-slider/mobile-banner-oxus-ws.jpg"
            alt: "image 1"
          caption:
            heading: "Умные агрометеостанции"
            text: "Наша агрометеостанция будет непрерывно следить за вашим садом и собирать все необходимые метеоданные. В то же время она предоставляет вам полезную информацию о прогнозе погоды и развитии распространенных болезней и вредителей растений."
          link: "#oxus-ws"
          button: "Подробнее"

        - image:
            src: "assets/img/top-slider/jayhun_trap.jpg"
            alt: "Image 2"
          mobile_image:
            src: "assets/img/top-slider/jayhun_mobile_banner.jpeg"
            alt: "Image 2"
          caption:
            heading: "Умные феромонные ловушки"
            text: "Наши феромонные ловушки могут обнаружить вредителей с помощью искусственного интеллекта и немедленно сообщить вам об этом. Также они говорят о вероятности распространения вредителей на вашей территории и дают полезные советы по борьбе с ними."
          link: "#jayhun-trap-spec"
          button: "Подробнее"


        - image:
            src: "assets/img/top-slider/bad-air.jpg"
            alt: "Аккли хаво мониторинги"
          mobile_image:
            src: "assets/img/top-slider/airsense_mobile.jpg"
            alt: "Image 3"
          caption:
            heading: "Умный мониторинг воздуха"
            text: "Технология контроля качества окружающей среды и измерения уровня вредных веществ в воздухе является важной частью экологического мониторинга. Эти технологии позволяют в режиме реального времени измерять химические вещества, частицы пыли, газы и другие вредные элементы в воздухе с помощью различных сенсоров и датчиков."
          link: "#oxus-airsense"
          button: "Подробнее"

        - image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          mobile_image:
            src: "assets/img/top-slider/pexels-nc-farm-bureau-mark-2886937.jpg"
            alt: "Image 4"
          caption:
            heading: "Умное управление теплицей"
            text: "Платформа для мониторинга климатических параметров в теплицах и сбора данных - это инновационное решение, разработанное на основе современных технологий. Эта платформа позволяет отслеживать и анализировать различные климатические параметры в теплицах, включая температуру, влажность, освещенность и уровни углекислоты."
          link: "#gozanlink"
          button: "Подробнее"

    firstSection:
        title: "НЕКОТОРЫЕ ПРОБЛЕМЫ В СФЕРЕ СЕЛЬСКОГО ХОЗЯЙСТВА"
        iconFeatures:
            - img: "assets/img/icons/cloud.png"
              title: "ИЗМЕНЕНИЕ КЛИМАТА"
              paragraph: "Отсутствие метеорологической информации в оцифрованном виде"

            - img: "assets/img/icons/earth.png"
              title: "ЗАСОЛЕНИЕ ПОЧВЫ"
              paragraph: "Невозможность непрерывного наблюдения за состоянием почвы"

            - img: "assets/img/icons/insects.png"
              title: "БОЛЕЗНИ И ВРЕДИТЕЛИ"
              paragraph: "Задержка мер по борьбе с болезнями и вредителями"

            - img: "assets/img/icons/cactus.png"
              title: "СНИЖЕНИЕ УРОЖАЙНОСТИ"
              paragraph: "Убытки от неправильного управления имеющимися ресурсами"

            - img: "assets/img/icons/control.png"
              title: "КАРАНТИННЫЕ ТРЕБОВАНИЯ ПРИ ЭКСПОРТЕ"
              paragraph: "Сложность создания экологически чистой продукции, свободной от пестицидов"


    secondSection:
        title: "Предлагаемое решение"
        iconFeatures:
            - img: "assets/img/icons/binoculars.png"
              title: "Непрерывные и цифровизированные метеорологические наблюдения"
              paragraph: "Возможность непрерывного мониторинга окружающей среды"

            - img: "assets/img/icons/umbrella.png"
              title: "Высокоточные агрометеорологические прогнозы"
              paragraph: "Недельное прогнозирование более 10 агрометеорологических показателей"

            - img: "assets/img/icons/plants.png"
              title: "Моделирование риска развития заболевания"
              paragraph: "Оптимизация применения пестицидов и производство экспортоориентированной продукции"

    thirdSection:
        title_strong: " OXUS WS"
        title_rest: "АГРОМЕТЕОСТАНЦИЯ"
        image: "../assets/img/section-photos/2024-09-11 10.27.36.jpg"
        text: "Агрометеостанция, предназначенная для сельского хозяйства, позволяет измерять влажность почвы, температуру воздуха, влажность, скорость и направление ветра. Эта информация помогает фермерам принимать правильные решения в процессе ухода за посевами."
        buttonValue: "Подробнее"
        buttonLink: "/oxus_ws"

    fourthSection:
        title_strong: " JAYHUN TRAP"
        title_rest: "ФЕРОМОННАЯ ЛОВУШКА"
        image: "../assets/img/section-photos/jayhun-trap.jpg"
        text: "Феромонные ловушки используются в сельском хозяйстве для борьбы с вредителями. Он привлекает насекомых с помощью феромонов, которые позволяют фермерам отслеживать численность вредителей и защищать урожай, используя меньше пестицидов."
        buttonValue: "Подробнее"
        buttonLink: "/jayhun_trap"

    fifthSection:
        title_strong: " Oxus Airsense"
        title_rest: "СИСТЕМА МОНИТОРИНГА ВОЗДУХА"
        image: "../assets/img/oxus_airsense/product.png"
        text: "Система мониторинга воздуха предназначена для повышения качества окружающей среды и защиты здоровья человека. AirSense помогает пользователям принимать правильные решения в обеспечении здоровых и безопасных условий, выявляя наличие вредных веществ."
        buttonValue: "Подробнее"
        buttonLink: "/oxus_airsense"

    sixthSection:
        title_strong: " GozanLink"
        title_rest: "СИСТЕМА МОНИТОРИНГА ТЕПЛИЦЫ"
        image: "../assets/img/section-photos/gozanlink.jpg"
        text: "Система предназначена для мониторинга параметров в теплицах. Она собирает данные о температуре, влажности и других условиях и помогает дехканам более эффективно управлять процессами ухода за растениями."
        buttonValue: "Подробнее"
        buttonLink: "/gozanlink"

    mainGallery:
        title: "фотогалерея"
        folder: "./assets/main-gallery"

    about_us_section:
        title: "О НАС"
        member_one:
          member_img: "../assets/img/members/Jasurbek_Khodjaev_5.jpg"
          member_name: "ЖАСУРБЕК ХОДЖАЕВ"
          member_position: "ОСНОВАТЕЛЬ"
          member_desc_1: "профессор Университета Инха"
          member_desc_2: "PhD in ICT Engineering, Youngnam University, South Korea"
          member_desc_3: "Имеет более 15 лет опыта в области научных исследований и разработок в Южной Корее, Ирландии, США и Китае"

        member_two:
            member_img: "../assets/img/members/Azizbek_Marahimov_2.jpg"
            member_name: "АЗИЗБЕК МАРАХИМОВ"
            member_position: "ОСНОВАТЕЛЬ"
            member_desc_1: "профессора Университета Нового Узбекистана"
            member_desc_2: "PhD in Inudstrial Management"
            member_desc_3: "Имеет более 10 лет опыта в управлении совместными научными и прикладными проектами с такими странами, как Южная Корея, Германия, ОАЭ, Турция, Иордания"

        member_three:
            member_img: "../assets/img/members/Sarvar_Abdullaev_1.jpg"
            member_name: "САРВАР АБДУЛЛАЕВ"
            member_position: "ОСНОВАТЕЛЬ"
            member_desc_1: "профессор Университета Инха"
            member_desc_2: "PhD in Computer Science, King’s College London, UK"
            member_desc_3: "Обладает более чем 12-летним опытом научных исследований и разработок в Южной Корее, Великобритании, США и Индии"


    media_about_us_section:
        title: "СМИ О НАС"

        media_info:
          - title: "НА ФЕРМАХ ТАШКЕНТСКОЙ ОБЛАСТИ НАЧАЛИ ВНЕДРЯТЬ «ИНТЕРНЕТ ВЕЩЕЙ»"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "UNDP PROMOTES MODERN ECO-FRIENDLY TECHNIQUES OF PEST AND DISEASES MANAGEMENT | UNDP IN UZBEKISTAN"
            linkValue: "UNDP.ORG"
            link: "http://www.uz.undp.org/content/uzbekistan/en/home/presscenter/articles/2019/02/13/undp-promotes-modern-eco-friendly-techniques-of-pest-and-disease.html"
          
          - title: "КАК ТЕХНОЛОГИИ ДЛЯ «ТОЧНОГО ЗЕМЛЕДЕЛИЯ» МЕНЯЮТ ФЕРМЕРСТВО В УЗБЕКИСТАНЕ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

          - title: "ФЕРОМОННЫЕ ЛОВУШКИ ПОМОГУТ ФЕРМЕРАМ ТУРАКУРГАНА БОРОТЬСЯ С ВРЕДИТЕЛЯМИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "В УЗБЕКИСТАНЕ ПОЯВИЛИСЬ СОБСТВЕННЫЕ МИНИАТЮРНЫЕ АГРОМЕТЕОРОЛОГИЧЕСКИЕ СТАНЦИИ"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"
          
          - title: "PROFESSORS OF INHA UNIVERSITY IN TASHKENT PRESENTED SMART AGROMETEOROLOGICAL STATIONS"
            linkValue: "Spot.uz"
            link: "https://spot.uz/ru/2017/10/30/smart-farm/"

    partners_section:
      title: "НАШИ ПАРТНЕРЫ"
      folder: "./assets/img/partner-logos"

    footer_info:
      title: "СДЕЛАЙТЕ ЗАКАЗ!"
      info: "Для заказов и интересующих вас вопросов:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"
---
