---
layout: jayhun_trap.njk

baseUrl: "../"

mySite:
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/ru"
            value: "ГЛАВНАЯ"
        currentLang: "РУ"
        firstLang:
            link: "/uz/jayhun_trap"
            value: "UZ"
        secondLang:
            link: "/en/jayhun_trap"
            value: "EN"
        thirdLang:
            link: "/jayhun_trap"
            value: "УЗ"

    banner:
        img: "../assets/img/jayhun_trap/banner-2.jpg"
        mobile_img: "../assets/img/jayhun_trap/mobile_banner.jpeg"
        title_strong: " Jayhun Trap "
        title_rest: "ФЕРОМОННАЯ ЛОВУШКА "
        caption: "Современная феромонная ловушка является инновационным средством борьбы с вредителями, использующим искусственные феромоны для привлечения и уловки вредителей. Это экологически чистое устройство помогает отслеживать численность вредителей и заранее предупреждает о их распространении, что позволяет принимать эффективные меры контроля и защищать посевы"

    firstSection:
        title: "Болевые точки"
        problem_features:
            - img: "../assets/img/jayhun_trap/problems/pest_population.jpg"
              title: "Множество насекомых"
              caption: "Увеличение численности вредителей может вызвать трудности в их эффективном управлении"

            - img: "../assets/img/jayhun_trap/problems/damaged crop.jpg"
              title: "Зараженные растения"
              caption: "Вредители наносят большой вред посевам и влияют на общее здоровье"

            - img: "../assets/img/jayhun_trap/problems/spoiled_gilos.jpg"
              title: "Снижение производительности и качества"
              caption: "Урон вредителей приводит к снижению качества плодов и влияет на их рыночную стоимость"

    pheromones:
        title: "НАСЕКОМЫЕ"
        media_info:
            - img: "../assets/img/jayhun_trap/pheromones/kartoshka_kuyasi_1.jpg"
              title: "Картофельная моль"
              caption: "Ослабляет и препятствует росту картофеля и овощных культур"

            - img: "../assets/img/jayhun_trap/pheromones/olxo'ri_mevaxo'ri_1 (1).jpg"
              title: "Сливовый фруктоед"
              caption: "Личинки проникают в плоды и заставляют их рано падать"

            - img: "../assets/img/jayhun_trap/pheromones/komstok_qurt.webp"
              title: "Комстокский червь"
              caption: "Вредитель, всасывающий сок плодовых растений и замедляющий их рост"
            
            - img: "../assets/img/jayhun_trap/pheromones/gilos_pashshasi_2.jpg"
              title: "Черешневая муха"
              caption: "Личинки вредителя, гния плоды черешни, приводят к их гибели"
            
            - img: "../assets/img/jayhun_trap/pheromones/olma kuyasi_1.jpg"
              title: "Яблочная моль"
              caption: "Личинки делают шелковистые сети, поедают листья яблони и ослабляют их"
            
            - img: "../assets/img/jayhun_trap/pheromones/tok_ipak_qurt.webp"
              title: "Шелковичный червь"
              caption: "Личинки насекомых в больших количествах поедают и ослабляют листья шелковицы и других растений"

    secondSection:
        title: "Части устройства"
        iconFeatures:
            - img: "../assets/img/jayhun_trap/icons/icons8-house-100.png"
              title: "Корпус ловушки"
              paragraph: "Физическая конструкция, предназначенная для ловли и удержания феромонного съеда, камеры и насекомых"

            - img: "../assets/img/jayhun_trap/icons/icons8-spider-web-100.png"
              title: "Феромонный приманка"
              paragraph: "Химическое вещество, имитирующее запах насекомых-самцов, для втягивания в ловушку насекомых-самцов"

            - img: "../assets/img/jayhun_trap/icons/icons8-technology-100.png"
              title: "Микроконтроллер"
              paragraph: "Блок управления функциями камеры, обработкой изображений и облачной платформой"

            - img: "../assets/img/jayhun_trap/icons/icons8-battery-level-100.png"
              title: "аккумулятор"
              paragraph: "Перезаряжаемая батарея, хранящая энергию, полученную от солнечных панелей"

            - img: "../assets/img/jayhun_trap/icons/icons8-camera-100 (2).png"
              title: "Широкоугольные мини-камеры"
              paragraph: "Устройство для непрерывной загрузки изображений высокого качества на облачную платформу"

            - img: "../assets/img/jayhun_trap/icons/icons8-cellular-network-100.png"
              title: "Модем GSM"
              paragraph: "Устройство для установления связи и передачи данных"

    how_it_works:
        img: "../assets/img/jayhun_trap/how_it_works.png"
        title: "Как это работает?"
        text: "Феромонная ловушка использует широкоугольные мини-камеры для постоянной загрузки высококачественных изображений на облачную платформу. Эти изображения анализируются с помощью искусственного интеллекта, и вредители выявляются автоматически. Ловушка работает на основе полностью автономной системы и питается от солнечной энергии. Связь осуществляется через GSM-модем."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/jayhun_trap/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/jayhun_trap/dashboard/1.gif"
        photo_two: "../assets/img/jayhun_trap/dashboard/2.gif"
        title: "Программное решение"
        features:
            - text: "Lorem ipsum dolor something and anything"
            - text: "Lorem ipsum dolor something and anything anything something"
            - text: "Lorem ipsum dolor something and anything heeeeey"
            - text: "30 Lorem ipsum dolor something and anything funny"

    hardware:
        photo: "../assets/img/jayhun_trap/uz/hardware.png"
        title: "Классификация устройства"
        text: "Feromon tutqich keng burchakli mini-kameralar yordamida yuqori sifatli
tasvirlarni tinimsiz bulutli platformaga yuklab boradi. Ushbu tasvirlar
sun’iy intellek yordamda tahlil qilinadi va undagi zararkunandalar avtomat ravishda
aniqlanadi. Feromon tutqich quyosh energiyasida to‘la avtonom tizimda ishlaydi. Aloqa esa
GSM modem yordamida amalga oshiriladi."

    footer_info:
      title: "ЗАКАЖИТЕ!"
      info: "Для заказов и интересующих вас вопросов:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---