---
layout: oxus_airsense.njk

baseUrl: "../"

mySite:
    title: "Умный мониторинг воздуха – контроль загрязнений в реальном времени."
    metaDescription: "Современные инновационные технологии предлагаются для мониторинга качества воздуха, состояния атмосферы и экологических рисков. В реальном времени возможно определение и анализ таких химических веществ, как NO₂ (диоксид азота), CO (оксид углерода), NH₃ (аммиак), SO₂ (диоксид серы), H₂S (сероводород) и O₃ (озон), а также пылевых частиц и вредных потоков. Устройства экологического мониторинга помогают контролировать состав воздуха, уровень загрязнения и показатели санитарной безопасности. Эти экотехнологические решения широко применяются в Ташкенте, Узбекистан, в промышленности, городской экологии и сельском хозяйстве."
    telegram: "https://t.me/amudar_io"
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/ru"
            value: "ГЛАВНАЯ"
        currentLang: "РУ"
        firstLang:
            link: "/uz/oxus_airsense"
            value: "UZ"
        secondLang:
            link: "/en/oxus_airsense"
            value: "EN"
        thirdLang:
            link: "/oxus_airsense"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_airsense/banner-2.jpg"
        title_strong: " OXUS AIRSENSE"
        title_rest: "СИСТЕМА МОНИТОРИНГА ВОЗДУХА"
        caption: "Продвинутая система мониторинга качества воздуха разработана для определения вредных веществ и основных параметров в режиме реального времени. Система постоянно отслеживает количество загрязняющих веществ в воздухе и одновременно измеряет другие важные условия окружающей среды, такие как температура, влажность. Представленные данные являются точными и достоверными, что позволяет правильно оценить состояние качества воздуха и эффективно его контролировать"

    firstSection:
        title: "БОЛЕВЫЕ ТОЧКИ"
        problem_features:
            - img: "../assets/img/oxus_airsense/problems/air_quality.jpg"
              title: "Загрязнение воздуха"
              caption: "Загрязнение воздуха представляет серьезную угрозу окружающей среде"

            - img: "../assets/img/oxus_airsense/problems/mask.jpg"
              title: "Риски здоровья"
              caption: "Загрязнение воздуха может усугубить проблемы со здоровьем"

            - img: "../assets/img/oxus_airsense/problems/traffic-jam-exhaust.webp"
              title: "Проблемы политики и регулирования"
              caption: "Государственные органы затрудняются определить источники загрязнения"

    secondSection:
        title: "ВОЗМОЖНОСТИ"
        iconFeatures:
            - img: "../assets/img/oxus_airsense/icons/pollution.png"
              title: "загрязняющие вещества"
              paragraph: "Важное значение имеет измерение загрязняющих веществ в воздухе"

            - img: "../assets/img/oxus_airsense/icons/PM.png"
              title: "Количество частиц"
              paragraph: "Количество частиц в воздухе может представлять опасность для здоровья"

            - img: "../assets/img/oxus_airsense/icons/parameters.png"
              title: "Метеорологические показатели"
              paragraph: "Метеорологические показатели важны для здоровья города"

    how_it_works:
        img: "../assets/img/oxus_airsense/ru/how_it_works.png"
        title: "Как это работает?"
        text: "AirSense собирает параметры качества воздуха, включая NO₂, CO, NH₃, SO₂, H₂S, O₃, твердые частицы (PM1.0, PM2.5, PM10) и данные о погоде (температура воздуха, влажность, атмосферное давление, скорость ветра). Эти данные собираются с помощью современных датчиков и передаются на сервер через GPS с использованием технологий GSM/GPRS для обеспечения точности. Информация отображается в онлайн-панели управления, что позволяет пользователям отслеживать качество воздуха и принимать решения."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/oxus_airsense/gallery"
        sub: "../../"

    video:
        title: "Текущее применение"
        thumbnail: "../assets/img/oxus_airsense/video/Sarvar aka.png"
        link: "https://www.youtube.com/watch?v=bgrlNZ6ZYt8"
        text: "В Ташкенте наблюдается пыльная погода, и в разных уголках города размещено несколько метеостанций Oxus WS. Они используются для контроля погодных условий. Эти станции измеряют загрязнение газа, мелкие частицы и другие показатели."

    dashboard:
        photo_one: "../assets/img/oxus_airsense/dashboard/1.gif"
        photo_two: "../assets/img/section-photos/dashboard4-1.png"
        title: "Программное решение"
        text: "Вся информация о вредных веществах и климатических показателях собрана в едином источнике. Платформа позволяет оценивать качество воздуха и отслеживать его изменения, предоставляет оперативную информацию для анализа."

    hardware:
        photo: "../assets/img/oxus_airsense/ru/hardware.png"
        title: "Классификация устройства"
        text: "AirSense собирает параметры качества воздуха, такие как NO2, CO, NH3, SO2, H2S, O3, PM1.0, PM2.5, PM10, а также метеоданные, такие как температура, влажность, давление, скорость ветра, с помощью современных датчиков и передает их на сервер по технологии GPS и GSM/GPRS. Данные будут отображаться в онлайн-панели в режиме реального времени, и пользователи смогут следить за качеством воздуха и принимать решения. Для большей точности данные спутников объединяются."

    footer_info:
      title: "СДЕЛАЙТЕ ЗАКАЗ!"
      info: "Для заказов и интересующих вас вопросов:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---