---
layout: oxus_ws.njk

baseUrl: "../"

mySite:
    title: "Умные агрометеостанции – современные технологии мониторинга погоды."
    metaDescription: "Умные агрометеостанции и системы мониторинга погоды собирают данные о погоде, наблюдают за климатическими условиями и предоставляют полезные аналитические отчёты, прогнозы и данные для сельского хозяйства, садоводства, ухода за растениями и промышленных отраслей. В Ташкенте, Узбекистан, эти метеостанции, устройства для управления климатом и агротехнологические решения позволяют отслеживать такие показатели, как влажность, температура, скорость ветра, атмосферное давление и солнечная радиация."
    telegram: "https://t.me/amudar_io"
    email: "info@amudar.io"
    phone: "+998 90 035-02-25"
    short_phone: "90 035-02-25"

    menu:
        home:
            link: "/ru"
            value: "ГЛАВНАЯ"
        currentLang: "РУ"
        firstLang:
            link: "/uz/oxus_ws"
            value: "UZ"
        secondLang:
            link: "/en/oxus_ws"
            value: "EN"
        thirdLang:
            link: "/oxus_ws"
            value: "УЗ"

    banner:
        img: "../assets/img/oxus_ws/banner-6.jpg"
        mobile_img: "../assets/img/oxus_ws/mobile-banner.jpg"
        title_strong: " OXUS WS"
        title_rest: "АГРОМЕТЕОСТАНЦИЯ"
        caption: "Контролирует основные параметры среды и почвы, включая температуру воздуха, влажность, осадки, скорость и направление ветра, а также влажность, температуру и проницаемость почвы. Предоставляет информацию по анализу погоды в сельском хозяйстве, оптимизации орошения и управлению посевами"

    firstSection:
        title: "Болевые точки"
        problem_features:
            - img: "../assets/img/oxus_ws/problems/tractor-in-mud.jpg"
              title: "Недостаток данных в реальном времени"
              caption: "Недостаток информации препятствует принятию решения"

            - img: "../assets/img/oxus_ws/problems/overwatered-plant.jpg"
              title: "Неэффективное управление ресурсами"
              caption: "Неправильное распределение воды и удобрений приводит к низкому урожаю"

            - img: "../assets/img/oxus_ws/problems/dead-crop.jpg"
              title: "Недостаток прогнозных данных"
              caption: "План без информации приводит к потере урожая"

    secondSection:
        title: "ВОЗМОЖНОСТИ"
        iconFeatures:
            - img: "../assets/img/oxus_ws/icons/icons8-dew-point-100.png"
              title: "Относительная влажность"
              paragraph: "Измеряет атмосферное давление, температуру и влажность воздуха"

            - img: "../assets/img/oxus_ws/icons/icons8-windsock-100.png"
              title: "Скорость и направление ветра"
              paragraph: "Для измерения ветра используют анемометр и пропеллер"

            - img: "../assets/img/oxus_ws/icons/icons8-log-100.png"
              title: "Регистрация данных"
              paragraph: "Обеспечивает самостоятельное отслеживание и передачу данных"

            - img: "../assets/img/oxus_ws/icons/icons8-soil-100.png"
              title: "Влажность и температура почвы"
              paragraph: "Обеспечивает непрерывные точные измерения при установке в почву"

            - img: "../assets/img/oxus_ws/icons/icons8-rain-100.png"
              title: "Осадки"
              paragraph: "Записывает скорость ветра, направление и осадки"

    how_it_works:
        img: "../assets/img/oxus_ws/ru/how_it_works.png"
        title: "Как это работает?"
        text: "Параметры погоды, такие как направление и скорость ветра, влажность воздуха и почвы, измеряются с помощью датчиков и передаются на сервер через GSM/GPRS с использованием GPS. Данные обрабатываются и отображаются на онлайн-панели управления, чтобы фермеры могли наблюдать за ситуацией и принимать решения. Система является спутниковой, что повысит точность."

    product_gallery:
        title: "ФОТОГАЛЕРЕЯ"
        folder: "./assets/img/oxus_ws/gallery"
        sub: "../../"


    dashboard:
        photo_one: "../assets/img/oxus_ws/dashboard/dashboard1-1.png"
        photo_two: "../assets/img/oxus_ws/dashboard/dashboard4-1.png"
        title: "Программное решение"
        features:
            - text: "Информация, полученная с помощью метеостанции"
            - text: "Недельная погода и другие агрометеорологические прогнозы"
            - text: "Необходимые статистические показатели для агрономов"
            - text: "Прогнозы на более 30 болезней и вредителей"

    hardware:
        photo: "../assets/img/oxus_ws/ru/hardware.png"
        title: "Классификация устройства"
        text: "Оборудование метеостанции OXUS WS включает в себя набор сенсоров для точных измерений атмосферы и почвы, таких как температура, влажность, влажность почвы и электропроводность. Блок управления оснащен микропроцессором для сбора, обработки данных и установления беспроводной связи. Солнечная панель обеспечивает непрерывное питание, которое поддерживается перезаряжаемой батареей в качестве резерва."

    footer_info:
      title: "СДЕЛАЙТЕ ЗАКАЗ!"
      info: "Для заказа и интересующих вас вопросов:"
      bottom_strong: "2024 "
      bottom_ord: "© Amudar.io"

---